﻿@model App.Entities.ViewModels.PaymentMethod.PaymentMethodModel

<div class="modal fade" id="PaymentMethodModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Método de Pago</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar un método de pago.</small>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ActionEditPaymentMethod", "PaymentsMethods", FormMethod.Post, new { name = "formEditPaymentMethod", id = "formEditPaymentMethod" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.MenuOrder, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.EditorFor(model => model.MenuOrder, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MenuOrder, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Menu, htmlAttributes: new { @class = "control-label" })
                            <br />
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.Menu)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.SatCode, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.DropDownListFor(model => model.SatCode, null, "-- Selecciona relación con SAT--", htmlAttributes: new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.SatCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.DropDownListFor(model => model.Currency, null, htmlAttributes: new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.TypeV, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.DropDownListFor(model => model.TypeV, null, htmlAttributes: new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.TypeV, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.MaxAllowedPerSale, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.EditorFor(model => model.MaxAllowedPerSale, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaxAllowedPerSale, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.MaxChangedAllowedPerSale, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.EditorFor(model => model.MaxChangedAllowedPerSale, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaxChangedAllowedPerSale, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.MaxAllowedCashBack, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.EditorFor(model => model.MaxAllowedCashBack, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MaxAllowedCashBack, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.AllowExcededBalance, htmlAttributes: new { @class = "control-label" })
                            <br />
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.AllowExcededBalance)
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CanReturnChange, htmlAttributes: new { @class = "control-label" })
                            <br />
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.CanReturnChange)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.CancellationOrder, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.EditorFor(model => model.CancellationOrder, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CancellationOrder, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.AcceptWithdraw, htmlAttributes: new { @class = "control-label" })
                            <br />
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.AcceptWithdraw)
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.AcceptDonation, htmlAttributes: new { @class = "control-label" })
                            <br />
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.AcceptDonation)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="">
                            <div class="form-group col-lg-12">
                                <div class="text-right">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-success" id="SavePM" onclick="EditPaymentMethod()">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="ajaxTarget">
    <script type="text/javascript">
        $(function () {
            $('input').iCheck({ checkboxClass: 'icheckbox_square-green', });

            $("#formEditPaymentMethod").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                        .closest("form")
                        .find("span[data-valmsg-for='" + element.attr("id") + "']")
                        .append(error);
                },
                highlight: function (e) {
                    $("#AddPaymentMethod").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#AddPaymentMethod").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    Name: {
                        required: true
                    },
                    Key: {
                        digits: true
                    },
                    MenuOrder: {
                        digits: true
                    },
                    MaxAllowedPerSale: {
                        number: true
                    },
                    MaxChangedAllowedPerSale: {
                        number: true
                    },
                    MaxAllowedCashBack: {
                        number: true
                    },
                    CancellationOrder: {
                        digits: true
                    }
                },
                messages: {
                    Name: {
                        required: function () { return "Nombre de pago requerido."; }
                    },
                    Key: {
                        digits: function () { return "Solo admite números."; }
                    },
                    MenuOrder: {
                        digits: function () { return "Solo admite números."; }
                    },
                    MaxAllowedPerSale: {
                        number: function () { return "Solo admite números enteros o decimales."; }
                    },
                    MaxChangedAllowedPerSale: {
                        number: function () { return "Solo admite números enteros o decimales."; }
                    },
                    MaxAllowedCashBack: {
                        number: function () { return "Solo admite números enteros o decimales."; }
                    },
                    CancellationOrder: {
                        digits: function () { return "Solo admite números."; }
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
</div>