﻿@model App.Entities.ViewModels.PaymentMethod.PaymentMethodModel

@{
    ViewBag.Title = "PAME001";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Caja</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Catálogos</a></li>
                    <li class="active">
                        <span>Métodos de Pago</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Métodos de Pago
            </h2>
            <small>Registro de métodos de pago</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formPaymentsMethods" action="@Url.Action("PAME001","PaymentsMethods")" method="post">
                <div class="row">                    
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.MenuOrder, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.MenuOrder, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MenuOrder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Menu, htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div class="col-md-8">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.Menu)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">                    
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.SatCode, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.SatCode, null, "-- Selecciona relación con SAT--", htmlAttributes: new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.SatCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Currency, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.Currency, null, htmlAttributes: new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.TypeV, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.TypeV, null, htmlAttributes: new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.TypeV, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.MaxAllowedPerSale, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.MaxAllowedPerSale, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaxAllowedPerSale, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.MaxChangedAllowedPerSale, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.MaxChangedAllowedPerSale, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaxChangedAllowedPerSale, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.MaxAllowedCashBack, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.MaxAllowedCashBack, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MaxAllowedCashBack, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.AllowExcededBalance, htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div class="col-md-8">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.AllowExcededBalance)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.CanReturnChange, htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div class="col-md-8">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.CanReturnChange)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.CancellationOrder, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.CancellationOrder, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CancellationOrder, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.AcceptWithdraw, htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div class="col-md-8">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.AcceptWithdraw)
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.AcceptDonation, htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div class="col-md-8">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.AcceptDonation)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">                                        
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="AddPaymentMethod">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('input').iCheck({ checkboxClass: 'icheckbox_square-green', });

            $("#formPaymentsMethods").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#AddPaymentMethod").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#AddPaymentMethod").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    Name: {
                        required: true
                    },
                    Key: {
                        digits: true
                    },
                    MenuOrder: {
                        digits: true
                    },
                    MaxAllowedPerSale: {
                        number: true
                    },
                    MaxChangedAllowedPerSale: {
                        number: true
                    },
                    MaxAllowedCashBack: {
                        number: true
                    },
                    CancellationOrder: {
                        digits: true
                    }
                },
                messages: {
                    Name: {
                        required: function () { return "Nombre de pago requerido."; }
                    },
                    Key: {
                        digits: function () { return "Solo admite números."; }
                    },
                    MenuOrder: {
                        digits: function () { return "Solo admite números."; }
                    },
                    MaxAllowedPerSale: {
                        number: function () { return "Solo admite números enteros o decimales."; }
                    },
                    MaxChangedAllowedPerSale: {
                        number: function () { return "Solo admite números enteros o decimales."; }
                    },
                    MaxAllowedCashBack: {
                        number: function () { return "Solo admite números enteros o decimales."; }
                    },
                    CancellationOrder: {
                        digits: function () { return "Solo admite números."; }
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
        
        $("#AddPaymentMethod").click(function () {
            var form = $("#formPaymentsMethods").validate().form();
            if (form) {
                StartLoading();
                $.post({
                    url: '@Url.Action("PAME001", "PaymentsMethods")',
                    Type: 'POST',
                    dataType: 'json',
                    data: $("#formPaymentsMethods").serialize(),
                    success: function (data) {
                        EndLoading();
                        if (data.success) {
                            swal({
                                title: 'Método de Pago',
                                text: "Registro exitoso",
                                type: "success"
                            }, function () { window.location.reload(true); });
                        }
                        else {
                            swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                        }
                    }
                });                
            }
        });
    </script>
}
