﻿@model App.Entities.ViewModels.PaymentMethod.PaymentMethodModel

@{
    ViewBag.Title = "PAME002";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #cdcdcd;
    }

        table th, table td {
            padding: 5px;
            text-align: left;
        }

        td.details-control:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f101";
            cursor: pointer;
        }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }
</style>
@Styles.Render("~/bundles/datepicker/css")
@Styles.Render("~/bundles/datatables/css")

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Caja</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Catálogos</a></li>
                    <li class="active">
                        <span>Métodos de Pago</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Métodos de Pago
            </h2>
            <small>Editar métodos de pago</small>
        </div>
    </div>
</div>

<div class="content animated-panel" id="TableSection">
    <div class="hpanel">
        <div class="panel-body">
            <div class="table-responsive m-t">
                <table id="PaymentsMethodsTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Orden</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.PaymentsMethods)
                        {
                            <tr>
                                <td>@item.pm_id</td>
                                <td>@item.pm_name</td>
                                <td>@item.pm_order</td>
                                @if (item.pm_menu)
                                {
                                    <td><div checked><div class="icheckbox_square-green checked disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></div></td>
                                }
                                else
                                {
                                    <td><div checked><div class="icheckbox_square-green  disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></div></td>
                                }
                                <td id="@item.pm_id"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*Div to display modal*@
<div id="PM">
</div>
@section Scripts{
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    <script src="~/Vendor/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        var table = $('#PaymentsMethodsTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columns: [
                { data: 'pm_id' },
                { data: 'pm_name' },
                { data: 'pm_order' },
                { data: 'pm_menu' },
            ],

            columnDefs: [
                {
                    className: 'text-center'
                },
                { orderable: false, targets: [0, 4] },
                { visible: false, targets: [0] },
                {
                    data: null,
                    width: "30%",
                    targets: 4,
                    defaultContent: '<button id="EditPM" class="btn btn-xs btn-outline btn-info EditPM">Editar</button> <button id="DisablePM" class="btn btn-xs btn-outline btn-danger DisablePM">Desactivar</button>'
                }]
        });

        $('#TableSection tbody').on('click', 'tr button.DisablePM', function () {
            var td = $(this).closest('td');
            var pmId = td.context.parentNode.id;

            swal({
                title: "¿Estas seguro?",
                text: "Una vez que se desactive no aparecerá en el punto de venta",//"Una vez que se desactive no aparecerán los productos relacionados a esta compañía en el punto de venta",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    StartLoading();
                    $.post({
                        url: '@Url.Action("ActionDisablePaymentMethod", "PaymentsMethods")',
                        Type: 'POST',
                        dataType: 'json',
                        data: { "PaymentMethodId": pmId },
                        success: function (data) {
                            EndLoading();
                            if (data.success) {
                                swal({
                                    title: 'Método de Pago',
                                    text: "Método Desactivado",
                                    type: "success"
                                }, function () { window.location.reload(true); });
                            }
                            else {
                                swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                            }
                        }
                    });
                } else {
                    swal("Error", "Compañía no desactivada", "error");
                }
            })
        });

        $("#TableSection tbody").on('click', 'tr button.EditPM', function () {
            var td = $(this).closest('td');
            var paymentMethodId = td.context.parentNode.id;

            $.ajax({
                url: '@Url.Action("ActionEditPaymentMethod", "PaymentsMethods")',
                Type: 'GET',
                data: { "PaymentMethodId": paymentMethodId },
                success: function (data) {
                    $("#PM").html(data);
                    $("#PaymentMethodModal").modal('show');
                }
            });
        });

        function EditPaymentMethod() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionEditPaymentMethod", "PaymentsMethods")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formEditPaymentMethod").serialize(),
                success: function (data) {
                    var text = data.responseText;
                    $('#PaymentMethodModal').modal('hide');
                    EndLoading();
                    swal({
                        title: 'Método de pago',
                        text: text + " exitosamente.",
                        type: "success"
                    }, function () { window.location.reload(true); });
                },
            });
        }


    </script>
}