﻿
<div class="hpanel hblue" id="creditorsDivRelation">
    <div class="panel-heading hbuilt">
        <div class="panel-tools">
            <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
        </div>
        <div class="row">
            <a class="showhide">
                <div class="col-md-5">
                    Relación provedor Categoría
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-12 panel-body no-padding">
        <div class="col-lg-4" style="margin-top:15px;">
            <label>Proveedor</label>
            <select class="form-control" id="creditorsSupplierSelect2" onchange="CategorysSupplier()"></select>
        </div>
        <div class="col-md-5 contact-panel" style="margin-top:16px;">
            <div class="hpanel hgreen">
                <label title="Selecciona una Categoría" data-toggle="tooltip" data-placement="right">Selecciona una Categoría</label>
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            Categorías.
                        </div>
                        <div class="col-md-5">
                            <form action="">
                                <div class="input-group">
                                    <input id="searchListassigned" type="text" class="form-control input-xs" placeholder="Buscar Categoría..." onkeyup="searchLists('assignedList,#searchListassigned');" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-xs btn-default" type="button" onclick="searchLists('assignedList,#searchListassigned');">
                                            <span class="fa fa-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body no-padding" style="display: block;" id="bodySites">
                    <ul id="assignedList" class="list-group"></ul>
                </div>
            </div>
        </div>
        <div class="colg-lg-4">
            <button id="buttoSave" style="margin-top:38px;" class="btn btn-success" onclick="NewSaveCategory()"><i class="fa fa-save"></i> Guardar</button>
        </div>
    </div>
</div>

<div class="col-lg-12" id="formCreditorsDiv" hidden>
    <div class="col-lg-12">
        <h4 id="productTitle">Producto del acredor</h4>
    </div>
    <div class="col-lg-4" style="margin-top:15px;">
        <label>Proveedor</label>
        <select class="form-control" id="creditorsSupplierSelect"></select>
    </div>
    <div class="col-lg-4" style="margin-top:15px;">
        <label>Producto</label>
        <select class="form-control" id="creditorsProductSelect"></select>
    </div>

    <div class="col-lg-4" style="margin-top:15px;">
        <label>Precio</label>
        <input class="form-control" type="text" id="creditorsPriceForm" name="name" min="0" value="0" />
    </div>
    <div class="col-lg-4" style="margin-top:20px;">
        <label>Moneda</label>
        </br>
        <select class="form-control" id="currencySelect"></select>
    </div>
    <div class="col-lg-1" style="margin-top:15px;">
        <label>Activo</label>
        <div class="form-group">
            <label> <input type="checkbox" id="creditorsActive" class="i-checks"></label>
        </div>
    </div>
    <div class="col-lg-5" style="margin-top:37px;">
        <button style="margin-right:10px;" id="buttonSaveCreditors" class="btn btn-success">Guardar</button>
        <button onclick="DivCreditorsOption(true)" class="btn btn-danger">Cancelar</button>
    </div>
</div>

<div class="col-lg-12" id="tableCategoryDiv" style="margin-top:20px;">
    <div class="table-responsive">
        <table id="creditorsTable" cellpadding="1" cellspacing="1" style="width:100%; " class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Proveedor</th>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Categoría</th>
                    <th>Requisición</th>
                    <th>Activo</th>
                    <th>Precio</th>
                    <th>Moneda</th>
                    <th>
                        @*<button type="button" class="btn btn-success" onclick="FormCreditor()">
                                <i data-toggle="tooltip" data-placement="top" data-original-title="Agregar Relacion Producto Acredor" class="fa fa-plus"></i>
                            </button>*@
                        #
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
