﻿
<div class="col-lg-12" id="tableCategoryDiv" style="margin-top:20px;">
    <div class="table-responsive">
        <table id="categoryTable" cellpadding="1" cellspacing="1" style="width:100%; " class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Comprador</th>
                    <th>
                        <button type="button" class="btn btn-success" onclick="ModalOpenCategory()" @*data-toggle="modal" data-target="#CategoryModal" *@>
                            <i data-toggle="tooltip" data-placement="top" data-original-title="Agregar Categoria" class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div id="CategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="color-line"></div>
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="categoryTitle" class="modal-title">Agregar Categoría</h4>
                <small id="categorySubTitle" class="font-bold">Se guardará la categoría</small>
            </div>
            <div class="modal-body row">
                <div class="col-lg-6">
                    <label>Nombre</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="fa fa-reorder"></span>
                        </span>
                        <input class="form-control" type="text" name="name" maxlength="50" value="" id="CategoryNameForm" />
                    </div>
                </div>
                <div class="col-lg-6">
                <label>Comprador</label>
                <select id="selectBuyerDivision" class="form-control select2">
                    <option value="0">Seleccione una Opción</option>
                    <option value="P007">Vianney Valdivia</option>
                    <option value="P008">Roberto Morales</option>
                </select>
            </div>
                <div class="col-lg-12">
                    <label>Descripción</label>
                    <textarea class="form-control" id="CategoryDescriptionForm" maxlength="250"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button id="buttonSaveCategory" type="button" class="btn btn-success"> <i class="fa fa-save"></i> Guardar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"> <i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

