﻿
<div class="col-lg-12" id="formProductDiv">
    <div class="col-lg-12">
        <h4 id="productsTitle">Agregar Producto</h4>
    </div>
    <div class="col-lg-4" style="margin-top:15px;">
        <label>Código</label>
        <input class="form-control" type="text" maxlength="50" name="name" value="" id="ProductPartNumberForm" />
    </div>
    <div class="col-lg-4" style="margin-top:15px;">
        <label><a style="color:#3498db;" onclick="ModalOpenCategory()" data-toggle="tooltip" data-placement="top" data-original-title="Agregar Categoría">Categoría +</a></label>
        <select class="form-control" id="productSelect"></select>
    </div>

    <div class="col-lg-4" style="margin-top:15px;">
        <label>Tipos</label>
        <select class="form-control" id="productType"></select>
    </div>

    <div class="col-lg-4" style="margin-top:15px;">
        <label>Descripción</label>
        <textarea class="form-control" id="ProductDescriptionForm" maxlength="250"></textarea>
    </div>
    <div class="col-lg-6" style="margin-top:37px;">
        <label style="margin-right:25px;"> <input type="checkbox" id="ProductStateForm" class="i-checks"><b>  Activo</b></label>
        <label style="margin-right:25px;"> <input type="checkbox" id="ProductRequisitionForm" class="i-checks"><b>  Requisición</b></label>

        <button style="margin-right:10px;" id="buttonSaveProduct" class="btn btn-success"><i class="fa fa-save"></i> Guardar</button>
        <button onclick="DivProductsOption(true)" class="btn btn-danger"><i class="fa fa-close"></i> Cancelar</button>
    </div>
</div>
<div class="col-lg-12" id="tableProductDiv" style="margin-top:20px;">
    <div class="table-responsive">
        <table id="productTable" cellpadding="1" cellspacing="1" style="width:100%; " class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Categoría Id</th>
                    <th>Categoría</th>
                    <th>Tipo</th>
                    <th>Requisición</th>
                    <th>Estado</th>
                    <th>
                        <button type="button" class="btn btn-success" onclick="SaveProducts()" @*data-toggle="modal" data-target="#CategoryModal" *@>
                            <i data-toggle="tooltip" data-placement="top" data-original-title="Agregar Productos" class="fa fa-plus"></i>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>