﻿@{ ViewBag.Title = "COST001"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li class="active">
                        <span>Gastos </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gastos
            </h2>
            <small>Menu de gastos. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH019">
                            <h2 class="m-b-xs">Agrupa ordenes de compra.</h2>
                            <div class="m">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <p class="small">
                                se mandara por correo a los ordenes de compra y podra modificar las ordenes en caso de necesitarlo
                            </p>
                            <br />
                        </a>
                        <a href="PURCH019" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>