﻿@{
    ViewBag.Title = "Menu Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH007">
                            <h2 class="m-b-xs">Gestion de Productos</h2>
                            <div class="m">
                                <i class="fa fa-cubes fa-5x"></i>
                            </div>
                            <p class="small">
                                Modulo para Gestion de Productos
                            </p>
                            <br />
                        </a>
                        <a href="PURCH007" class="btn btn-info btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH001">
                            <h2 class="m-b-xs">Gestion de Proveedores</h2>
                            <div class="m">
                                <i class="pe-7s-user fa-5x"></i>
                            </div>
                            <p class="small">
                                Modulo para Gestion de Proveedores
                            </p>
                            <br />
                        </a>
                        <a href="PURCH001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH006">
                            <h2 class="m-b-xs">Gestion de Negociaciones</h2>
                            <div class="m">
                                <i class="pe-7s-users fa-5x"></i>
                            </div>
                            <p class="small">
                                Modulo para Gestion de Negociaciones
                            </p>
                            <br />
                        </a>
                        <a href="PURCH006" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="COST001">
                            <h2 class="m-b-xs">Gestion de Gastos</h2>
                            <div class="m">
                                <i class="fa fa-balance-scale fa-5x"></i>
                            </div>
                            <p class="small">
                                Modulo para Gestion de Gastos
                            </p>
                            <br />
                        </a>
                        <a href="COST001" class="btn btn-info btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH014">
                            <h2 class="m-b-xs">Gerencia de Cajas</h2>
                            <div class="m">
                                <i class="fa fa-dropbox fa-5x"></i>
                            </div>
                            <p class="small">
                                Modulo para Gerencia de Cajas
                            </p>
                            <br />
                        </a>
                        <a href="PURCH014" class="btn btn-info btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>