﻿@{ ViewBag.Title = "PURCH011"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH010">Reportes</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Reporte de Costo de Compra</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de Cambio de Costos
            </h2>
            <small>Muestra el reporte de cambio de costos. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    Buscador de reportes de cambios de costos
                </div>
                <div class="panel-body">
                    <div class="col-lg-3">
                        <label style="font-weight: bold;"> Desde: </label>
                        <div class="form-group ">
                            <div class='input-group date' id='datetimepicker'>
                                <input id="dateInit" name="dateInit" required type='text' class="form-control" autocomplete="off" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <label style="font-weight: bold;"> Hasta: </label>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker2'>
                                <input id="dateFin" name="dateFin" required type='text' class="form-control" autocomplete="off" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                        </div>
                    </div>
                    <div class="col-lg-1" style="margin-top:22px">
                        <div class="form-group">
                            <div class="input-group">
                                <button id="buttonPrint" class="btn btn-info" type="button" data-toggle="modal" data-target="#myModal8" onclick="PrintTable()"><i class="fa fa-print"></i> Imprimir/PDF</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 table-responsive" style="margin-top:8px;">
                        <table class="table table-striped table-bordered table-hover" style="width:100%" id="tableOrdered">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Código</th>
                                    <th style="text-align:center;">Nombre</th>
                                    <th style="text-align:center;">Empresa</th>
                                    <th style="text-align:center;">Costo</th>
                                    <th style="text-align:center;">Moneda</th>
                                    <th style="text-align:center;">Departamento</th>
                                    <th style="text-align:center;">Familia</th>
                                    <th style="text-align:center;">Categoría</th>
                                    <th style="text-align:center;">Válido del</th>
                                    <th style="text-align:center;">Válido hasta</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="myModal8" tabindex="-1" role="dialog" aria-hidden="true" w>
    <div class="modal-dialog modal-lg row">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Imprimir/PDF</h4>
            </div>
            <div class="modal-body" style="height:350px">
                <div id="iframes" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH011/js") }