﻿{
    ViewBag.Title = "PURCH031";
}
<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    td.details-control2:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details2 td.details-control2:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    td.details-control3:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details3 td.details-control3:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;

        content: "\f103";
        cursor: pointer;
    }

        .rowSelected {
            background-color: skyblue !important;
            color:black;
        
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href=""></a>Reportes</li>
                    <li class="active">
                        <span>Reporte Transferencias</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Concentrado de Transferencias
            </h2>
            <small>Reporte de las entradas y salidas de Transferencias</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Transferencias</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    @Html.TextBox("ValidDate1", null, new { @class = "form-control", @autocomplete = "off" })
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    @Html.TextBox("ValidDate2", null, new { @class = "form-control", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2" id="statusTransfer">
                            <label>Estatus</label>
                            <select class="form-control select2" id="statusTransfers">
                                <option value="4">En transito</option>
                                <option value="8">Canceladas</option>
                                <option value="9" selected>Completadas</option>
                            </select>
                        </div>
                        <div class="col-lg-2" id="partTy">
                            <label>Tipo Mercancia</label>
                            <select class="form-control select2" id="part_type">
                                <option value="HAWA">Mercancia General</option>
                                <option value="ROH">Material Operacion</option>
                                <option value="ALL" selected>Todos</option>
                            </select>
                        </div>
                        <div class="col-lg-1" style="margin-top:5px;">
                            <br />
                            <button id="Search" class="btn btn-primary" onclick="searchTransfers()"> <i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>
                    <div id="tableTransfersDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tableTransfers" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Sitio</th>
                                                <th>Tienda</th>
                                                <th>Enviado</th>
                                                <th>Recibido</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/Datatable.js"></script>
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/slimScroll/jquery.slimscroll.min.js"></script>
    @Scripts.Render("~/vendor/select2-3.5.2/select2.min.js")
    <script src="~/Vendor/select2-3.5.2/select2_locale_es.js"></script>
    <script src="~/Vendor/moment/locale/es.js"></script>
    <script type="text/javascript">
        $("#ValidDate1").datepicker({
            autoclose: true,
            todayHighlight: true,
            showButtonPanel: true,
        }).on("changeDate", function (e) {
        });
        $("#ValidDate2").datepicker({
            autoclose: true,
            todayHighlight: true,
        }).on("changeDate", function (e) {
        });
        $("#statusTransfers").select2();
        $("#part_type").select2();

        const fomartmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal }).format(money);

        function searchTransfers() {
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/Transfers/ActionGetTransfersTotalsSP/",
                data: { "dateInit": $('#ValidDate1').val(), "dateFinish": $('#ValidDate2').val() , "statusTransfers": $('#statusTransfers').val() , "part_type" : $("#part_type").val() },
                success: function (returndate) {
                    if (returndate == "SF") {
                        EndLoading();
                        SessionFalse("Terminó su sesión.");
                    }
                    else if (returndate.length != 0) {
                        $("#TableDiv").animatePanel();
                        table.clear();
                        table.rows.add($(returndate));
                        table.columns.adjust().draw();
                        EndLoading();
                    } else {
                        $("#TableDiv").animatePanel();
                        table.clear();
                        table.rows.add($(returndate));
                        table.columns.adjust().draw();
                        EndLoading();
                        toastr.warning("No se encontraron transferencias");
                    }
                },
                error: function (returndate) {
                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }


        $("#tableTransfers").append('<tfoot><th>Total</th><th><th></th></th><th></th><th></th></tfoot>');

        var table = $('#tableTransfers').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            "pageLength": -1,
            buttons: [
                 {
                     extend: 'csv', text: 'Excel', title: 'Transferencias', filename: function () {
                         return 'Transferencias';
                     }, className: 'btn-sm', exportOptions: {
                         columns: [2, 3, 4]
                     }
                 },
                 {
                     extend: 'pdf', text: 'PDF', title: 'Transferencias', className: 'btn-sm', exportOptions: {
                         columns: [2, 3, 4]
                     },
                 },
                 {
                     extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: {
                         columns: [2, 3, 4]
                     }
                 },
            ],
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;
                // converting to interger to find total
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                        i : 0;
                };
                var total = 0;
                for (var i = 3; i <= 4; i++) {
                    var monTotal = api
                        .column(i)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);
                    total += monTotal;
                    $(api.column(i).footer()).html(`<span> ${fomartmoney(monTotal)(2)}</span >`);
                }
            },
            columns:
                [
                    {
                        "class": "details-control",
                        "orderable": false,
                        "data": null,
                        "defaultContent": "",
                        width: "1%"
                    },
                    { data: 'site_code' },
                    { data: 'site_name' },
                    { data: 'enviado' },
                    { data: 'recibido' }
                ],
            columnDefs:
                [{
                    targets: [0],
                    width: "20%"
                }, {
                    targets: [2],
                    width: "30%"
                },
                {
                    targets: [1],
                    visible: false
                },
                {
                    targets: [3, 4],
                    width: "25%",
                    render: function (data, type, row) {
                        return `${fomartmoney(data)(2)}`
                    }
                }
                ]
        });

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        FullTd = element => Option => `<td>${Option == 1 ? fomartmoney(element)(2) : Option == 0 ? element : element != null && element.trim() != "" ? "Contado" : "No contado"}</td >`
        FullTh = element => `<th>${element}</th>`
        FullTable = element => array => array.map(title => FullTd(element[title.title])(title.option)).toString();
        FullTableHeader = array => `<tr>${array.map(title => FullTh(title))}</tr>`

        var detailRows = [];
        $('#tableTransfers tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
                tr.removeClass('rowSelected');
            }
            else {
                if (table.row('.details').length) {
                    $('.details-control', table.row('.details').node()).click();
                }
                ip_address = row.data().ip_address;
                site_code = row.data().site_code;
                row.child(format(row.data())).show();
                tr.addClass('details');
                tr.addClass('rowSelected');
            }
        });

        var site_code_tra;
        var transfer_detail;

        //Tabla detalles
        function format(d) {
            var detailItems = "";
            site_code_tra = d.site_code;
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "/Transfers/ActionGetTransfersReportSiteSP/",
                data: { "dateInit": $('#ValidDate1').val(), "dateFinish": $('#ValidDate2').val(), "site_code": d.site_code, "statusTransfers": $('#statusTransfers').val(), "part_type": $("#part_type").val() },
                type: "POST",
                success: function (json) {

                    if (json == "SF") {
                        SessionFalse("Terminó tu sesión");
                        return;
                    } else {
                        detailItems = json.map(value => ` <tr>${FullTable(value)([
                        { title: null, option: 0 },
                        { title: "site_code", option: 0 },
                        { title: "site_selected", option: 0 },
                        { title: "site_name", option: 0 },
                        { title: "enviado", option: 0 },
                        { title: "recibido", option: 0 }])}</tr>`).join().replace(/>,</g, '><').replace(/>, </g, '><')
                        header = FullTableHeader(["", "site_code", "Tienda Seleccionada", "Tienda", "Enviado", "Recibido"]).replace(/,/g, '')
                        var Html = (`<div class="table-responsive"><table id="tabledetail" class="table table-striped table-bordered table-hover" style="width:100%"><thead>
                                                      ${header}
                                        </thead><tbody>${detailItems.length > 0 ? detailItems : "<td colspan='8' style='text-align: center;'>No cuenta con transferencias</td>"}</tbody></table></div>`)
                        tabledetail.html(Html).removeClass('loading');
                        //$("#tabledetail").append('<tfoot><th>Total</th><th><th></th></th><th></th><th></th></tfoot>');
                        if (detailItems.length > 0)
                            reloadStyleTable();

                    }
                }
            });
            return tabledetail;
        }

        //Tabla detalles2
        function format2(d) {
            console.log();
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "/Transfers/ActionGetAllTransfersSites/",
                data: { "dateInit": $('#ValidDate1').val(), "dateFinish": $('#ValidDate2').val(), "site_code_des": d[1], "site_code_tra": site_code_tra, "statusTransfers": $('#statusTransfers').val(), "part_type": $("#part_type").val() },
                type: "POST",
                success: function (json) {
                    if (json == "SF") {
                        SessionFalse("Terminó tu sesión");
                        return;
                    } else {
                        detailItems = json.map(value => ` <tr>${FullTable(value)([
                        { title: null, option: 0 },
                        { title: "site_code", option: 0 },
                        { title: "transfer_document", option: 0 },
                        { title: "transfer_site_name", option: 0 },
                        { title: "transfer_type", option: 0 },
                        { title: "site_name", option: 0 },
                        { title: "transfer_date_out", option: 0 },
                        { title: "transfer_date_in", option: 0 },
                        { title: "transfer_status", option: 0 },
                        { title: "subtotal", option: 0 },
                        { title: "iva", option: 0 },
                        { title: "ieps", option: 0 },
                        { title: "total", option: 0 }
                        ])}</tr>`).join().replace(/>,</g, '><').replace(/>, </g, '><')
                        header = FullTableHeader(["","site_code", "# Transferencia", "Tienda", "Tipo","Tienda Afectada", "Fecha Salida" , "Fecha Entrada", "Status", "SubTotal", "IVA", "IEPS", "Total"]).replace(/,/g, '')
                        var Html = (`<div class="table-responsive"><table id="tabledetail2" class="table table-striped table-bordered table-hover" style="width:100%"><thead>
                                      ${header}
                                        </thead><tbody>${detailItems.length > 0 ? detailItems : "<td colspan='10' style='text-align: center;'>No cuenta con transferencias</td>"}</tbody></table></div>`)
                        tabledetail.html(Html).removeClass('loading');
                        //$("#tabledetail2").append('<tfoot><th>Total</th><th><th></th></th><th></th><th></th></tfoot>');
                        //if (count == 0) {
                        if(detailItems.length>0)
                            reloadStyleTable2();
                        //    count++;
                        //}

                    }
                }
            });
            return tabledetail;
        }

        //Tabla detalles3
        function format3(d) {
            transfer_detail = d[2];
            console.log(d);
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            $.ajax({
                url: "/Transfers/ActionGetAllTransferDetailsReportByType/",
                data: { "Document": d[2], "mainSite": d[1], "status_transfer": $('#statusTransfers').val(), "product_type": $("#part_type").val()  , "transfer_type": d[4]},
                type: "POST",
                success: function (json) {
                    console.log(json);
                    if (json == "SF") {
                        SessionFalse("Terminó tu sesión");
                        return;
                    } else {
                        detailItems = json.map(value => ` <tr>${FullTable(value)([
                        { title: "PartNumber", option: 0 },
                        { title: "Description", option: 0 },
                        { title: "Quantity", option: 0 },
                        { title: "UnitCost", option: 0 },
                        { title: "SubTotal", option: 0 },
                        { title: "Iva", option: 0 },
                        { title: "IEPS", option: 0 },
                        { title: "Total", option: 0 }
                        ])}</tr>`).join().replace(/>,</g, '><').replace(/>, </g, '><')
                        header = FullTableHeader(["Código", "Descripción", "Cantidad", "Costo Unitario", "SubTotal", "IVA", "IEPS", "Total"]).replace(/,/g, '')
                        var Html = (`<div class="table-responsive"><table id="tabledetail3" class="table table-striped table-bordered table-hover" style="width:100%"><thead>
                                       ${header}
                                        </thead><tbody>${detailItems.length > 0 ? detailItems : "<td colspan='8' style='text-align: center;'>No cuenta con productos</td>"}</tbody></table></div>`)
                        tabledetail.html(Html).removeClass('loading');
                        //$("#tabledetail2").append('<tfoot><th>Total</th><th><th></th></th><th></th><th></th></tfoot>');
                        //if (count == 0) {
                        if (detailItems.length > 0)
                            reloadStyleTable3();
                        //    count++;
                        //}

                    }
                }
            });
            return tabledetail;
        }

        var tabledetail;
        var tabledetail2;
        var tabledetail3;

        //Recargar tabla
        function reloadStyleTable() {
           tabledetail = $('#tabledetail').DataTable({
               oLanguage: {
                   "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningun dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Ãltimo", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
               },
               dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
               buttons: [
                   {
                       extend: 'csv', text: 'Excel', title: 'Detalle2', className: 'btn-sm', exportOptions: {
                           columns: [2, 3, 4,5]
                       }, footer: true
                   },
                   {
                       extend: 'pdf', text: 'PDF', title: 'Detalles Conciliacion PRT - MES', className: 'btn-sm', exportOptions: {
                           columns: [2, 3, 4,5]
                       },
                   },
                   {
                       extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: {
                           columns: [2, 3, 4,5]
                       }
                   },
               ],
               lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
               "pageLength": -1,
               columns: [
                    {
                        "class": "details-control2",
                        "orderable": false,
                        "data": null,
                        "defaultContent": "",
                        width: "1%"
                    }
               ],
               columnDefs:
                   [{
                       targets: [0],
                       width: "10%"
                   }, {
                       targets: [2,3],
                       width: "20%"
                   }, {
                       targets: [1],
                       visible: false
                   },
                    {
                    targets: [ 4,5],
                    width: "25%",
                    render: function (data, type, row) {
                        return `${fomartmoney(data)(2)}`
                    }
                }]
           });
           showTableDetail();
        }

        //Recargar tabla
        function reloadStyleTable2() {
            tabledetail2 = $('#tabledetail2').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningun dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Ãltimo", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                buttons: [
                    {
                        extend: 'csv', text: 'Excel', title: 'Detalle3', className: 'btn-sm', exportOptions: {

                            columns: [ 2, 3, 4, 5, 6, 7,8,9,10,11,12]

                        }, footer: true
                    },
                    {
                        extend: 'pdf', text: 'PDF', title: 'Detalles Conciliacion PRT - MES', className: 'btn-sm', exportOptions: {
                            columns: [ 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12]


                        },
                    },
                    {
                        extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: {
                            columns: [ 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12]

                        }
                    },
                ],
                columns: [
                     {
                         "class": "details-control3",
                         "orderable": false,
                         "data": null,
                         "defaultContent": "",
                         width: "1%"
                     }
                ],
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "pageLength": -1,
                columnDefs:
                    [{
                        targets: [0, 1, 2, 3, 4,5,6,7,8,9,10,11,12],
                        width: "1%"
                    }, {
                        targets: [1],
                        visible: false
                    },{
                        targets: [4],
                        render: function (data, type, row) {
                            if (data == "Entrada")
                                return`<i class="fa fa-arrow-left"></i> Entrada`
                            else
                                return`<i class="fa fa-arrow-right"></i> Salida`
                        }
                    },{
                        targets: [8],
                        render: function (data, type, row) {
                            if (data == 4)
                                return "En tránsito";
                            else if (data == 9)
                                return "Completada"
                            else if (data == 8)
                                return "Cancelada"
                            else
                                return data
                        }
                    },
                    {
                        targets: [9,10,11,12],
                        render: function (data, type, row) {
                            return `${fomartmoney(data)(2)}`
                        }
                    }]
            });

            showTableDetail2();
        }
        //Recargar tabla
        function reloadStyleTable3() {
            tabledetail3 = $('#tabledetail3').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningun dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Ãltimo", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                //buttons: [
                //    {
                //        extend: 'csv', text: 'Excel', title: 'Detalles Conciliacion PRT - MES' + moment(new Date().getTime()).format("DD-MM-YYYY hh-mm"), className: 'btn-sm', exportOptions: {
                //            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                //        }, footer: true
                //    },
                //    {
                //        extend: 'pdf', text: 'PDF', title: 'Detalles Conciliacion PRT - MES', className: 'btn-sm', exportOptions: {
                //            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                //        },
                //    },
                //    {
                //        extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: {
                //            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                //        }
                //    },
                //],
                buttons: [
        {
            extend: 'csvHtml5',
            text:'Excel',
            title: 'Transferencia',
            customize: function (csv) {
                return "Transferencia: " + transfer_detail + "\n" + csv;
            }
        }

        //'excelHtml5',
        //'csvHtml5',
        //'pdfHtml5'
                ] ,
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                "pageLength": -1,
                columnDefs:
                    [{
                        targets: [0, 1, 2, 3, 4, 5, 6, 7],
                        width: "1%"
                    },{
                targets: [3,4,5,6,7],
            render: function (data, type, row) {
                return `${fomartmoney(data)(2)}`
            }
        }]
            });

            //showTableDetail2();
        }

        var count = 0

        function showTableDetail() {
            tabledetail.on('draw', function () {
                $.each(detailRows, function (i, id) {
                    $('#' + id + ' td.details-control2').trigger('click');
                });
            });
            //segunda tabla
            $('#tabledetail tbody').on('click', 'tr td.details-control2', function () {
                var tr = $(this).closest('tr');
                var row = tabledetail.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('details2');
                    tr.removeClass('rowSelected');
                }
                else {
                    if (tabledetail.row('.details').length) {
                        $('.details-control2', tabledetail.row('.details2').node()).click();
                    }
                    row.child(format2(row.data())).show();
                    tr.addClass('details2');
                    tr.addClass('rowSelected');
                }
            });
        }
        function showTableDetail2() {
            //segunda tabla
            $('#tabledetail2 tbody').on('click', 'tr td.details-control3', function () {
                var tr = $(this).closest('tr');
                var row = tabledetail2.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('details3');
                    tr.removeClass('rowSelected');
                }
                else {
                    if (tabledetail2.row('.details3').length) {
                        $('.details-control3', tabledetail2.row('.details').node()).click();
                    }
                    row.child(format3(row.data())).show();
                    tr.addClass('details3');
                    tr.addClass('rowSelected');
                }
            });

            if (count == 0) {
                tabledetail2.on('draw', function () {
                    $.each(detailRows, function (i, id) {
                        $('#' + id + ' td.details-control3').trigger('click');
                    });
                });
                count++;
            }
        }


    </script>
}