﻿@model FloridoERP.ViewModels.Purchases.PURCH013ViewModel
@{ ViewBag.Title = "PURCH013"; }
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Programar Ofertas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Programar Promociones por Producto.
            </h2>
            <small>Formulario para programar promociones por producto.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Programar promociones</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="form-group col-lg-2">
                                        <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Fecha Inicial</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                            <input id="fechaInicio" placeholder="Fecha Inicial" type="text" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-2">
                                        <label title="Fecha Final" data-toggle="tooltip" data-placement="right">Fecha Final</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                            <input id="fechaFin" placeholder="Fecha Final" type="text" class="form-control" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-3">
                                        <label title="Tipo de Oferta" data-toggle="tooltip" data-placement="right">Tipo de Oferta</label>
                                        @Html.DropDownListFor(m => m.Ofertas, Model.OfertList, new { @class = "form-control", @id = "tipo", @onchange = "validateTypePromotion(this.value)" })
                                    </div>
                                    <div class="col-md-5 contact-panel">
                                        <div class="hpanel hgreen">
                                            <label title="Selecciona Tienda" data-toggle="tooltip" data-placement="right">Selecciona Tienda</label>
                                            <div class="panel-heading hbuilt">
                                                <div class="panel-tools">
                                                    <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        Tiendas.
                                                    </div>
                                                    <div class="col-md-5">
                                                        <form action="">
                                                            <div class="input-group">
                                                                <input id="searchListassigned" type="text" class="form-control input-xs" placeholder="Buscar Tienda..." onkeyup="searchLists('assignedList,#searchListassigned');" />
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-xs btn-default" type="button" onclick="searchLists('assignedList,#searchListassigned');">
                                                                        <span class="fa fa-search"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body no-padding" style="display: block;" id="bodySites">
                                                <ul id="assignedList" class="list-group">
                                                    @foreach (var item in Model.SiteList)
                                                    {
                                                        <li class="list-group-item">
                                                            <p class="checkbox">
                                                                <input type="checkbox" name="available" value="@item.Value.ToString()">&nbsp;&nbsp;
                                                                <label id="Label_@item.Value.ToString()" for="Label_@item.Value.ToString()">@item.Text.ToString()</label>
                                                            </p>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hpanel hgreen">
                                            <div class="panel-heading hbuilt">
                                                <div class="panel-tools">
                                                    <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                </div>
                                                <a class="font-bold" id="text_promotion">
                                                    Agregar Producto
                                                </a>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-lg-12">
                                                    <div class="row" id="promotion_description_hide">
                                                        <div class="col-md-8 col-md-offset-2">
                                                            <label title="Descripción de la promoción avanzada" data-toggle="tooltip" data-placement="right">Descripción de la promoción avanzada</label>
                                                            <div class="input-group m-b">
                                                                <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                                                                <input id="promotion_description" name="promotion_description" type="text" placeholder="Agregar descripción de la promoción" class="form-control" autocomplete="off" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-11">
                                                        <label title="Seleccione un producto" data-toggle="tooltip" data-placement="right">Seleccione un producto</label>
                                                        <input class="form-control" id="ItemsDrop" name="ItemsDrop" data-bind="event: { change: GetInfoProduct('ItemsDrop') }" />
                                                    </div>
                                                    <div class="col-md-1" style="padding-top:20px">
                                                        <button class="btn btn-success" id="product_button" data-toggle="tooltip" title="Agregar Producto" data-bind="click: AddProductToTable">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hpanel hgreen">
                                            <div class="panel-heading hbuilt">
                                                <div class="panel-tools">
                                                    <a id="PanelCombo" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                </div>
                                                <a class="font-bold">
                                                    Datos de la promoción.
                                                </a>
                                            </div>
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table id="TableGlobalPromotions" class="table table-striped table-bordered table-hover" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Código</th>
                                                                <th>Descripción</th>
                                                                <th>Precio Actual</th>
                                                                <th>Cantidad</th> @*Input - Avanzada*@
                                                                <th>Precio Total</th> @*Avanzadas*@
                                                                <th>Precio Promoción</th> @*Input - Normal/Avanzada*@
                                                                <th>Común</th> @*Avanzadas*@
                                                                <th>Eliminar</th>
                                                                <th>Actualizado</th> @*invisible*@
                                                                <th>Pesado</th> @*invisible*@
                                                                <th>Forzado 90</th> @*invisible*@
                                                            </tr>
                                                        </thead>
                                                        <tbody></tbody>
                                                    </table>
                                                </div>
                                                <div id="optionTable">
                                                    <div class="col-lg-12" id="totalFinalForm">
                                                        <div class="pull-right" style="width:26%;">
                                                            <div class="col-lg-6" style="border:1px solid #dddddd"><b> Total:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalFinal">0</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                Listado de productos de la oferta.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-12">
                                <div class="pull-left">
                                    <button id="btnCancel" type="button" class="btn btn-info" onclick="ClearAll();"><i class="fa fa-close"></i> Limpiar</button>
                                </div>
                                <div class="text-right">
                                    <button id="btnSave" btnSave type="button" class="btn btn-success" onclick="SaveMessage()"><i class="fa fa-upload"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalAddPages" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-cubes"></i> Agregar Productos en Comun</h4>
                <small id="ModalDescription" class="font-bold">Formulario para registrar varios productos en común.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-8">
                        <label for="cantidadComun" title="Producto" data-toggle="tooltip" data-placement="right">Producto</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-inbox"></span>
                            </span>
                            <input readonly="readonly" id="descripctionComun" name="descripctionComun" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="cantidadComun" title="Cantidad" data-toggle="tooltip" data-placement="right">Cantidad</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-cube"></span>
                            </span>
                            <input readonly="readonly" id="cantidadComun" name="cantidadComun" min="0" max="9999999" type="number" maxlength="8" placeholder="Cantidad" class="form-control Numeric" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label title="Precio Común" data-toggle="tooltip" data-placement="right">Precio</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-usd"></span>
                            </span>
                            <input readonly="readonly" id="precioComun" name="precioComun" min="0" max="9999999" type="number" maxlength="8" placeholder="Precio" class="form-control Decimal" />
                        </div>
                    </div>
                    <div class="form-group col-lg-11">
                        <label for="productoComun" title="Agregar producto" data-toggle="tooltip" data-placement="right">Producto</label>
                        <input class="form-control" id="productoComunDrop" name="productoComunDrop" data-bind="event: { change: GetInfoProduct('productoComunDrop') }" />
                    </div>
                    <div class="col-md-1" style="padding-top:20px">
                        <button class="btn btn-success" id="product_button_comun" data-toggle="tooltip" title="Agregar Producto común" data-bind="click: AddProductToTableComun">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive m-t">
                            <table class="table table-striped table-bordered table-hover" id="tableThree" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="5%">Código Origen</th>
                                        <th width="5%">Código </th>
                                        <th width="20%">Producto</th>
                                        <th width="10%">Precio Actual</th>
                                        <th width="5%">Remover</th>
                                        <th width="5%">Delete Flag</th>
                                        <th width="5%">Update Flag</th>
                                    </tr>
                                </thead>
                                <tbody> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i> Regresar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalPromotionsRepeat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-cubes"></i> Promoción Repetida</h4>
                <small id="ModalDescription" class="font-bold">Verifique que la promoción que esta realizando sea la promoción correcta.</small>
            </div>
            <div class="modal-body" style="height:100%">
                <div class="row">
                    <div class="col-md-12">
                        <div id="TableDivPromotionRepeat" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TablePromotionsRepeat" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Folio</th>
                                            <th>Descripción</th>
                                            <th>Tipo</th>
                                            <th>Inicio</th>
                                            <th>Fin</th>
                                            <th>Creador</th>
                                            <th>Fecha Creación</th>
                                            <th>Código Tienda</th>
                                            <th>Tienda</th>
                                            <th>Estatus Replicación</th>
                                            <th>Tiendas</th>
                                            <th>Editar</th>
                                            <th>Replicar</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i> Regresar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade in" id="showStoresRepeat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-shopping-cart fa-2x"></i>   Tiendas</h4>
                <small id="ModalDescription" class="font-bold">Tiendas donde se aplica la oferta</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Información</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label> <i class="fa fa-briefcase"></i> Folio:</label>
                        <div id="folioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-commenting-o"></i> Descripción:</label>
                        <div id="descriptionOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-exclamation-circle"></i> Tipo:</label>
                        <div id="tipoOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-calendar-plus-o"></i> Inicio: </label>
                        <div id="inicioStart">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-calendar-times-o"></i> Fin: </label>
                        <div id="finOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-user"></i> Creador: </label>
                        <div id="userOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-calendar"></i> Fecha Creador: </label>
                        <div id="createOferta">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="fa fa-cart-arrow-down"></i>&nbsp Tiendas</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul id="listStores1">
                                <li id="element1">Uno</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul id="listStores2">
                                <li id="element1">Dos</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul id="listStores3">
                                <li id="element1">Tres</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="CloseModalOne();"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="showItemComunRepeat" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-cubes fa-2x"></i>   Productos Comunes</h4>
                <small id="ModalDescription" class="font-bold">Productos Comunes del producto</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Informacion</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label> <i class="fa fa-briefcase"></i> Folio:</label>
                        <div id="folioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-commenting-o"></i> Producto Comun:</label>
                        <div id="descriptionOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-exclamation-circle"></i> Descripcion:</label>
                        <div id="tipoOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-usd"></i> Precio Promocion: </label>
                        <div id="precioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-cubes"></i>Cantidad</label>
                        <div id="cantidadOFerta">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="fa fa-cart-arrow-down"></i>&nbsp Productos Comun</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableCommons" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                            <th>Precio Normal</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="CloseModalTwo();"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/Scripts/Purchases/PURCH013AND023.js")
    <script type="text/javascript">
        var type_promotions_globlal = document.getElementById("tipo");
        Select2AjaxF("ItemsDrop", false);
        Select2AjaxF("productoComunDrop", true);
    </script>
}