﻿@model FloridoERP.ViewModels.Purchases.PUCHR009ViewModel
@{ ViewBag.Title = "PURCH009"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Cambio de Costos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cambio de Costo.
            </h2>
            <small>Programar Cambio de Costo de Productos por Proveedor.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-9">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <h3>Buscar Proveedor.</h3>
                </div>
                <div class="panel-body">
                    <div class="m-t-sm">
                        <div class="form-group col-lg-6">
                            <label for="" data-toggle="tooltip" data-placement="right">
                                Selecciona un Proveedor.
                            </label>
                            @Html.DropDownListFor(m => m.Suplier, Model.SupplierListItems, new { @class = "form-control", @id = "SuppliersDrop", @onchange = "return OrderList();" })
                        </div>
                    </div>
                    <div class="back-link col-lg-12">
                        <h4 style="font-family: Verdana;" class="col-lg-10  m-t-md">
                            Productos por Proveedor.
                        </h4>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12 table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="font-family: Verdana; font-size:10pt; font-family:Glyphicons Halflings text-align:center" width="5%">#</th>
                                        <th style="font-family: Verdana; font-size:10pt; text-align:center" width="15%">Código</th>
                                        <th style="font-family: Verdana; font-size:10pt; text-align:center" width="25%">Nombre</th>
                                        <th style="font-family: Verdana; font-size:10pt; text-align:center" width="10%">Costo Actual</th>
                                        <th style="font-family: Verdana; font-size:10pt; text-align:center" width="15%">Nuevo Costo</th>
                                        <th style="font-family: Verdana; font-size:10pt; text-align:center" width="10%">Moneda</th>
                                    </tr>
                                </thead>
                                <tbody id="tableOrdered"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="animate-panel">
                <div class="row projects">
                    <div class="col-lg-12">
                        <div class="hpanel panel-group hviolet">
                            <div class="panel-body">
                                <div class="form-group col-lg-12">
                                    <label title="Fecha Inicio" data-toggle="tooltip" data-placement="right">Fecha Inicio</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                        <input id="fechaInicio" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="tipo" title="Tipo de Incremento" data-toggle="tooltip" data-placement="right">Tipo de Incremento</label>
                                    <select id="tipo" name="tipo" class="form-control select2">
                                        <option value="0">Selecciona un tipo de incremento</option>
                                        <option value="%">Porcentaje.</option>
                                        <option value="C">Cantidad.</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-12">
                                    <label for="cantidad" title="cantidad" data-toggle="tooltip" data-placement="right">Cantidad</label>
                                    <div class="input-group m-b">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" id="cantidad" class="form-control" onkeyup="ValidateCost(this.value);">
                                    </div>
                                </div>
                                <div class="form-group col-lg-12">
                                    <button class="btn btn-success btn-block" onclick="SaveNewCost();"><i class="fa fa-save"></i> Guardar Cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH009/js") }