﻿@model FloridoERP.ViewModels.Purchases.PUCHR009ViewModel
@{ ViewBag.Title = "PURCH028"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Productos por proveedor</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Productos por proveedor
            </h2>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <h3>Buscar Proveedor.</h3>
                </div>
                <div class="panel-body">

                    <div class="col-sm-12">
                        <h4>Selecciona un Proveedor</h4>
                        <div class="col-lg-12 row">
                            <div class="form-group col-lg-6">
                                <label for="" data-toggle="tooltip" data-placement="right">
                                    Selecciona un Proveedor.
                                </label>
                                @Html.DropDownListFor(m => m.Suplier, Model.SupplierListItems, new { @class = "form-control", @id = "SuppliersDrop", @onchange = "return OrderList();", @multiple = "multiple" })
                            </div>
                        </div>
                        <div class="col-sm-12 row">
                            <h4 for="" data-toggle="tooltip" data-placement="right">
                                Agregar producto a proveedor
                            </h4>
                        </div>
                        <div class="col-sm-12 row">
                            <div class="row   col-sm-12">
                                <div class="col-sm-6">
                                    <label for="" data-toggle="tooltip" data-placement="right">
                                        Seleccionar producto
                                    </label>
                                    @Html.DropDownListFor(m => m.items, Model.itemsSelect, new { @class = "form-control divAdd", @id = "ItemsDrop" })
                                </div>
                            </div>

                            <div class="form-group col-lg-3" style="">
                                <label title="" data-toggle="tooltip" data-placement="right" min="0" data-original-title="Precio Base">Precio Base</label>
                                <input id="etxtBasePrice" class="form-control divAdd" type="number" step=".01" value="0" onchange="priceChange()" />
                            </div>
                            <div class="form-group col-lg-3" style="">
                                <label title="Status" data-toggle="tooltip" data-placement="right">Moneda</label>

                                <select class="form-control select2 divAdd" id="selectCurrency" name="currency" tabindex="-1" title="">
                                    <option value="">Seleccione una opción</option>
                                    <option value="MXN">MXN</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-3" style="">
                                <label title="Fecha de valides" data-toggle="tooltip" data-placement="right">Valido</label>
                                <div class="input-group date ValidDatePi">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input class="form-control divAdd" id="ValidDate" name="ValidDate" type="text" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group col-lg-3" style="">
                                <label title="" style="color: transparent">.</label>
                                <button id="saveBtn" class="btn btn-success col-sm-12 divAdd" onclick="addProduct()"> Agregar</button>
                            </div>
                        </div>
                    </div>

                    <h4 style="font-family: Verdana;" class="col-lg-10 ">
                        Productos por Proveedor.
                    </h4>
                    <div class="col-lg-12">
                        <div class="col-lg-12 table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped" id="tbl_items">
                                <thead>
                                    <tr>
                                        <th style="font-family: Verdana; font-size: 10pt; text-align: center">Código</th>
                                        <th style="font-family: Verdana; font-size: 10pt; text-align: center">Nombre</th>
                                        <th style="font-family: Verdana; font-size: 10pt; text-align: center">Proeveedor</th>
                                        <th style="font-family: Verdana; font-size: 10pt; text-align: center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH028/js") }