﻿@{
    ViewBag.Title = "Menu Proveedores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li class="active">
                        <span>Proveedores</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gestion de Proveedores
            </h2>
            <small>Modulo gestion de proveedores</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH002">
                            <h2 class="m-b-xs">Agregar Proveedor</h2>
                            <div class="m">
                                <i class="pe-7s-add-user fa-5x"></i>
                            </div>
                            <p class="small">
                                Dar de alta un nuevo Proveedor
                            </p>
                            <br />
                        </a>
                        <a href="PURCH002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH003">
                            <h2 class="m-b-xs">Ver Proveedores</h2>
                            <div class="m">
                                <i class="pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Listado de proveedores
                            </p>
                            <br />
                        </a>
                        <a href="PURCH003" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".normalheader").addClass("small-header");
                $("#fa").removeClass("fa-arrow-up").addClass("fa-arrow-down");
                $("#hbreadcrumb").removeClass("m-t-lg");
            }, 5000);
        });
    </script>
}