﻿@model FloridoERP.ViewModels.Purchases.PURCH008ViewModel
@{ ViewBag.Title = "PURCH008"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li class="active">
                        <span>Negociaciones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gestion de Negociaciones
            </h2>
            <small>Agregar o editar Negociaciones</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a id="showhideFilterSupplier" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="showhideFilterSupplier.click();">Buscar Negociaciones por Proveedor</a>
                </div>
                <div class="panel-body">
                    <div class="m-t-sm">
                        <div class="form-group col-lg-6">
                            @Html.DropDownListFor(m => m.SupplierList, Model.SupplierListItems, new { @class = "form-control", @id = "SuppliersDrop", @onchange = "return GetNego(event);" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="PanelInf" class="hide animate-panel" data-effect="fadeInRight">
        <div class="animate-panel">
            <div class="row">
                <div class="col-lg-4">
                    <div class="hpanel hviolet">
                        <div class="panel-body">
                            <div class="pull-right text-right">
                                <div class="btn-group">
                                    <a title="Agregar Nueva Negociación" data-toggle="tooltip" data-placement="top" onclick="AddNegotiaton();"><i class="fa fa-plus btn btn-xl btn-default"></i></a>
                                </div>
                            </div>
                            <div class="m">
                                <i class="fa pe-7s-user fa-5x"></i>
                            </div>
                            <p id="SupplierID" class="hide"></p>
                            <h3>Proveedor: <span id="business_nameText" class="font-bold"></span> </h3>
                            <div id="commercial_nameText" class="text-muted font-bold m-b-xs"></div>
                        </div>

                        <div class="panel-body">
                            <h3>Información</h3>
                            <dl>
                                <dt><i class="fa fa-newspaper-o"></i> RFC</dt>
                                <dd id="rfcText"></dd>
                                <dt><i class="fa fa-map"></i> Dirección</dt>
                                <dd id="addressText"></dd>
                                <dt><i class="fa fa-map-signs"></i> Ciudad/Estado</dt>
                                <dd id="cityText"></dd>
                                <dt><i class="fa fa-map-marker"></i> Codigo Postal</dt>
                                <dd id="zip_codeText"></dd>
                            </dl>
                        </div>
                        <div class="panel-body">
                            <h3>Contactos</h3>
                            <dl>
                                <dt></dt>
                                <dd>
                                    <select id="idContact" name="idContact" class="form-control select2" onchange="ChangeIdContact()">
                                        <option value="">Seleccione un contacto.</option>
                                    </select>
                                </dd>
                                <dt><i class="fa fa-user"></i> Nombre de contacto</dt>
                                <dd id="contact_name"></dd>
                                <dt><i class="fa fa-phone"></i> Teléfono</dt>
                                <dd id="contact_phone"></dd>
                                <dt><i class="fa fa-at"></i> Correo electrónico</dt>
                                <dd id="contact_email"></dd>
                                <dt><i class="fa fa-briefcase"></i> Departametno</dt>
                                <dd id="contact_department"></dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div id="PanelNegotiationList" class="animate-panel" data-effect="fadeInRight">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="hpanel panel-group hviolet">
                                    <div class="panel-body">
                                        <h3 class="m-t-none m-b-none">Negociaciones</h3>
                                        <small class="text-muted">Listado de negociaciones del proveedor</small>
                                        <p></p>
                                        <div class="input-group">
                                            <input id="searchTxt" type="text" class="form-control input-xs" placeholder="Buscar Negociaciones..." onkeyup="searchLists('negotiationList,#searchTxt');" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-xs btn-default" type="button" onclick="searchLists('negotiationList,#searchTxt');">
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="panel-body no-padding" style="display: block;">
                                        <ul id="negotiationList" class="list-group"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>@using (Html.BeginForm("ActionInsertNegotiation", "Negotiation", FormMethod.Post, new { name = "formInsertNegotiaton", id = "formInsertNegotiaton" }))
                    {
                        <div id="PanelNegotiationNew" class="animate-panel hide" data-effect="fadeInRight">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hpanel panel-group hgreen">
                                        <div class="panel-body">
                                            <h3>Agregar Nueva Negociación</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group col-lg-6">
                                                <label for="user_id" title="Nombre del comprador" data-toggle="tooltip" data-placement="right">Comprador</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-user"></span>
                                                    </span>
                                                    @Html.DropDownListFor(m => m.BuyersList, Model.BuyersListItems, new { @class = "form-control", @id = "BuyersDrop" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="negotiation_type" title="Tipo de Negociación" data-toggle="tooltip" data-placement="right">Tipo</label>
                                                @{
                                                    List<SelectListItem> listItems = new List<SelectListItem>();
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "Seleccione una opción",
                                                        Value = "",
                                                    });
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "Unidireccional",
                                                        Value = "Unidireccional",
                                                    });
                                                    listItems.Add(new SelectListItem
                                                    {
                                                        Text = "Bidireccional",
                                                        Value = "Bidireccional"
                                                    });
                                                }
                                                @Html.DropDownListFor(m => m.negotiation_type, listItems, new { @class = "form-control" })
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label for="payment_conditions" title="Condiciones de pago" data-toggle="tooltip" data-placement="right">Condiciones de pago</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-info-circle"></span>
                                                    </span>
                                                    @Html.TextBoxFor((x => x.payment_conditions), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="supplier_references" title="Referencias del proveedor" data-toggle="tooltip" data-placement="right">Referencias</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-group"></span>
                                                    </span>
                                                    @Html.TextBoxFor((x => x.supplier_references), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="delivery_points" title="Lugar donde entregará el proveedor" data-toggle="tooltip" data-placement="right">Punto de entrega</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" onclick="AddCatalogue('Points');" title="Agregar Tipo" data-toggle="tooltip" data-placement="bottom">
                                                        <a class="fa fa-plus"></a>
                                                    </span>
                                                    @Html.DropDownListFor(m => m.delivery_points, Model.PointListItems, new { @class = "form-control", @id = "PointsDrop" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <label for="general_notes" title="Notas generales" data-toggle="tooltip" data-placement="right">Nota</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-align-left"></span>
                                                    </span>
                                                    @Html.TextBoxFor((x => x.general_notes), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="negotiatied_discounts " title="Descuentos de negociación" data-toggle="tooltip" data-placement="right">Descuentos de negociación</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" onclick="AddCatalogue('Discounts');" title="Agregar Descuento" data-toggle="tooltip" data-placement="bottom">
                                                        <a class="fa fa-plus"></a>
                                                    </span>
                                                    @Html.DropDownListFor(m => m.negotiatied_discounts, Model.DiscountListItems, new { @class = "form-control", @id = "DiscountDrop" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="conditions_prices " title="Condiciones de precio" data-toggle="tooltip" data-placement="right">Condiciones de precio</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" onclick="AddCatalogue('prices');" title="Agregar Tipo" data-toggle="tooltip" data-placement="bottom">
                                                        <a class="fa fa-plus"></a>
                                                    </span>
                                                    @Html.DropDownListFor(m => m.conditions_prices, Model.PriceDiscListItems, new { @class = "form-control", @id = "PricesDrop" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="penalties " title="Sanciones" data-toggle="tooltip" data-placement="right">Sanciones</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon" onclick="AddCatalogue('penalties');" title="Agregar Tipo" data-toggle="tooltip" data-placement="bottom">
                                                        <a class="fa fa-plus"></a>
                                                    </span>
                                                    @Html.DropDownListFor(m => m.penalties, Model.PenaltiesListItems, new { @class = "form-control", @id = "PenaltiesDrop" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="quality_level " title="Nivel de calidad del producto" data-toggle="tooltip" data-placement="right">Nivel de Calidad</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-life-saver"></span>
                                                    </span>
                                                    @Html.TextBoxFor((x => x.quality_level), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label for="valid_until " title="Fecha de validez" data-toggle="tooltip" data-placement="right">Válido hasta</label>
                                                <div class="input-group date" id="ValidDatePi">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                    @Html.TextBoxFor((x => x.valid_until), new { @class = "form-control", @Value = "" })
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <div class="text-right">
                                                    <button type="button" class="btn btn-default" onclick="ReturnToList();ClearFormInsert();"><i class='fa fa-close'></i> Cancelar</button>
                                                    <button class="btn btn-success"><i class='fa fa-save'></i> Registrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Agregar</h4>
                <small id="ModalDescription" class="font-bold">Formulario para registrar una nueva categoría.</small>
            </div>
            @using (Html.BeginForm("ActionInsertMaCodeCatalogue", "Negotiation", FormMethod.Post, new { name = "formAddCatalogue", id = "formAddCatalogue" }))
            {
                <div class="modal-body">
                    <input type="hidden" id="MaCodeType" value="">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="page_id" title="Nombre" data-toggle="tooltip" data-placement="right">Nombre</label>
                            <div class="input-group date">
                                <span class="input-group-addon">
                                    <span class="fa fa-barcode"></span>
                                </span>
                                @Html.TextBoxFor((x => x.vkey), new { @class = "form-control", @id = "vkey" })
                            </div>
                        </div>
                        <div class="form-group col-lg-12">
                            <label for="page_name" title="Descripción" data-toggle="tooltip" data-placement="right">Descripción</label>
                            <div class="input-group date">
                                <span class="input-group-addon">
                                    <span class="fa fa-align-left"></span>
                                </span>
                                @Html.TextBoxFor((x => x.description), new { @class = "form-control", @id = "description" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                    <button class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/PURCH008/js")
}