﻿@model FloridoERP.ViewModels.Purchases.PURCH016ViewModel
@{ ViewBag.Title = "PURCH016"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Programar Combos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Programar de Combos
            </h2>
            <small>Formulario para programar combos de productos.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Programación</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hpanel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="form-group col-lg-4">
                                            <label title="Código de Producto" data-toggle="tooltip" data-placement="right">Combo</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="pe-7s-keypad"></span>
                                                </span>
                                                @Html.DropDownListFor(m => m.part_number_combo, Model.ItemsCombosList, new { @class = "form-control vali drop", @data_bind = "event: { change: GetItemsCombo }", @id = "combodrop" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="collapse" id="collapseExample">
                                            <div class="col-lg-12">
                                                <div class="hpanel hblue">
                                                    <div class="panel-body">
                                                        <a href="@Url.Action("PURCH004", "Purchases")" title="Agregar Nuevo Combo" data-toggle="tooltip" data-placement="top" class="pull-right"><i class="fa fa-plus btn btn-info btn-sm"></i></a>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <h4><a>Información del combo</a></h4>
                                                                <div class="row">
                                                                    <div class="col-sm-2">
                                                                        <div class="project-label font-extra-bold">Código</div>
                                                                        <p id="comboCodeLabel"></p>
                                                                    </div>
                                                                    <div class="col-sm-5">
                                                                        <div class="project-label font-extra-bold">Descripción</div>
                                                                        <p id="comboDescriptionLabel"></p>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="project-label font-extra-bold">Costo Base</div>
                                                                        <div class="input-group">
                                                                            <span class="input-group-addon">
                                                                                <span class="fa fa-dollar"></span>
                                                                            </span>
                                                                            @Html.TextBox("ComboBaseCost", null, new { @class = "form-control Numeric", @id = "ComboBaseCost", @onchange = "ChangeMargeCombo();" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="project-label font-extra-bold">Subtotal</div>
                                                                        <p id="comboSubtotalLabel" class="text-info"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2">
                                                                <p class="font-extra-bold">TOTAL</p>
                                                                <h1 id="comboTotalLabel" class="text-success" title="Precio Venta" data-toggle="tooltip" data-placement="bottom"></h1>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-10">
                                                                <div class="row">
                                                                    <div class="col-sm-7">
                                                                        <div class="project-label font-extra-bold">Articulos</div>
                                                                        <p id="combototalProductsLabel" class="text-info"></p>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="project-label font-extra-bold">Margen %</div>
                                                                        <p id="comboMargenLabel" class="text-warning"></p>
                                                                    </div>
                                                                    <div class="col-sm-2">
                                                                        <div class="project-label font-extra-bold">IVA</div>
                                                                        <p id="comboIvaLabel" class="text-info"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="hpanel hgreen">
                                                            <div class="panel-heading hbuilt">
                                                                <div class="panel-tools">
                                                                    <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                </div>
                                                                <a onclick="animationPanel('#PanelDiv');" class="font-bold">
                                                                    Agregar Productos a combo
                                                                </a>
                                                            </div>
                                                            <div class="panel-body">
                                                                @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formAdd", id = "formAdd" }))
                                                                {
                                                                    <a title="Agregar Producto a Combo" data-toggle="tooltip" data-placement="top" class="pull-right"><i class="fa fa-plus btn btn-success btn-sm" data-bind="click: AddProductToTable"></i></a>
                                                                    <div class="row">
                                                                        <div class="col-sm-5">
                                                                            <label title="Código de Producto" data-toggle="tooltip" data-placement="right">Producto</label>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <span class="fa fa-barcode"></span>
                                                                                </span>
                                                                                @Html.DropDownList("itemsCombo", Model.ItemsLists, new { @style = "max-width:80%", @class = "form-control vali drop", @data_bind = "event: { change: GetItem }", @id = "itemsCombo" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <label title="Costo base del producto" data-toggle="tooltip" data-placement="top">Costo Base</label>
                                                                            <p id="BasePriceItemSelect">$0</p>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <label title="Cantidad en Piezas o Kilos" data-toggle="tooltip" data-placement="right">Cantidad</label>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <span class="fa fa-cubes"></span>
                                                                                </span>
                                                                                @Html.TextBoxFor(m => m.quantity, new { @class = "form-control Numeric", @id = "itemQuantity", onchange = "ValidateWeight(this.id, this.value)" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-2">
                                                                            <label title="Precio del producto (Venta)" data-toggle="tooltip" data-placement="right">Precio</label>
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon">
                                                                                    <span class="fa fa-dollar"></span>
                                                                                </span>
                                                                                @Html.TextBoxFor(m => m.total_price_sale, new { @class = "form-control Numeric", @id = "itemPrice" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="hpanel hgreen">
                                                            <div class="panel-heading hbuilt">
                                                                <div class="panel-tools">
                                                                    <a id="PanelCombo" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                </div>
                                                                <a onclick="animationPanel('#PanelCombo');" class="font-bold">
                                                                    Datos del combo.
                                                                </a>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="table-responsive">
                                                                    <table id="Items" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>ComboNumber</th>
                                                                                <th>Código</th>
                                                                                <th>Producto</th>
                                                                                <th>Cantidad</th>
                                                                                <th>IVA %</th>
                                                                                <th>IVA</th>
                                                                                <th>Margen %</th>
                                                                                <th>Costo</th>
                                                                                <th>Precio total</th>
                                                                                <th>Activo</th>
                                                                                <th>Update</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody></tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                Listado de productos.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <div class="text-right">
                                                    <button type="button" class="btn btn-default" data-bind="click: Clear"><i class="fa fa-close"></i> Cancelar</button>
                                                    <button type="button" class="btn btn-success" data-bind="click: Confirm">
                                                        <i class="fa fa-check"></i>
                                                        Guardar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/PURCH016/js")
}