﻿@model List<App.Entities.ViewModels.Site.SiteModel>
@{ ViewBag.Title = "PURCH030"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENU000">Compras</a></li>
                    <li>
                        <a href="MENU003">Reportes</a>
                    </li>
                    <li class="active">
                        <span>Reporte Historial de Existencias</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Historial de Existencias
            </h2>
            <small>Reporte de Historial de Existencias.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Historial de Existencias</a>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-4" style="margin-top:8px">
                            <label>Tienda</label>
                            <select id="mainSite" class="form-control select2">
                                <option value="0">SELECCIONE UNA TIENDA</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.SiteCode">@item.SiteName</option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-lg-2" style="margin-top:10px">
                            <label title="Fecha de Consulta" data-toggle="tooltip" data-placement="right">Fecha</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="DateHistory" class="form-control" autocomplete="off" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1" style="margin-top:13px">
                            <br />
                            <button class="btn btn-primary" onclick="SearchStockHistory()"><i class="fa fa-search"></i> Buscar</button>
                        </div>

                    </div>
                    <br />
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="Codes" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Monto</th>
                                        <th>Costo</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH030/js") }