﻿@{
    ViewBag.Title = "PURCH007";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li class="active">
                        <span>Productos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gestion de Productos
            </h2>
            <small>Modulo gestion de Productos</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH004">
                            <h3 class="m-b-xs">Agregar/Modificar Productos</h3>
                            <div class="m">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <p class="small">
                                Permite dar de alta un nuevo producto y además ver los productos actuales.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH004" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH005">
                            <h2 class="m-b-xs">Configurar Producto</h2>
                            <div class="m">
                                <i class="fa fa-gears fa-5x"></i>
                            </div>
                            <p class="small">
                                Modifica características del producto, aspectos del producto, locación, etc.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH005" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH012">
                            <h2 class="m-b-xs">Cambios de Precios</h2>
                            <div class="m">
                                <i class="fa fa-tags fa-5x"></i>
                            </div>
                            <p class="small">
                                Cambio los precios de los productos por proveedor.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH012" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH009">
                            <h2 class="m-b-xs">Cambio de Costo</h2>
                            <div class="m">
                                <i class="fa fa-tag fa-5x"></i>
                            </div>
                            <p class="small">
                                Cambio los costos de los productos por proveedor.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH009" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH017">
                            <h2 class="m-b-xs">Códigos en presentacion</h2>
                            <div class="m">
                                <i class="fa pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Captura códigos de las presentaciones como a su vez podrá previsualizar.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH017" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH013">
                            <h2 class="m-b-xs">Programar Ofertas</h2>
                            <div class="m">
                                <i class="fa fa-truck fa-5x"></i>
                            </div>
                            <p class="small">
                                Programar promociones avanzadas en productos en diferentes tiendas.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH013" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH016">
                            <h2 class="m-b-xs">Programar Combos</h2>
                            <div class="m">
                                <i class="fa fa-cubes fa-5x"></i>
                            </div>
                            <p class="small">
                                Programar combos agregando varios productos en una venta.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH016" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH018">
                            <h2 class="m-b-xs">Configuracion de servicios y productos</h2>
                            <div class="m">
                                <i class="fa pe-7s-note2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Captura de los servicios y productos, categoria y relaciona los servicios con acredores.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH018" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".normalheader").addClass("small-header");
                $("#fa").removeClass("fa-arrow-up").addClass("fa-arrow-down");
                $("#hbreadcrumb").removeClass("m-t-lg");
            }, 5000);
        });
    </script>
}