﻿@model FloridoERP.ViewModels.Purchases.PURCH023ViewModel
@{
    ViewBag.Title = "PURCH023";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<style type="text/css">
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras </a></li>
                    <li><a href="PURCH010">Reportes </a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Historial de Promociones</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Historial de Promociones
            </h2>
            <small>Historial de promociones de todas las tiendas</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1" onclick="UpdatTables('1');"><i class="fa fa-area-chart"></i> Historial Detallado</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2" onclick="UpdatTables('2');"><i class="fa fa-balance-scale"></i> Historial Concentrado</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input id="BeginDateDetail" class="form-control" autocomplete="off" readonly="readonly" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input id="EndDateDetail" class="form-control" autocomplete="off" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1" style="margin-top:5px;">
                            <br />
                            <button id="SearchDetail" class="btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
                        </div>
                        <div class="col-lg-12" style="margin-top:10px;">
                            <div id="TableDivDetail" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="TablePromotionsDetail" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Promoción</th>
                                                <th>Tipo</th>
                                                <th>Código</th>
                                                <th>Descripción</th>
                                                <th>Precio Promoción</th>
                                                <th>Inicio</th>
                                                <th>Fin</th>
                                                <th>Creador</th>
                                                <th>Fecha Creación</th>
                                                <th>Código Tienda</th>
                                                <th>Tienda</th>
                                                <th>Estatus Replicación</th>
                                                <th>Tiendas</th>
                                                <th>Editar</th>
                                                <th>Replicar</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <div class="row">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hpanel hblue">
                                        <div class="panel-heading">
                                            <div class="panel-tools">
                                                <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                            </div>
                                            <a onclick="PanelGrid.click();">Historial de Promociones</a>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div id="MainDiv" class="animate-panel" data-effect="fadeInRight">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-3">
                                                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                                                            <div class="input-daterange input-group" id="datepicker">
                                                                <div class="input-group date">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-calendar"></span>
                                                                    </span>
                                                                    <input id="BeginDate" class="form-control" autocomplete="off" readonly="readonly" />
                                                                </div>
                                                                <span class="input-group-addon">A</span>
                                                                <div class="input-group date">
                                                                    <input id="EndDate" class="form-control" autocomplete="off" readonly="readonly" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label>Tienda</label>
                                                            <select id="site" class="form-control select2">
                                                                <option value="" selected>Todas las Tiendas</option>
                                                                @foreach (var item in Model.Site)
                                                                {
                                                                    <option value="@item.site_code">@item.site_name</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <label title="Tipo de Oferta" data-toggle="tooltip" data-placement="right">Tipo de Oferta</label>
                                                            @Html.DropDownListFor(m => m.Ofertas, Model.OfertList, new { @class = "form-control select2", @id = "typeSelect" })
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <label title="Seleccione un producto" data-toggle="tooltip" data-placement="right">Productos</label>
                                                            <input class="form-control" id="ItemsDropSelect" name="ItemsDropSelect" />
                                                        </div>
                                                        <div class="col-lg-1" style="margin-top:5px;">
                                                            <br />
                                                            <button id="Search" class="btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3" style="margin-top:20px;">
                                                        <div class="form-group ">
                                                            <label class="center" data-toggle="tooltip" data-placement="left">Editar Promociones</label>
                                                            <label> <input type="checkbox" checked id="ckbox_excess" onclick="check()" class="i-checks"></label>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-1" style="margin-top:1px;">
                                                        <br />
                                                        <button id="ClearInput" class="btn btn-info"> <i class="fa fa-recycle"></i> Limpiar</button>
                                                    </div>
                                                    <div hidden class="col-lg-3">
                                                        <label>Estatus</label>
                                                        <select id="replicationStatus" class="form-control select2">
                                                            <option value="9" selected>Seleccione un estatus</option>
                                                            <option value="0">Creada</option>
                                                            <option value="5">Aplicado</option>
                                                            <option value="3">Error al cambio de precio</option>
                                                            <option value="1">Replicada</option>
                                                            <option value="4">Modificado</option>
                                                            <option value="2"> Error</option>
                                                        </select>
                                                    </div>
                                                    <br />
                                                    <div class="col-lg-12">
                                                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                                                            <div class="row table-responsive">
                                                                <table id="TablePromotions" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th></th>
                                                                            <th>Folio</th>
                                                                            <th>Descripción</th>
                                                                            <th>Tipo</th>
                                                                            <th>Inicio</th>
                                                                            <th>Fin</th>
                                                                            <th>Creador</th>
                                                                            <th>Fecha Creación</th>
                                                                            <th>Código Tienda</th>
                                                                            <th>Tienda</th>
                                                                            <th>Estatus Replicación</th>
                                                                            <th>Tiendas</th>
                                                                            <th>Editar</th>
                                                                            <th>Replicar</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody></tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style="margin-top:30px;">
                                                        <div class="col-lg-12">
                                                            <div class="hpanel">
                                                                <div class="panel-heading">
                                                                    <div class="panel-tools">
                                                                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                    </div>
                                                                    Simbología
                                                                </div>
                                                                <div class="panel-body float-e-margins">
                                                                    <div class="wrapper">
                                                                        <div class="row color-demo">
                                                                            <a class="header-line h-bg-navy-blue extreme-color" style="color:#000000;background-color: white;" onclick="SearchByStatus('0');">
                                                                                <div style="color:#000000;">Creado<span style="color:#000000;">(no en tienda)</span></div>
                                                                            </a>
                                                                            <a class="header-line h-bg-navy-blue extreme-color" style="background-color: #7bc0e4;color:black;" onclick="SearchByStatus('5');">
                                                                                <div>Replicado</div>
                                                                            </a>
                                                                            <a class="header-line h-bg-navy-blue extreme-color" style="background-color: #be88d1;" onclick="SearchByStatus('4');">
                                                                                <div>Editado<span>(no en tienda)</span></div>
                                                                            </a>
                                                                            <a class="header-line h-bg-navy-blue" style="background-color: #9dd188;" onclick="SearchByStatus('1');">
                                                                                <div>Aplicado</div>
                                                                            </a>
                                                                            <a class="header-line h-bg-blue" style="background-color: #f2dd79;" onclick="SearchByStatus('3');">
                                                                                <div style="color:#a2a2a2;">No cambio precio</div>
                                                                            </a>
                                                                            <a class="header-line h-bg-blue" style="background-color: #d28d8d;color:black;" onclick="SearchByStatus('2');">
                                                                                <div>No replicado </div>
                                                                            </a>
                                                                            <a class="header-line  h-bg-navy-blue" onclick="SearchByStatus('9');">
                                                                                <div>Sin Estatus </div>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="SecondDiv" class="hide animate-panel" data-effect="fadeInRight">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-row">
                                                                <div class="col-lg-4 pull-left">
                                                                    <button type="button" class="btn btn-info" onclick="BacktoReturn()"><i class="fa fa-chevron-left"></i> Regresar</button>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <div class="form-group col-lg-6" id="fechaInicioDiv">
                                                                        <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Fecha Inicial</label>
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon">
                                                                                <span class="fa fa-calendar"></span>
                                                                            </span>
                                                                            <input disabled id="fechaInicio" placeholder="Fecha Inicial" type="text" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-lg-6" hidden id="fechaInicioTwoDiv">
                                                                        <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Fecha Inicial</label>
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon">
                                                                                <span class="fa fa-calendar"></span>
                                                                            </span>
                                                                            <input id="fechaInicioTwo" placeholder="Fecha Inicial" type="text" class="form-control" disabled />
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group col-lg-6">
                                                                        <label title="Fecha Final" data-toggle="tooltip" data-placement="right">Fecha Final</label>
                                                                        <div class="input-group date">
                                                                            <span class="input-group-addon">
                                                                                <span class="fa fa-calendar"></span>
                                                                            </span>
                                                                            <input id="fechaFin" placeholder="Fecha Final" type="text" class="form-control" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 contact-panel col-sm-offset-3">
                                                                        <div class="hpanel hgreen">
                                                                            <label title="Selecciona Tienda" data-toggle="tooltip" data-placement="right">Selecciona Tienda</label>
                                                                            <div class="panel-heading hbuilt">
                                                                                <div class="panel-tools">
                                                                                    <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-5">
                                                                                        Tiendas.
                                                                                    </div>
                                                                                    <div class="col-md-5">
                                                                                        <form action="">
                                                                                            <div class="input-group">
                                                                                                <input id="searchListassigned" type="text" class="form-control input-xs" placeholder="Buscar Tienda..." onkeyup="searchLists('assignedList,#searchListassigned');" />
                                                                                                <span class="input-group-btn">
                                                                                                    <button class="btn btn-xs btn-default" type="button" onclick="searchLists('assignedList,#searchListassigned');">
                                                                                                        <span class="fa fa-search"></span>
                                                                                                    </button>
                                                                                                </span>
                                                                                            </div>
                                                                                        </form>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="panel-body no-padding" style="display: block;" id="bodySites">
                                                                                <ul id="assignedList" class="list-group"></ul>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <d iv class="col-lg-12">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="hpanel hgreen">
                                                                            <div class="panel-heading hbuilt">
                                                                                <div class="panel-tools">
                                                                                    <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                                </div>
                                                                                <a class="font-bold" id="text_promotion">
                                                                                    Agregar Producto
                                                                                </a>
                                                                            </div>
                                                                            <div class="panel-body">
                                                                                <div class="col-lg-12">
                                                                                    <div class="row" id="promotion_description_hide">
                                                                                        <div class="col-md-8 col-md-offset-2">
                                                                                            <label title="Descripción de la promoción avanzada" data-toggle="tooltip" data-placement="right">Descripción de la promoción avanzada</label>
                                                                                            <div class="input-group m-b">
                                                                                                <span class="input-group-addon"><i class="fa fa-text-width"></i></span>
                                                                                                <input id="promotion_description" name="promotion_description" type="text" placeholder="Agregar descripción de la promoción" class="form-control" autocomplete="off" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-11">
                                                                                        <label title="Seleccione un producto" data-toggle="tooltip" data-placement="right">Seleccione un producto</label>
                                                                                        <input class="form-control" id="ItemsDrop" name="ItemsDrop" data-bind="event: { change: GetInfoProduct('ItemsDrop') }" />
                                                                                    </div>
                                                                                    <div class="col-md-1" style="padding-top:20px">
                                                                                        <button class="btn btn-success" id="product_button" data-toggle="tooltip" title="Agregar Producto" data-bind="click: AddProductToTable">
                                                                                            <i class="fa fa-plus"></i>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="hpanel hgreen">
                                                                        <div class="panel-heading hbuilt">
                                                                            <div class="panel-tools">
                                                                                <a id="PanelCombo" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                            </div>
                                                                            <a class="font-bold">
                                                                                Datos de la promoción.
                                                                            </a>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="table-responsive">
                                                                                <table id="TableGlobalPromotions" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Código</th>
                                                                                            <th>Descripción</th>
                                                                                            <th>Precio Actual</th>
                                                                                            <th>Cantidad</th> @*Input - Avanzada*@
                                                                                            <th>Precio Total</th> @*Avanzadas*@
                                                                                            <th>Precio Promoción</th> @*Input - Normal/Avanzada*@
                                                                                            <th>Común</th> @*Avanzadas*@
                                                                                            <th>Eliminar</th>
                                                                                            <th>Actualizado</th> @*invisible*@
                                                                                            <th>Pesado</th> @*invisible*@
                                                                                            <th>Forzado 90</th> @*invisible*@
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody></tbody>
                                                                                </table>
                                                                            </div>
                                                                            <div id="optionTable">
                                                                                <div class="col-lg-12" id="totalFinalForm">
                                                                                    <div class="pull-right" style="width:26%;">
                                                                                        <div class="col-lg-6" style="border:1px solid #dddddd"><b> Total:</b></div><div class="col-lg-6 text-right" style="border:1px solid #dddddd" id="totalFinal">0</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-footer">
                                                                            Listado de productos de la oferta.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-lg-12">
                                                            <div class=" pull-left">
                                                                <button id="btnDelete" type="button" class="btn btn-danger" onclick="SaveMessageDelete()"><i class="fa fa-trash-o"></i> Borrar</button>
                                                            </div>
                                                            <div class="pull-right">
                                                                <button id="btnSave" type="button" class="btn btn-success" onclick="SaveMessageEdit()"><i class="fa fa-upload"></i> Guardar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
    </div>


















</div>
<div class="modal fade in" id="showStores" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-shopping-cart fa-2x"></i>   Tiendas</h4>
                <small id="ModalDescription" class="font-bold">Tiendas donde se aplica la oferta</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Información</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label> <i class="fa fa-briefcase"></i> Folio:</label>
                        <div id="folioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-commenting-o"></i> Descripción:</label>
                        <div id="descriptionOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-exclamation-circle"></i> Tipo:</label>
                        <div id="tipoOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-calendar-plus-o"></i> Inicio: </label>
                        <div id="inicioStart">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-calendar-times-o"></i> Fin: </label>
                        <div id="finOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-user"></i> Creador: </label>
                        <div id="userOferta">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-calendar"></i> Fecha Creador: </label>
                        <div id="createOferta">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="fa fa-cart-arrow-down"></i>&nbsp Tiendas</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul id="listStores1">
                                <li id="element1">Uno</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul id="listStores2">
                                <li id="element1">Dos</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul id="listStores3">
                                <li id="element1">Tres</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddPages" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-cubes"></i> Agregar Productos en Comun</h4>
                <small id="ModalDescription" class="font-bold">Formulario para registrar varios productos en común.</small>
            </div>
            <div class="modal-body" style="height:100%">
                <div class="row">
                    <div class="form-group col-lg-8">
                        <label for="cantidadComun" title="Producto" data-toggle="tooltip" data-placement="right">Producto</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-inbox"></span>
                            </span>
                            <input readonly="readonly" id="descripctionComun" name="descripctionComun" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="cantidadComun" title="Cantidad" data-toggle="tooltip" data-placement="right">Cantidad</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-cube"></span>
                            </span>
                            <input id="cantidadComun" name="cantidadComun" min="0" max="9999999" type="number" maxlength="8" placeholder="Cantidad" class="form-control Numeric" />
                        </div>
                    </div>
                    <div class="form-group col-lg-2">
                        <label title="Precio Común" data-toggle="tooltip" data-placement="right">Precio</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-usd"></span>
                            </span>
                            <input id="precioComun" name="precioComun" min="0" max="9999999" type="number" maxlength="8" placeholder="Precio" class="form-control Numeric" />
                        </div>
                    </div>
                    <div class="form-group col-lg-8">
                        <label for="productoComun" title="Agregar producto" data-toggle="tooltip" data-placement="right">Producto</label>
                        <input class="form-control" id="productoComunDrop" name="productoComunDrop" data-bind="event: { change: GetInfoProduct('productoComunDrop') }" />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="precioActualComun" title="Precio Actual" data-toggle="tooltip" data-placement="right">Precio Actual</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="fa fa-usd"></span>
                            </span>
                            <input disabled id="precioActualComun" name="precioActualComun" min="0" max="9999999" type="number" maxlength="8" placeholder="Precio Actual" class="form-control Numeric" />
                        </div>
                    </div>
                    <div class="col-md-1" style="padding-top:20px">
                        <button class="btn btn-success" id="product_button_comun" data-toggle="tooltip" title="Agregar Producto común" data-bind="click: AddProductToTableComun">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive m-t">
                            <table class="table table-striped table-bordered table-hover" id="tableThree" style="width:100%">
                                <thead>
                                    <tr>
                                        <th width="5%">Código Origen</th>
                                        <th width="5%">Código </th>
                                        <th width="20%">Producto</th>
                                        <th width="10%">Precio Actual</th>
                                        <th width="5%">Remover</th>
                                        <th width="5%">Delete Flag</th>
                                        <th width="5%">Update Flag</th>
                                    </tr>
                                </thead>
                                <tbody> </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i> Regresar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="showProductCommon" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-cubes fa-2x"></i>   Productos Comunes</h4>
                <small id="ModalDescription" class="font-bold">Productos Comunes del producto</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Informacion</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label> <i class="fa fa-briefcase"></i> Folio:</label>
                        <div id="folioOfertaCommon">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-commenting-o"></i> Producto Comun:</label>
                        <div id="descriptionOfertaCommon">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-exclamation-circle"></i> Descripcion:</label>
                        <div id="descripPartCode">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-usd"></i> Precio Promocion: </label>
                        <div id="precioOferta">-</div>
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-cubes"></i>Cantidad</label>
                        <div id="cantidadOFerta">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="fa fa-cart-arrow-down"></i>&nbsp Productos Comun</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="TableDivComun" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableCommons" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Descripcion</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("BuyerDivisionSistemasModel", serializer.Serialize(Model.BuyerDivisionSistemas))
@Html.Hidden("ItemsListModel", serializer.Serialize(Model.ItemsList))
@Html.Hidden("PromotionsModel", serializer.Serialize(Model.Promotions))
@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/Scripts/Purchases/PURCH023.js") @*No cambiar forma del llamado del javascript*@
}