﻿@model FloridoERP.ViewModels.Purchases.PURCH005ViewModel
@{
    ViewBag.Title = "PURCH005";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

@section Styles { @Styles.Render("~/vendor/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css") }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span>Insertar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Configura Productos
            </h2>
            <small>Asignar Proveedores a Productos</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Productos
                </div>
                <div class="panel-body">
                    <div id="TableProduct" class="animate-panel" data-effect="fadeInRight">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="hpanel hgreen">
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover" id="tblItems" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>No. de Parte</th>
                                                        <th>Nombre</th>
                                                        <th>UM</th>
                                                        <th>Tipo</th>
                                                        <th>División</th>
                                                        <th>IVA</th>
                                                        <th>IEPS</th>
                                                        <th>SAT No.</th>
                                                        <th>SAT Unidad</th>
                                                        <th>Peso</th>
                                                        <th>Activo</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="PanelEdit" class="hide animate-panel" data-effect="fadeInRight">
                        <div class="content animate-panel">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="hpanel hgreen">
                                        <div class="panel-body">
                                            <div class="pull-left text-left">
                                                <button type="button" class="btn btn-danger btn-outline btn-sm" onclick="Clear();"><i class="fa fa-reply"></i> Regresar</button>
                                            </div>
                                            <div class="pull-right text-right">
                                                <div class="btn-group">
                                                    <a href="PURCH004" title="Agregar Nuevo Producto" data-toggle="tooltip" data-placement="top"><i class="fa fa-plus btn btn-default btn-xs"></i></a>
                                                </div>
                                            </div>
                                            <div class="m" style="margin-top: 60px;">
                                                <i class="fa fa-cube fa-5x"></i>
                                            </div>
                                            <h3>Código: <span id="CodeText" class="font-bold"></span> </h3>
                                            <div id="NameText" class="text-muted font-bold m-b-xs"></div>
                                            <div class="progress m-t-xs full progress-striped progress-small active">
                                                <div style="width: 100%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="100" role="progressbar" class="progress-bar progress-bar-success">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <dl>
                                                <dt><i class="fa fa-align-left"></i> Descripción: </dt>
                                                <dd id="DescriptionText"></dd>
                                                <dt><i class="fa fa-barcode"></i> Código: </dt>
                                                <dd id="codeText"></dd>
                                                <dt><i class="fa fa-industry"></i> División: </dt>
                                                <dd id="DiviText"></dd>
                                                <dt><i class="fa fa-balance-scale"></i> UM: </dt>
                                                <dd id="UMText"></dd>
                                                <dt><i class="fa fa-filter"></i> Tipo: </dt>
                                                <dd id="TypeText"></dd>
                                                <dt><i class="fa fa-flag-checkered"></i> Número de parte del SAT: </dt>
                                                <dd id="partNumberSAT"></dd>
                                                <dt><i class="fa fa-flag"></i> Unidad del SAT: </dt>
                                                <dd id="unitSAT"></dd>
                                                <dt><i class="fa fa-calendar-plus-o"></i> Fecha de Alta: </dt>
                                                <dd id="cDateText"></dd>
                                                <dt><i class="fa fa-user"></i> Lo dio de alta: </dt>
                                                <dd id="cUserText"></dd>
                                            </dl>
                                        </div>
                                        <div class="panel-footer contact-footer">
                                            <div class="row">
                                                <div class="col-md-3 border-right">
                                                    <div class="contact-stat"><span>Activo: </span> <strong id="ActiveText"></strong></div>
                                                </div>
                                                <div class="col-md-3 border-right">
                                                    <div class="contact-stat"><span>Pesado: </span> <strong id="weightText"></strong></div>
                                                </div>
                                                <div class="col-md-3 border-right">
                                                    <div class="contact-stat"><span>Iva %: </span> <strong id="IvaText"></strong></div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="contact-stat"><span>Ieps %: </span> <strong id="IepsText"></strong></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="hpanel">
                                        <div class="hpanel">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#tab-1" id="tab1"><i class="fa fa-briefcase"></i> Proveedores</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-shopping-basket"></i> Precio Base</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-3"><i class="fa fa-shopping-cart"></i> Precio Venta</a></li>
                                                @*<li class=""><a data-toggle="tab" href="#tab-4"><i class="fa fa-gears"></i> Aspectos del producto</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-5"><i class="fa fa-archive"></i> Presentaciones</a></li>
                                                <li class=""><a data-toggle="tab" href="#tab-6"><i class="fa fa-archive"></i> Codigo de barras</a></li>*@
                                                <li class="hide"><a data-toggle="tab" href="#tab-7"><i class="fa fa-stop-circle"></i> Bloqueo en Tiendas</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div id="tab-1" class="tab-pane active">
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table id="TableSuppliers" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>Id</th>
                                                                        <th>Nombre</th>
                                                                        <th>Cuidad</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td><input type="text" id="row-1-age" name="row-1-age"></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <p></p>
                                                        <div class="text-right">
                                                            <button type="button" class="btn btn-sm btn-success" onclick="onModalOpen()"><i class="fa fa-briefcase"></i> Asignar Proveedor</button>
                                                        </div>
                                                        <div class="modal fade" id="ModalAddSupplier" tabindex="-1" role="dialog" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="color-line"></div>
                                                                    <div class="modal-header">
                                                                        <h4 id="ModalTitle" class="modal-title"><i class="fa fa-briefcase fa-1x"></i> Asignar Proveedor a producto</h4>
                                                                        <small id="ModalDescription" class="font-bold">Seleccione un proveedor para asignar.</small>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <div class="row">
                                                                            <div class="form-group col-lg-12">
                                                                                <label title="Lista de proveedores" data-toggle="tooltip" data-placement="right">Proveedores</label>
                                                                                <select class="form-control" id="SuppliersDrop" name="SuppliersDrop"></select>
                                                                            </div>
                                                                            <div class="form-group col-lg-4" style="">
                                                                                <label title="" data-toggle="tooltip" data-placement="right" min="0" data-original-title="Precio Base">Precio Base</label>
                                                                                <input id="etxtBasePriceAdd" class="form-control divAdd" type="number" step=".01" value="0" />
                                                                            </div>
                                                                            <div class="form-group col-lg-4" style="">
                                                                                <label title="Status" data-toggle="tooltip" data-placement="right">Moneda</label>

                                                                                <select class="form-control select2 divAdd" id="selectCurrencyAdd" name="currency" tabindex="-1" title="">
                                                                                    <option value="">Seleccione una opción</option>
                                                                                    <option value="MXN">MXN</option>
                                                                                    <option value="USD">USD</option>
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group col-lg-4" style="">
                                                                                <label title="Fecha de valides" data-toggle="tooltip" data-placement="right">Valido</label>
                                                                                <div class="input-group date ValidDatePi">
                                                                                    <span class="input-group-addon">
                                                                                        <span class="fa fa-calendar"></span>
                                                                                    </span>
                                                                                    <input class="form-control divAdd" id="ValidDateAdd" name="ValidDate" type="text" autocomplete="off">
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                                                                        <button class="btn btn-success" onclick="SalveAsigSupplier();"><i class="fa fa-check"></i> Guardar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab-2" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table id="TablePrice" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th>base_price_id</th>
                                                                        <th>supplier_part_number</th>
                                                                        <th>Proveedor</th>
                                                                        <th>Costo</th>
                                                                        <th>T.Moneda</th>
                                                                        <th>Valido</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="modal fade hmodal-warning" id="ModalAddCost" tabindex="-1" role="dialog" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="color-line"></div>
                                                                    <div class="modal-header">
                                                                        <h4 id="ModalTitle" class="modal-title"><i class="fa fa-shopping-basket fa-1x"></i> Asignar Precio Base</h4>
                                                                        <small id="ModalDescription" class="font-bold">Asignar Precio Base y fecha de vigencia.</small>
                                                                    </div>
                                                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formAddPrice", id = "formAddPrice" }))
                                                                    {
                                                                        <div class="modal-body">
                                                                            <input type="hidden" id="BasePriceId" value="">
                                                                            <input type="hidden" id="SupplierPartNumberId" value="">
                                                                            <div class="row">
                                                                                <div class="form-group col-lg-5">
                                                                                    <label title="Precio Base" data-toggle="tooltip" data-placement="right">Precio Base</label>
                                                                                    @Html.TextBox("spinBasePrice", null, new { @class = "form-control SpinAddPrice Numeric", @onchange = "ChangeMargin();" })
                                                                                </div>
                                                                                <div class="form-group col-lg-3">
                                                                                    <label title="Status" data-toggle="tooltip" data-placement="right">Moneda</label>
                                                                                    @Html.DropDownListFor(m => m.currency, Model.CurrencyList, new { @class = "form-control select2", @id = "txtCurrecy" })
                                                                                </div>
                                                                                <div class="form-group col-lg-4">
                                                                                    <label title="Fecha de valides" data-toggle="tooltip" data-placement="right">Valido</label>
                                                                                    <div class="input-group date ValidDatePi">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-calendar"></span>
                                                                                        </span>
                                                                                        @Html.TextBox("ValidDate", null, new { @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                                                                            <button class="btn btn-success"><i class="fa fa-check"></i> Guardar</button>
                                                                        </div>
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab-3" class="tab-pane">
                                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { name = "formAddPriceSale", id = "formAddPriceSale" }))
                                                    {
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="form-group col-lg-8">
                                                                    <label title="Lista de proveedores" data-toggle="tooltip" data-placement="right">Proveedores</label>
                                                                    <select class="form-control" id="SupplierBaseCost" name="SupplierBaseCost" onchange="return ChangeMarginPrice();"></select>
                                                                </div><div class="form-group col-lg-4">
                                                                    <label title="Fecha en que aplica" data-toggle="tooltip" data-placement="right">Fecha</label>
                                                                    <div class="input-group date ValidDatePiToday">
                                                                        <span class="input-group-addon">
                                                                            <span class="fa fa-calendar"></span>
                                                                        </span>
                                                                        @Html.TextBox("priceAppliedDate", null, new { @class = "date-pick form-control" })
                                                                        @*<input id="priceAppliedDate" type="text" class="date-pick form-control" />*@
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-lg-8">
                                                                    <label title="Precio de venta" data-toggle="tooltip" data-placement="right">Precio de Venta</label>
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <span class="fa fa-usd"></span>
                                                                        </span>
                                                                        @Html.TextBox("salePrice", null, new { @class = "form-control Numeric", @onchange = "ChangeMarginPrice();" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group col-lg-4">
                                                                    <label title="Margen" data-toggle="tooltip" data-placement="right">Margen</label>
                                                                    <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <span class="fa fa-line-chart"></span>
                                                                        </span>
                                                                        @Html.TextBox("salePriceMargin", null, new { @class = "form-control", @readonly = "readonly", @value = "0", @type = "number", @min = "0" })
                                                                    </div>
                                                                </div>
                                                                <div class="text-left">
                                                                    <p>Tipo de Cambio Actual: <b id="excahnge_id_current"></b> </p>
                                                                </div>
                                                                    <div class="text-right">
                                                                        <button type="button" class="btn btn-sm btn-success" onclick="AddPriceSale();"><i class="fa fa-check"></i> Guardar</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    }
                                                </div>
                                                <div id="tab-4" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="form-group col-lg-6">
                                                                <label title="Unidad de Empaque" data-toggle="tooltip" data-placement="right">Unidad de Empaque</label>
                                                                @Html.TextBox("specsPackingSize", null, new { @class = "form-control SpinAddSpecs Numeric", @min = "0", @max = "99999999", @onkeyup = "PositiveNumber('#specsPackingSize')" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label title="Unidad de Pallet" data-toggle="tooltip" data-placement="right">Unidad de Pallet</label>
                                                                @Html.TextBox("specsPalletSize", null, new { @class = "form-control SpinAddSpecs Numeric", @min = "0", @max = "99999999", @onkeyup = "PositiveNumber('#specsPalletSize')" })
                                                            </div>
                                                            <div class="form-group col-lg-3">
                                                                <label title="Unidad de Peso" data-toggle="tooltip" data-placement="right">Unidad de Peso</label>
                                                                @Html.TextBox("specsWeightPacking", null, new { @class = "form-control SpinAddSpecs Numeric", @min = "0", @max = "99999999", @onkeyup = "PositiveNumber('#specsWeightPacking')" })
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-lg-6">
                                                                <label title="DUN 14" data-toggle="tooltip" data-placement="right">DUN 14</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-bars"></span>
                                                                    </span>
                                                                    @Html.TextBox("specsDun14", null, new { @class = "form-control", @maxlengh = "20", @onkeyup = "CaractersString('#specsDun14')" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label title="Locación" data-toggle="tooltip" data-placement="right">Locación</label>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-map-signs"></span>
                                                                    </span>
                                                                    <select id="specsGrLocation" class="form-control" disabled>
                                                                        <option value="SL01">SL01</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row text-right">
                                                            <button type="button" class="btn btn-sm btn-success" onclick="AddSpecs();"><i class="fa fa-check"></i> Guardar</button>
                                                        </div>
                                                    </div>
                                                </div>

                                                @* Presentaciones *@
                                                <div id="tab-5" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="table-responsive">
                                                            <table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th id="pr_th_btn"><button type="button" class="btn  btn-success btn-xs center" id="btn_add"><i class="fa fa-plus"></i> Agregar </button></th>
                                                                        <th>Codigo presentación</th>
                                                                        <th>Nombre</th>
                                                                        <th>Empaque</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Unidad</th>
                                                                        <th>Precio</th>
                                                                        <th>IVA</th>
                                                                        <th>IEPS</th>
                                                                        <th>Precio total</th>
                                                                        <th>Activo</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tbody"></tbody>
                                                            </table>
                                                        </div>

                                                        @* Modal Crear Presentación *@
                                                        <div id="pr_modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="color-line"></div>
                                                                    <div class="modal-header">
                                                                        <h4 id="modal_title" class="modal-title"></h4>
                                                                        <small id="modal_description" class="font-bold"></small>
                                                                    </div>
                                                                    <form id="form" method="post">
                                                                        <div class="modal-body">
                                                                            <div class='row'>
                                                                                <div class="form-group col-lg-6">
                                                                                    <label for="txt_name"> Nombre de presentación</label>
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-align-left"></span>
                                                                                        </span>
                                                                                        <input type="text" id="txt_name" name="txt_name" class="form-control" size="50" />
                                                                                    </div>
                                                                                </div>

                                                                                <div class="form-group col-lg-6">
                                                                                    <label for="txt_part_number">Id producto</label>
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-barcode"></span>
                                                                                        </span>
                                                                                        <input type="text" id="txt_part_number" name="txt_part_number" class="form-control" size="50" />
                                                                                    </div>
                                                                                    <h4 id="label_part_name" style="margin: 1rem 0; ">Nombre del producto:</h4>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="form-group col-lg-6">
                                                                                    <label for="txt_presentation_code">Código Presentación</label>
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-object-group"></span>
                                                                                        </span>
                                                                                        <input type="text" id="txt_presentation_code" name="txt_presentation_code" class="form-control" size="50" />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group col-lg-3">
                                                                                    <label for="select_unit_size">Empaque</label>
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-cubes"></span>
                                                                                        </span>
                                                                                        <select id="select_packing_type" name="select_packing_type" class="form-control">
                                                                                            <option>CAJA</option>
                                                                                            <option>CHAROLA</option>
                                                                                            <option>BOLSA</option>
                                                                                            <option>EMPAQUE</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group col-lg-3">
                                                                                    <label for="txt_quantity">Cantidad</label>
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-cubes"></span>
                                                                                        </span>
                                                                                        <input type="text" id="txt_quantity" name="txt_quantity" class="form-control" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class='row'>
                                                                                <div class="form-group col-lg-6">
                                                                                    <label for="txt_price_total">Precio presentación</label>
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-usd"></span>
                                                                                        </span>
                                                                                        <input type="text" id="txt_price_total" name="txt_price_total" class="form-control" maxlength="15" onchange="price90Presentation();" />
                                                                                    </div>
                                                                                    <h5 id="label_price_extra" style="margin: 1rem 0; "> </h5>
                                                                                </div>
                                                                                <div class="form-group col-lg-3">
                                                                                    <label> Fecha de Aplicación</label>
                                                                                    <div class="input-group date ValidDatePiToday">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-calendar"></span>
                                                                                        </span>
                                                                                        @Html.TextBox("priceAppliedDatePresentation", null, new { @class = "form-control" })
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group col-lg-3">
                                                                                    <label for="select_unit_size">Unidad</label>
                                                                                    <div class="input-group">
                                                                                        <span class="input-group-addon">
                                                                                            <span class="fa fa-cubes"></span>
                                                                                        </span>
                                                                                        <select id="select_unit_size" name="select_unit_size" class="form-control"></select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class='row'>
                                                                                <div class="form-group col-lg-3">
                                                                                    <div class="i-checks">
                                                                                        <label>
                                                                                            <input id="ckbox_active" type="checkbox">
                                                                                            Activo/Inactivo
                                                                                        </label>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group col-lg-3">
                                                                                    <label class="sck_container">
                                                                                        Mostrar en cenefa
                                                                                        <input id="ckbox_show_in_label" type="checkbox">
                                                                                        <span class="checkmark"></span>
                                                                                    </label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button id="btn_form_cancel" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                                                                            <button id="btn_form_accept" class="btn btn-success" type="submit"><i class="fa fa-check"></i> Guardar</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab-6" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            @*<div class="col-lg-4">
                                                                    <label>Producto</label>
                                                                    <input class="form-control" id="Item" name="Item" onchange="SearchBarcode()" />
                                                                </div>*@
                                                            <div class="col-lg-12">
                                                                <button class="btn btn-success pull-right" onclick="ModalOpen()"><i class="fa fa-plus"></i> Agregar Nuevo Codigo de barras</button>
                                                            </div>
                                                            <div class="col-lg-12" style="margin-top:22px;">
                                                                <div class="table-responsive">
                                                                    <table id="Items" class="table table-striped table-bordered table-hover" style="width:100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Código</th>
                                                                                <th>Código Barras</th>
                                                                                <th>Usuario</th>
                                                                            </tr>
                                                                        </thead>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="tab-7" class="tab-pane">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="form-group col-lg-6">
                                                                <div class="input-group">
                                                                    <input id="searchListavailable" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('SitesListBloq,#searchListavailable');" />
                                                                    <span class="input-group-btn">
                                                                        <button class="btn btn-xs btn-default" type="button" onclick="searchLists('SitesListBloq,#searchListavailable');">
                                                                            <span class="fa fa-search"></span>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                                <div class="form-group col-lg-6">
                                                                    <button class="btn btn-success pull-right" onclick="setSiteCode()"><i class="fa fa-plus"></i>Aplicar</button>
                                                                </div>
                                                            </div>
                                                        <div class="row">
                                                            
                                                                <div class="col-lg-12  contact-panel" style="">
                                                                    <div class="hpanel hblue">
               
                                                                        <div class="panel-body no-padding" style="display: block;">
                                                                            @*<ul id="availableList" class="list-group"></ul>*@
                                                                            <ul id="SitesListBloq" class="list-group">
                                                                                @foreach (var item in Model.SiteList)
                                                                                {
                                                                                    if (@item.Text != "Seleccione una opción" && @item.Value != "0011")
                                                                                    {
                                                                                        <li class='list-group-item'>
                                                                                            <p class='checkbox'>
                                                                                                <input type='checkbox' name='SitesBloq' value="@item.Value"> @item.Text
                                                                                            </p>
                                                                                        </li>
                                                                                    }
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                          
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddBarcode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title"> Agregar Codigo de barras</h4>
                <small class="font-bold">Ingresa un nuevo codigo de barras para el producto</small>
            </div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Codigo</label>
                        <input type="text" class="form-control" id="inputPartNumber" disabled name="name" value="" />
                    </div>
                    <div class="col-lg-4">
                        <label>Codigo de barras</label>
                        <input type="text" class="form-control" id="inputBarcode" name="name" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveBarcode()"><i class="fa fa-check"></i> Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", serializer.Serialize(Model.itemlist))
@section Scripts {
    @Scripts.Render("~/bundles/touchspin/js")
    @Scripts.Render("~/bundles/PURCH005/js")
    @Scripts.Render("~/bundles/slimscroll/js")
}

