﻿@{ ViewBag.Title = "PURCH027"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Agregar codigo de barras</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Agregar codigo de barras
            </h2>
            <small>Agrega codigo de barras.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <h3>Codigo de barras</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-4">
                        <label>Producto</label>
                        <input class="form-control" id="Item" name="Item" onchange="SearchBarcode()" />
                    </div>
                    <div class="col-lg-2" style="margin-top:22px;">
                        <button class="btn btn-success" onclick="ModalOpen()"><i class="fa fa-plus"></i></button>
                    </div>
                    <div class="col-lg-12" style="margin-top:22px;">
                        <div class="table-responsive">
                            <table id="Items" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Código Barras</th>
                                        <th>Usuario</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddBarcode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title"> Agregar Codigo de barras</h4>
                <small class="font-bold">Ingresa un nuevo codigo de barras para el producto</small>
            </div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Codigo</label>
                        <input type="text" class="form-control" id="inputPartNumber" disabled name="name" value="" />
                    </div>
                    <div class="col-lg-4">
                        <label>Codigo de barras</label>
                        <input type="text" class="form-control" id="inputBarcode" name="name" value="" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveBarcode()"><i class="fa fa-check"></i> Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH027/js") }