﻿@{ ViewBag.Title = "PURCH019"; }

@section Styles { @Styles.Render("~/bundles/simple_toggle/css") }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras </a></li>
                    <li><a href="COST001">Gastos </a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Agrupar Ordenes de Compra</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Seleccione Tienda
            </h2>
            <small>Agrupa ordenes de compra para mandar a los acreedores. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active" title="Agrupación Ordenes Compra" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-1"> <i class="fa fa-plus"></i>&nbsp;Agrupación de Ordenes de Compra</a></li>
                        <li class="" title="Ordenes Enviadas a Proveedor" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-2"><i class="fa fa-list-alt"></i>&nbsp;Ordenes Enviadas a Proveedor</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                @Html.Partial("PartialViewPurch019/_PURCH019ORDERS")
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                @Html.Partial("PartialViewPurch019/_PURCH019SENTORDERS")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH019/js") }