﻿@model FloridoERP.ViewModels.Purchases.PURCH025Model
@{ ViewBag.Title = "PURCH025"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href=""></a>Reportes</li>
                    <li class="active">
                        <span>Reporte Transferencias</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte Conciliacion Procesadora - Florido
            </h2>
            <small>Reporte de las entradas y salidas de Procesadora y Tiendas</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Transferencias</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    @Html.TextBox("ValidDate1", null, new { @class = "form-control", @autocomplete = "off" })
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    @Html.TextBox("ValidDate2", null, new { @class = "form-control", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Tienda</label>
                            <select id="site" class="form-control select2">
                                <option value="0" selected>TODAS LAS TIENDAS</option>
                                @foreach (var item in Model.Site)
                                {
                                    <option value="@item.SiteCode">@item.SiteName</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-1" style="margin-top:5px;">
                            <br />
                            <button id="Search" class="btn btn-primary" onclick="searchTransfers()"> <i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>
                    <div id="TableProduct" class="animate-panel" data-effect="zoomIn">
                        <div class="row projects">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tableTransfers" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Tienda</th>
                                                <th>Total Procesadora</th>
                                                <th>Total Tienda</th>
                                                <th>Diferencia</th>
                                                <th>Check</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH025/js") }