﻿<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li class="active">
                        <span>Reportes</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gestion de Reportes
            </h2>
            <small>Modulo gestion de Reportes</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH011">
                            <h3 class="m-b-xs">Reporte de Cambio de Costos</h3>
                            <div class="m">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <p class="small">
                                Se mostrará una lista con los reportes de cambio de costos.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH011" class="btn btn-info btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH022">
                            <h3 class="m-b-xs">Reporte de Gastos</h3>
                            <br />
                            <div class="m">
                                <i class="fa fa-file-text fa-5x"></i>
                            </div>
                            <p class="small">
                                Se muestra los reportes de gastos en ciertos periodos.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH022" class="btn btn-info btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH023">
                            <h3 class="m-b-xs">Historial de Prmociones</h3>
                            <div class="m">
                                <i class="fa fa-star fa-5x"></i>
                            </div>
                            <p class="small">
                                Muestra las promociones que se han hecho en las diferentes sucursales.
                            </p>
                            <br />
                        </a>
                        <a href="PURCH023" class="btn btn-info btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".normalheader").addClass("small-header");
                $("#fa").removeClass("fa-arrow-up").addClass("fa-arrow-down");
                $("#hbreadcrumb").removeClass("m-t-lg");
            }, 5000);
        });
    </script>
}