﻿<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li class="active">
                        <span>Gestion de gerencia de cajas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gestion de gerencia de cajas
            </h2>
            <small>Modulo gestion de cajas</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-3">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PURCH015">
                            <h3 class="m-b-xs">Tipo de cambio</h3>
                            <div class="m">
                                <i class="fa fa-cube fa-5x"></i>
                            </div>
                            <p class="small">
                                Se mostrara la opcion de agregar el tipo de cambio
                            </p>
                            <br />
                        </a>
                        <a href="PURCH015" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".normalheader").addClass("small-header");
                $("#fa").removeClass("fa-arrow-up").addClass("fa-arrow-down");
                $("#hbreadcrumb").removeClass("m-t-lg");
            }, 5000);
        });
    </script>
}