﻿@model FloridoERP.ViewModels.Purchases.PURCH020ViewModel
@{ ViewBag.Title = "PURCH020"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li>
                        <span>Gastos</span>
                    </li>
                    <li class="active">
                        <span>Requisición de Consumo Interno</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Requisición de Consumo Interno
            </h2>
            <small></small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active" title="Lista de Requisiciones" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-1"><i class="fa fa-list-alt"></i>&nbsp;Lista de Requisiciones</a></li>
                        <li class="" title="Nueva Requisición" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-2"><i class="fa fa-plus"></i>&nbsp;Nueva Requisición</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="content animate-panel">
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        <div class="hpanel hblue">
                                            <div class="panel-heading">
                                                <div class="panel-tools">
                                                    <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                </div>
                                                <a onclick="PanelGrid.click();">Lista de requisiciones</a>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label title="Seleccione Tienda" data-toggle="tooltip" data-placement="right">Seleccione Tienda</label>
                                                    @Html.DropDownListFor(m => m.Sites, Model.SiteList, new { @class = "form-control", @id = "site", @onchange = "viewRequirements()" })
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div id="TableReqDiv" class="animate-panel" data-effect="zoomIn" hidden>
                                                    <div class="row table-responsive">
                                                        <table id="TableRequirements" class="table table-striped table-bordered table-hover" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Folio</th>
                                                                    <th>Fecha</th>
                                                                    <th>Estado</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-2" class="tab-pane">
                            <div class="content animate-panel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hpanel hblue">
                                            <div class="panel-heading">
                                                <div class="panel-tools">
                                                    <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                </div>
                                                <a onclick="PanelGrid.click();">Requisición de Consumo Interno</a>
                                            </div>
                                            <div class="panel-body" id="selected">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-sm-10">
                                                            <div class="row">
                                                                <div class="col-sm-6 col-sm-offset-5">
                                                                    <h4 class="text-info"><i class="pe-7s-wallet fa-2x"></i> <a class="text-info"></a>Productos seleccionados</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                                                        <div class="row table-responsive">
                                                            <table id="tableItems2" class="table table-striped table-bordered table-hover" width="100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Código Producto</th>
                                                                        <th>Descripción</th>
                                                                        <th>Categoria</th>
                                                                        <th>Proveedor</th>
                                                                        <th>Cantidad</th>
                                                                        <th>Borrar</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-2 text-left">
                                                                <button class="btn btn-sm btn-success text-right" id="btnSearch" onclick="save()">Guardar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hpanel hblue">
                                            <div class="panel-heading">
                                                <div class="panel-tools">
                                                    <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                </div>
                                                <a onclick="PanelGrid.click();">Agregar productos para requisición</a>
                                            </div>
                                            <div class="panel-body" id="items">
                                                <div class="row">
                                                    <div class="col-sm-10">
                                                        <div class="row">
                                                            <div class="col-sm-6 col-sm-offset-5">
                                                                <h4 class="text-info"><i class="pe-7s-wallet fa-2x"></i> <a class="text-info">Seleccionar productos para requisición</a></h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                                                    <div class="row table-responsive">
                                                        <table id="tableItems" class="table table-striped table-bordered table-hover" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Código Producto</th>
                                                                    <th>Descripción</th>
                                                                    <th>Categoria</th>
                                                                    <th>Proveedor</th>
                                                                    <th>Cantidad</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model.InternalRequierement))
@section Scripts { @Scripts.Render("~/bundles/PURCH020/js") }