﻿@model App.Entities.ViewModels.ItemPresentation.PresentationViewModel
@{ ViewBag.Title = "PURCH017"; }

<style>
    .pres {
        padding: 25px 40px 0px 40px;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Captura de codigos en empaques </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Captura de codigos en empaques
            </h2>
            <small>Se capturaran todos los codigos de una empaques. </small>
        </div>
    </div>
</div>

<div class="pres animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">Agregar productos a empaques</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-5 form-group">
                            <label>Empaques</label>
                            <select id="presentations" class="form-control select2" onchange="GetPresentation()">
                                <option value="0">Seleccione una opción</option>
                                @foreach (var item in Model.Items)
                                {
                                    <option value="@item.part_number">@item.part_description</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div id="item-pres" class="row" style="visibility:hidden">
                        <br />
                        <div class="col-lg-2">
                            <label>Código Empaque:</label>
                            <p id="codeProduct"></p>
                            <input type="hidden" id="presentationid" />
                        </div>
                        <div class="col-lg-4">
                            <label>Nombre de Empaque:</label>
                            <p id="descriptionProduct"></p>
                        </div>
                        <div class="col-lg-2">
                            <label>Costo Empaque:</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-usd"></span>
                                </span>
                                <input class="form-control Decimal" id="costProduct" name="costProduct" onchange="UpdateCost(this.value)" />
                            </div>
                            <input type="hidden" id="totalprice" />
                        </div>
                        <div class="col-lg-2 hide">
                            <label>Costo producto:</label>
                            <p id="packingtypeProduct"></p>
                        </div>
                        <div class="col-lg-2">
                            <label>Unidad:</label>
                            <p id="unitsizeProduct"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">Productos seleccionados</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-4">
                            <label>Productos:</label>
                            <select class="form-control select2" id="items" disabled>
                                <option value="0">Seleccione un producto</option>
                                @foreach (var item in Model.Items)
                                {
                                    <option value="@item.part_number">@item.part_description</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-3">
                            <label>Cantidad</label>
                            <input class="form-control" id="quantity" type="text" placeholder="Ingrese una cantidad" autocomplete="off" disabled>
                        </div>
                        <div class="col-lg-3">
                            <label>Costo Unitario</label>
                            <input class="form-control" id="cost" type="text" placeholder="Ingrese el Costo" autocomplete="off" disabled>
                        </div>
                        <div class="col-lg-2">
                            <button data-toggle="tooltip" data-placement="top" data-original-title="Agregar" class="btn btn-success" id="addProducts" onclick="AddItem()" style="margin-top:22px;" disabled>
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>

                        <div class="col-lg-12 pres">
                            <div id="TableDivProducts" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="Codes" class="table table-striped table-bordered table-hover" style="width: 100%">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Descripción</th>
                                                <th>Cantidad</th>
                                                <th>Costo unitario</th>
                                                <th>Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right" style="margin-top:30px;margin-right:50px;">
                        <label>Total productos: </label>
                        <br>
                        <label id="total_cost_sum">$ 0</label>
                        <br>
                        <label>Total Empaque</label>
                        <br>
                        <label id="total_cost">$ 0</label>
                        <br>
                    </div>
                    <div class="row" style="margin-top:30px;">
                        <div class="col-lg-3 form-group pull-right">
                            <br />
                            <button class="btn btn-danger" id="btnCancel" onclick="Cancel()" disabled><i class="fa fa-close"></i> Cancelar</button>
                            <button class="btn btn-success" id="btnSave" onclick="Save()" disabled><i class="fa fa-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH017/js") }