﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FloridoERP.ViewModels.Purchases.PromotionsModel
@Styles.Render("~/vendor/select2-3.5.2/select2.css")
@Styles.Render("~/bundles/select2/css")
@Styles.Render("~/vendor/select2-bootstrap/select2-bootstrap.css")
@Styles.Render("~/bundles/datatables/css")
@Styles.Render("~/bundles/sweetAlert/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />
<link rel="stylesheet" href="~/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Programar Ofertas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Programar Promociones por Producto.
            </h2>
            <small>Formulario para programar promociones por producto.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Programar promociones</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="col-md-5 contact-panel">
                                        <div class="hpanel hgreen">
                                            <label title="Selecciona Tienda" data-toggle="tooltip" data-placement="right">Selecciona Tienda</label>
                                            <div class="panel-heading hbuilt">
                                                <div class="panel-tools">
                                                    <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-5">
                                                        Tiendas.
                                                    </div>
                                                    <div class="col-md-5">
                                                        <form action="">
                                                            <div class="input-group">
                                                                <input id="searchListassigned" type="text" class="form-control input-xs" placeholder="Buscar Tienda..." onkeyup="searchLists('assignedList,#searchListassigned');" />
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-xs btn-default" type="button" onclick="searchLists('assignedList,#searchListassigned');">
                                                                        <span class="fa fa-search"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body no-padding" style="display: block;" id="bodySites">
                                                <ul id="assignedList" class="list-group">
                                                    @foreach (var item in Model.SiteList)
                                                    {
                                                        <li class="list-group-item">
                                                            <p class="checkbox">
                                                                <input type="checkbox" name="available" value="@item.Value.ToString()">&nbsp;&nbsp;
                                                                <label id="Label_@item.Value.ToString()" for="Label_@item.Value.ToString()">@item.Text.ToString()</label>
                                                            </p>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-7">
                                        <div class="form-group col-lg-6">
                                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Fecha Inicial</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                                <input id="fechaInicio" placeholder="Fecha Inicial" type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label title="Fecha Final" data-toggle="tooltip" data-placement="right">Fecha Final</label>
                                            <div class="input-group date">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                                <input id="fechaFin" placeholder="Fecha Final" type="text" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label title="NombrePromoción:" data-toggle="tooltip" data-placement="right">Nombre de la Promoción:</label>
                                            <input id="_nombrePromo" type="text" class="form-control" placeholder="Ingrese el nombre..." />
                                        </div>
                                        <div class="form-group col-lg-5">
                                            <label title="StatusPromocion:" data-toggle="tooltip" data-placement="right">Estatus de la Promoción:   </label>



                                        </div>
                                        <div class="form-group col-lg-6">


                                            <input id="_status" type="checkbox" name="availableStatus" checked="checked">
                                            <label>ACTIVA</label>

                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label title="Tipo de Oferta" data-toggle="tooltip" data-placement="right">Encabezado del Ticket</label>
                                            <input id="_header" type="text" class="form-control " placeholder="Ingrese el nombre..." />
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label title="Tipo de Oferta" data-toggle="tooltip" data-placement="right">Pie de Ticket</label>
                                            <input id="_footer" type="text" class="form-control " placeholder="Ingrese el nombre..." />
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="hpanel hgreen">
                                            <div class="panel-heading hbuilt">
                                                <div class="panel-tools">
                                                    <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                </div>
                                                <a onclick="animationPanel('#PanelDiv');" class="font-bold" id="text_promotion">
                                                    Condiciones de la promoción
                                                </a>
                                            </div>
                                            <div class="panel-body">
                                                <div class="col-lg-12">
                                                    <div class="row">



                                                        <div class="form-group col-lg-5">
                                                            <label data-placement="right">Agregar productos por Proveedor:&nbsp;&nbsp;</label>
                                                            <input id="_CBproveedor" cha type="checkbox" name="availableStatus" onchange="onChangeCBopctions()">
                                                        </div>
                                                    </div>
                                                    <div class="row" hidden id="_rowSupplier">
                                                        <div class="form-group col-md-6" id="SearchClient">
                                                            <label title="Seleccione un producto" data-toggle="tooltip" data-placement="right">Agregar artículos por proveedor</label>
                                                            <div class="col-md-10 input-group m-b">
                                                                @Html.DropDownListFor(model => model.SupplierCode, null, "-- Buscar Proveedor por Nombre o Número--", htmlAttributes: new { @class = "form-control select2" })

                                                            </div>
                                                        </div>

                                                        <div id="promotion_price_span" class="col-md-2">
                                                            <label title="Precio Promoción" data-toggle="tooltip" data-placement="right">Monto mínimo</label>
                                                            <div class="input-group m-b">
                                                                <span class="input-group-addon">$</span>
                                                                <input id="_amount_min_item_supp" name="promotion_price" min="0" max="9999999" type="number" onfocus="focusInItemAmountSup()" maxlength="8" value="0" class="form-control Numeric" />
                                                            </div>
                                                        </div>
                                                        <div id="base_quantityAdvanced_span" class="col-md-2">
                                                            <label title="Cantidad" data-toggle="tooltip" data-placement="right">Cantidad mínima</label>
                                                            <div class="input-group m-b">
                                                                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                                                <input id="_quantity_min_item_supp" name="base_quantity_advanced" type="number" onfocus="focusInItemQuantitySup()" min="0" max="99999999" maxlength="8" value="0" class="form-control Numeric" />
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <div class="form-group col-lg-12">
                                                                <label>&nbsp;</label>
                                                                <div class="text-left">

                                                                    <button id="searchButton" type="button" class="btn btn-success" id="ProcessClient" onclick="Search()">Agregar Artículos</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="_rowItems">
                                                        <div class="form-group col-md-5">
                                                            <label title="Seleccione un producto" data-toggle="tooltip" data-placement="right">Seleccione un artículo</label>
                                                            @Html.DropDownListFor(m => m.Items, Model.ItemsList, new { @class = "form-control", @id = "ItemsDrop", @onchange = "  blockSites(); getPrice();" })
                                                        </div>
                                                        <div id="base_price_span" class="col-md-2">
                                                            <label title="Precio Actual" data-toggle="tooltip" data-placement="right">Precio </label>
                                                            <div class="input-group m-b">
                                                                <span class="input-group-addon">$</span>
                                                                <input id="base_price" name="base_price" type="number" placeholder="Precio " class="form-control Numeric" disabled />
                                                            </div>
                                                        </div>
                                                        <div id="promotion_price_span" class="col-md-2">
                                                            <label title="Precio Promoción" data-toggle="tooltip" data-placement="right">Monto mínimo</label>
                                                            <div class="input-group m-b">
                                                                <span class="input-group-addon">$</span>
                                                                <input id="_amount_min_item" name="promotion_price" min="0" max="9999999" type="number" onfocus="focusInItemAmount()" maxlength="8" value="0" class="form-control Numeric" />
                                                            </div>
                                                        </div>
                                                        <div id="base_quantityAdvanced_span" class="col-md-2">
                                                            <label title="Cantidad" data-toggle="tooltip" data-placement="right">Cantidad mínima</label>
                                                            <div class="input-group m-b">
                                                                <span class="input-group-addon"><i class="fa fa-cubes"></i></span>
                                                                <input id="_quantity_min_item" name="base_quantity_advanced" type="number" onfocus="focusInItemQuantity()" min="0" max="99999999" maxlength="8" value="0" class="form-control Numeric" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <label>&nbsp;</label>
                                                            <div class="text-right">
                                                                <button id="btnSave" btnSave type="button" class="btn btn-success" onclick="addProduct()"> Agregar </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div id="promotion_price_span" class="col-md-3">
                                                        <label data-toggle="tooltip" data-placement="right">Monto mínimo de compra </label>


                                                        <div class="input-group m-b-xs">
                                                            <span class="input-group-addon">$</span>
                                                            <input id="_amount_min_promotion" name="promotion_price" min="0" max="9999999" type="number" maxlength="8" value="0" class="form-control Numeric" />

                                                        </div>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <label data-toggle="tooltip" data-placement="right">Promociones disponibles </label>


                                                        <div class="input-group m-b-xs">
                                                            <span class="input-group-addon">$</span>
                                                            <input id="_promotion_quantity_avalible" min="0" max="9999999" type="number" maxlength="8" value="0" class="form-control Numeric" />

                                                        </div>

                                                    </div>
                                                    <div class="col-md-3">
                                                        <label data-toggle="tooltip" data-placement="right">Promociones por venta </label>


                                                        <div class="input-group m-b-xs">
                                                            <span class="input-group-addon">$</span>
                                                            <input id="_promotion_quantity_by_sale" min="0" max="9999999" type="number" maxlength="8" value="1" class="form-control Numeric" />

                                                        </div>

                                                    </div>
                                                    <div id="promotion_price_span" class="col-md-12">
                                                        (Las cantidades en 0 no se consideran para aplicar la promoción)
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="content animated-panel" id="TableItemsPromotion">
                                    <div class="hpanel">
                                        <div class="panel-body">
                                            <label data-toggle="tooltip" data-placement="right">Articulos de la promoción </label>
                                            <div class="table-responsive m-t">
                                                <table id="PromotionTable" class="table table-striped table-bordered table-hover" style="width:100%">
                                                    <thead>
                                                        <tr>

                                                            <th>Número de Artículo</th>
                                                            <th>Descripción</th>
                                                            <th>Precio</th>
                                                            <th>Monto Min</th>
                                                            <th>Cant. Min.</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-lg-12">
                                <div class="text-right">
                                    <button id="btnCancel" type="button" class="btn btn-danger" onclick="ClearAll()"><i class="fa fa-close"></i> Cancelar</button>
                                    <button id="btnSave" btnSave type="button" class="btn btn-success" onclick="SaveMessage()"><i class="fa fa-upload"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
@section Scripts {
    <script src="~/Scripts/Datatable.js"></script>
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Vendor/sweetalert/lib/sweet-alert.js"></script>
    <script src="~/Vendor/datatables_plugins/api/fnDataUpdate.js"></script>
    <script src="~/Vendor/datatables_plugins/api/sum().js"></script>
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/Vendor/select2-3.5.2/select2.min.js"></script>
    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">

        var listAddProducts = [];
        var listFinal = [];
        var enable = true;
        var itemsModel = @Html.Raw(serializer.Serialize(Model.Items));
        var codigoPresentacion = false;
        var count = 1;
        var boolFields = true;
        var base_price = 0;
        var countPlus = 0;
        var countGroupPlus = 1;
        var countGroupPlusActual = 0;
        var countInsertGroup = 0;
        var countIndexGroup = 0;
        var iva0 = 0;
        var ieps0 = 0;

        //Función para validar decimales
        const isDecimal = decimal => number => {
            const IsDecimal = RegExp(`^\\d+\\.?\\d{0,${decimal}}$`);
            return IsDecimal.test(number);
        }
        //0 New - 1 Edit
        var GroupEditOrNew = 0;
        //<sumary>
        // Suma de total de una columna de una lista
        //</sumary>
        const Sum = list => Name => list.reduce((init, total) => { return init + parseFloat(total[Name]) }, 0)
        const fomartmoney = money => decimal => new Intl.NumberFormat("en-US", { style: "currency", currency: "USD", currencyDisplay: "symbol", maximumFractionDigits: decimal}).format(money);


        jQuery(document).ready(function ()
        {
            var suppliersList = @Html.Raw(Json.Encode(Model.SuppliersList));
            console.log(suppliersList);
            PopulateCombobox(suppliersList);
            $.each(itemsModel, function (i, p) {
                $('#ItemsDrop').append($('<option></option>').val(p.part_number).html(p.part_description));
            });

            $(document).on("keypress", '.Numeric', function (event) {
                var keyValue = event.key;
                if (keyValue.match(/^(\d*\.?\d*)$/))
                    return true;
                else
                    return false;
            });


            $("#ItemsDrop").select2({
                minimumInputLength: 2,
                formatInputTooShort: function ()
                {
                    return "Buscar un Producto.";
                },
                matcher: function (term, text, option)
                {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
            });
            $("#SupplierCode").select2({
               minimumInputLength: 3
            });

            $('#fechaInicio').datepicker({
                autoclose: true,
                todayHighlight: true,
                startDate: moment().add(0,"days").format("MM/DD/YYYY")
            }).on("changeDate", function (e) {
                ValidateDate();
            });
            $('#fechaFin').datepicker({
                autoclose: true,
                todayHighlight: true,
                startDate: moment().add(0,"days").format("MM/DD/YYYY")
            }).on("changeDate", function (e) {
                ValidateDate();
            });


            $('#assignedList').find('input[name="available"]').iCheck({
                checkboxClass: 'icheckbox_square-green'
            });


            $('.iCheck-helper:first').on('click', function ()
            {
                if ($("input[type='checkbox']:checked:first").is(':checked') && count == 1)
                {
                    $('input[name="available"]').iCheck('check');
                    count = 2;
                }
                else
                {
                    count = 1;
                    $('input[name="available"]:checked').iCheck('uncheck');
                }
            });
            $('.iCheck-helper:gt(0)').on('click', function ()
            {
                if ($("input[name='available']:gt(0)").length == $("input[name='available']:gt(0):checked").length)
                {
                    $('input[name="available"]:first').iCheck('check');
                    count = 2;
                }
                else
                {
                    count = 1;
                    $('input[name="available"]:first').iCheck('uncheck');
                }
            });
        });
        function PopulateCombobox(SupplierList) {
            $("#SupplierCode").empty();
            $("#SupplierCode").append("<option value=''>--Buscar Proveedor por Nombre o Número--</option>");
            $.each(SupplierList, function (index, optiondata) {
                $("#SupplierCode").append("<option value='" + optiondata.supplier_id + "'>"  + optiondata.Name + "</option>");
            });
        }
        function onChangeCBopctions()
        {
            if(_CBproveedor.checked)
            {
                _rowSupplier.hidden=false;
                _rowItems.hidden=true;

            }
            else
            {
                _rowSupplier.hidden=true;
                _rowItems.hidden=false;

            }
            tableProducts.clear().draw();
            listAddProducts=[];
            listFinal=[];
        }
        function focusInItemQuantity()
        {
            $("#_amount_min_item").val("0");
        }
        function focusInItemAmount()
        {

            $("#_quantity_min_item").val("0");
        }
        function focusInItemQuantitySup()
        {

            $("#_amount_min_item_supp").val("0");
        }
        function focusInItemAmountSup()
        {

            $("#_quantity_min_item_supp").val("0");
        }
        // agregar items a tabla promociones
        var tableProducts = $('#PromotionTable').DataTable({
            //  "paging": false,
            "ordering": false,
            "info": false,
            // "searching": false,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            columnDefs: [
                {
                    data: null,
                    width: "1%",
                    defaultContent: '<button class="btn btn-xs btn-danger btn-circle" id="remove-button-one" style="text-align:center;border-right-width: 0px;padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;margin-top: 5px;"><i class="fa fa-times"></i> </button> ',
                    targets: [5]
                }
            ],
            columns: [

                { data: 'part_number'},
                { data: 'part_description'},
                { data: 'promotion_price'},
                { data: 'item_amount' },
                { data: 'item_quantity' },
                { data: null }
            ],
        });

        $('#PromotionTable tbody').on('click', '#remove-button-one', function ()
        {
            if (!enable)
            {
                return 0
            }
            var index = tableProducts.row($(this).parents('tr')).index();
            console.log(index);
            console.log(listAddProducts);
            listAddProducts.splice(index, 1);
            listFinal.splice(index, 1);
            tableProducts.clear().draw();
            console.log(listAddProducts);
            tableProducts.rows.add(jQuery(listAddProducts));
            tableProducts.columns.adjust().draw();

        });


        function addProduct()
        {
           // listFinal=[];
            // listAddProducts=[];
            var Product =
                            {
                                part_number: $("#ItemsDrop").val(),
                                part_description: $("#ItemsDrop").select2('data').text,
                                promotion_price: $("#base_price").val(),
                                item_amount: $("#_amount_min_item").val(),
                                item_quantity:$("#_quantity_min_item").val()
                            };
            var Final =
            {

                part_number: $("#ItemsDrop").val(),
                item_amount: $("#_amount_min_item").val(),
                item_quantity:$("#_quantity_min_item").val()
            };
            if ($("#ItemsDrop").val() == "")
            {
                toastr.warning('Selecciona al menos un Producto.');

                return false;
            }
            if( $("#_amount_min_item").val()==0 && $("#_quantity_min_item").val()==0)
            {
                toastr.warning('El monto y cantidad del Producto no puede ser cero');

                return false;
            }


            listFinal.push(Final);
            listAddProducts.push(Product);
            clearProduct();

            tableProducts.clear().draw();
            tableProducts.rows.add(jQuery(listAddProducts));
            tableProducts.columns.adjust().draw();
            return true;

        }

        function clearProduct()
        {
            $("#ItemsDrop").val("").trigger("change");
            $("#select2-chosen-1").html("Buscar un Producto.");

            $("#base_price").val("");



            $("#_amount_min_item").val("0");
            $("#_quantity_min_item").val("0");


        }
        $('#assignedList').slimScroll({
            height: '200px'
        });


        //
        // Para desmarcar los precios
        //

        function blockSites() { $("#bodySites").css({ 'display': "none" }); }


        function getPrice()
        {

            if ($("#ItemsDrop").val() == "" || $("#ItemsDrop").val() == 0 || $("#ItemsDrop").val() == null) {
                return false;
            }
            $.ajax({
                url: '@Url.Action("ActionGetItemPriceIvaIeps", "Item")',
                type: "GET",
                data:
                {
                    "part_number": $("#ItemsDrop").val(),
                },
                success:
                    function (returndata)
                    {
                        if (returndata.success == true)
                        {
                            //Con IEPS e IVA
                            base_price = returndata.itemC.Price;
                            $("#base_price").val(base_price);
                            productIeps = returndata.itemC.Ieps;
                            productIva = returndata.itemC.Iva;
                            codigoPresentacion = returndata.itemC.Presentation;

                        }
                        else
                        {
                            if ($("#tipo").val() != "AVANZADA")
                            {
                                toastr.warning('Producto sin precio asignado.');
                            }
                            productIeps = returndata.itemC.Ieps;
                            productIva = returndata.itemC.Iva;
                            base_price = returndata.itemC.Price;
                            $("#base_price").val(base_price);
                            return false;
                        }
                    },
                error:
                    function ()
                    {
                        toastr.error('Error inesperado contactar a sistemas.');
                    }
            });

        }

        //
        // Agregar un prodcuto a la lista correspondiente (tableProducts - tableAdvanced)
        //





        function ValidateDate() {
            //Validar fecha
            if($('#fechaInicio').val() != "" && $('#fechaFin').val() !=""){
                if (moment($('#fechaInicio').val()) > moment($('#fechaFin').val())) {
                    toastr.warning('La fecha inicial no puede ser mayor a la fecha final.');
                    $('#fechaInicio').val("");
                }
            }
        }


        function ValidateFields()
        {


            if($('#fechaInicio').val() == ""){
                toastr.warning('Ingrese una fecha inicial.');
                $('#fechaInicio').focus();
                //$("#ItemsDrop").val("");
                //$("#select2-chosen-1").html("Buscar un Producto.");
                return false;
            } else {
                if($('#fechaFin').val() == ""){
                    toastr.warning('Ingrese una fecha final.');
                    $('#fechaFin').focus();

                    return false;
                }
            }


            if($('#fechaInicio').val() != "" && $('#fechaFin').val() !=""){
                if (moment($('#fechaInicio').val()) > moment($('#fechaFin').val())) {
                    toastr.warning('La fecha inicial no puede ser mayor a la fecha final.');

                    return false;
                }
            }


            sitesL = [];

            $.each($("input[name='available']:checked"), function ()
            {
                sitesL += $(this).val() + ',';
            });


            if (sitesL.length == 0)
            {
                toastr.warning('Selecciona al menos una Tienda.');
                $("#ItemsDrop").val("");
                $("#select2-chosen-1").html("Buscar un Producto.");
                return false;
            }


            if (listFinal.length==0)
            {
                toastr.warning('Selecciona al menos un Producto.');

                return false;
            }





            if ( $('#_nombrePromo').val() == "")
            {
                toastr.warning('Ingrese el nombre de la promoción.');

                return false;
            }
            if ( $('#_header').val() == "")
            {
                toastr.warning('Falta el encabezado del Ticket.');

                return false;
            }
            if ( $('#_promotion_quantity_avalible').val() == 0)
            {
                toastr.warning('Falta la cantidad de promociones');

                return false;
            }


            return true;
        }


        // Mensaje de confirmación para guardar
        //
        function SaveMessage()
        {

            swal({
                title: "¿Está seguro que desea guardar la oferta?",
                type: "info",
                showCancelButton: true,
                confirmButtonColor: "#55dd6b",
                confirmButtonText: "Continuar",
                cancelButtonText: "Cancelar"
            },
                function (isConfirm) {
                    if (isConfirm) { SavePromotion(); }
                });


        }

        function SavePromotion()
        {
            //
            // Envia los productos para actualizar la base de datos
            //

            if(ValidateFields()) {

                var status=false;
                if($("#_status").val())
                    status=true;
                var model =
                {
                    "promotion_name": $('#_nombrePromo').val(),
                    "start_date": $('#fechaInicio').val(),
                    "end_date": $('#fechaFin').val(),
                    "status":status,
                    "promotions_by_ticket":$('#_promotion_quantity_by_sale').val(),
                    "ticket_header":$('#_header').val(),
                    "ticket_footer":$('#_footer').val(),
                    "sale_min":$('#_amount_min_promotion').val(),
                    "promotion_value":$('#_promotion_quantity_avalible').val(),
                    "item_amount":$('#_amount_min_item_supp').val(),
                    "item_quantity":$('#_quantity_min_item_supp').val(),

                }
                var sitess =
                {
                    "site_code": sitesL
                }
                //var Final =
                //           {
                //               part_number: $("#ItemsDrop").val(),
                //               item_amount: $("#_amount_min_item").val(),
                //               item_quantity:$("#_quantity_min_item").val()
                //           }
                //listFinal.push(Final);
                console.log(listFinal);
                StartLoading();
                $("#btnSave").prop("disabled", true);
                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("ActionCreatePromotionPOS", "Promotion"))",
                    data:
                {
                    "model": model,
                    "items": listFinal,
                    "sites": sitess
                },
                    success:
                        function (returndata)
                        {
                            if (returndata.success)
                            {
                                EndLoading();
                                $("#btnSave").prop("disabled", false);
                                enable = true;
                                toastr.success("Promoción Guardada Correctamente.");
                                ClearAll();
                                $("#bodySites").css({ 'display': "block" });
                            }
                            else
                            {
                                if (returndata.responseText == "Terminó tu sesión.") {
                                    SessionFalse("Su sesión a terminado.")
                                }
                                EndLoading();
                                toastr.warning(returndata.responseText);
                            }
                        },
                    error: function ()
                    {
                        toastr.error('Error inesperado contactar a sistemas');
                        EndLoading();
                    }
                });
            }

        }

        function ClearAll()
        {
            $("#ItemsDrop").val("").trigger("change");
            $("#select2-chosen-1").html("Buscar un Producto.");

            listFinal = [];
            listAddProducts=[];
            tableProducts.clear().draw();
            $('#_nombrePromo').val("");
            $('#_header').val("");
            $('#_footer').val("");
            $('#_amount_min_promotion').val("0");
            $("#_amount_min_item").val("0");
            $("#_quantity_min_item").val("0");
            $('input[name="available"]:checked').iCheck('uncheck');
            $('#fechaFin').val("");
            $('#fechaInicio').val("");

            $("#_amount_min_item_supp").val("0");
            $("#_quantity_min_item_supp").val("0");

        }
        function Search() {



            //  obj.SelectedDepartments=Pages.slice(0, -1);
            if ($("#SupplierCode").val() == "")
            {
                toastr.warning('Selecciona al menos un Proveedor.');

                return false;
            }
            if( $("#_amount_min_item_supp").val()==0 && $("#_quantity_min_item_supp").val()==0)
            {
                toastr.warning('El monto y cantidad del Producto no puede ser cero');

                return false;
            }
            $("#searchButton").prop('textContent', "Agregando...");
            $("#searchButton").prop('disabled', true);
            $.ajax( {
                url: "@(Url.Action("ActionGetItemsBySupplierId", "Purchases"))",
                data: { "supplier_id": $('#SupplierCode').val()},
                type: "GET",
                success: function (returndate) {
                    $("#searchButton").prop('textContent', "Agregar Artículos");
                    $("#searchButton").prop('disabled', false);




                    listFinal = [];
                    listAddProducts=[];
                    var ItemsList = returndate.model;


                    ItemsList.forEach(myFunction);

                    function myFunction(item, index) {

                        var Final =
          {

              part_number:item.part_number,
              item_amount:0,
              item_quantity:0
          };
                        listFinal.push(Final);
                    }



                    listAddProducts=ItemsList;
                    console.log(listAddProducts);
                    tableProducts.clear().draw();
                    tableProducts.rows.add(jQuery(ItemsList));
                    tableProducts.columns.adjust().draw();


                    $("#SupplierCod").val("").trigger("change");
                    $("#select2-chosen-1").html("Buscar un Producto.");



                    $("#_amount_min_item_supp").val("0");
                    $("#_quantity_min_item_supp").val("0");
                }
            });


        }
    </script>
}