﻿@model FloridoERP.ViewModels.Purchases.PURCH004ViewModel
@{
    ViewBag.Title = "Catalogo productos";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

@section Styles { @Styles.Render("~/bundles/touchspin/css") }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Agregar Producto</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Agregar/Modificar Productos
            </h2>
            <small>Inserción y modificación de productos. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="hpanel">
                    <ul class="nav nav-tabs">
                        <li class="active" title="Agregar Nuevo Producto" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-1" onclick="ChangeTextMenu('Agregar Producto');Clear();"> <i class="fa fa-plus"></i>&nbsp;Nuevo Producto</a></li>
                        <li class="" title="Lista de Productos Registrados" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-2" onclick="ChangeTextMenu('Lista de Productos');Clear();"><i class="fa fa-list-alt"></i>&nbsp;Productos</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                @using (Html.BeginForm("ActionInsertItem", "Item", FormMethod.Post, new { name = "form", id = "form" }))
                                {
                                    <div class="row">
                                        <div class="form-group col-lg-4">
                                            <label title="Código de Producto" data-toggle="tooltip" data-placement="right">@Html.LabelFor(m => m.part_number)</label>
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-barcode"></span>
                                                </span>
                                                @Html.TextBoxFor(m => m.part_number, new { @class = "form-control", @onkeypress = "return ValidateItem(event);" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="collapse" id="collapseExample">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.part_description)
                                                    @Html.TextBoxFor(m => m.part_description, new { @class = "form-control vali" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.unit)
                                                    @Html.DropDownListFor(m => m.unit, Model.UMList, new { @class = "form-control vali drop" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.expiration_days)
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-cutlery"></span>
                                                        </span>
                                                        @Html.TextBoxFor(m => m.expiration_days, new { @class = "form-control vali Numeric", @onchange = "PutZero()" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.part_type)
                                                    @Html.DropDownListFor(m => m.part_type, Model.itemType, new { @class = "form-control vali drop" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.buyer_division)
                                                    @Html.DropDownListFor(m => m.buyer_division, Model.BuyerDivision, new { @class = "form-control vali drop" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.part_iva)
                                                    @Html.DropDownListFor(m => m.part_iva, Model.IVAList, new { @class = "form-control vali drop" })
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.part_iva_sale)
                                                    @*@Html.DropDownListFor(m => m.part_iva_sale, Model.IVAList, new { @class = "form-control vali drop" })*@
                                                    <select id="part_iva_sale" name="part_iva_sale" class="form-control vali drop">
                                                        <option value="">Seleccione una opción</option>
                                                        <option value="N/A">N/A</option>
                                                        <option value="TAX_8">IVA 8%</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.part_ieps)
                                                    @Html.DropDownListFor(m => m.part_ieps, Model.IEPSList, new { @class = "form-control vali drop" })
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkbox">
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.active_flag, new { @id = "cbActiveNew" }) Activo
                                                    </label>
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.weight_flag, new { @id = "cbweightNew" }) Pesado
                                                    </label>
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.combo_flag, new { @id = "cbComboNew" }) Combo
                                                    </label>
                                                    <label>
                                                        @Html.CheckBoxFor(m => m.extra_items_flag, new { @id = "cbExtraItemNew" }) Presentacion
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="hpanel hgreen">
                                                            <div class="panel-heading hbuilt">
                                                                <div class="panel-tools">
                                                                    <a id="PanelSAT" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                </div>
                                                                <a onclick="animationPanel('#PanelSAT');" class="font-bold">
                                                                    Busqueda Código SAT.
                                                                </a>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Código SAT</label>
                                                                        <input class="form-control CodeSatFilter" id="codeSAT" name="codeSAT" value="" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Unidad de Medida SAT</label>
                                                                        <input class="form-control  UmSatFilter" id="UMSATDrop" name="UMSATDrop" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="hpanel hgreen">
                                                            <div class="panel-heading hbuilt">
                                                                <div class="panel-tools">
                                                                    <a id="PanelProveedor" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                </div>
                                                                <a onclick="animationPanel('#PanelProveedor');" class="font-bold">
                                                                    Campos necesarios.
                                                                </a>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label>Proveedor</label>
                                                                            <input class="form-control  select2" id="ERPOldSupplier" name="ERPOldSupplier" value="" />
                                                                        </div>
                                                                    </div>
                                                                    @*<div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label>Tipo de Distribucion</label>
                                                                            @Html.DropDownListFor(m => m.ERPDistrType, Model.ERPDistrType, new { @class = "form-control drop" , @disabled = "disabled" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label>Grupo</label>
                                                                            @Html.DropDownListFor(m => m.ERPItemGrup, Model.ERPItemGrup, new { @class = "form-control drop", @onchange = "return GetFamili(id,'ERPFamili');", @id = "ERPItemGrup" , @disabled = "disabled" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <div class="form-group">
                                                                            <label>Familia</label>
                                                                            <input class="form-control" id="ERPFamili" name="ERPFamili" value="" readonly="readonly" placeholder="Seleccione una opción" />
                                                                        </div>
                                                                    </div>*@
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>Moneda</label>
                                                                            <select class="form-control drop" id="ERPmoneda" name="ERPmoneda">
                                                                                <option value="MXP">PESOS</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>Costo Unitario</label>
                                                                            @Html.TextBox("ERPCostoUnitario", 0, new { @class = "form-control SpinAddPrice Decimal", @onchange = "CalculaMargen();" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>Precio</label>
                                                                            @Html.TextBox("ERPPrecio", 0, new { @class = "form-control SpinAddPrice Decimal", @onchange = "CalculaMargen();" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>Precio Con IVA</label>
                                                                            @Html.TextBox("ERPPrecioIVA", 0, new { @class = "form-control SpinAddPrice Decimal", @onchange = "CalculaPrecio();" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>% de margen</label>
                                                                            @Html.TextBox("ERPMargen", 0, new { @class = "form-control SpinAddPrice Decimal", @onchange = "CalculaPrecioIVA();" })
                                                                        </div>
                                                                    </div>
                                                                    @*<div class="col-md-2">
                                                                        <div class="form-group">
                                                                            <label>Unidad de Medida</label>
                                                                            @Html.DropDownListFor(m => m.ERPItemUm, Model.ERPItemUm, new { @class = "form-control vali drop" })
                                                                        </div>
                                                                    </div>*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--hasta aqui-->
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="hpanel hgreen">
                                                            <div class="panel-heading hbuilt">
                                                                <div class="panel-tools">
                                                                    <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                </div>
                                                                <a onclick="animationPanel('#PanelDiv');" class="font-bold">
                                                                    Clasificación del Producto. (Division 〉 Departamento)<label class="error hide ValidListProduct">Seleccione una Division y Departamento</label>
                                                                </a>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="col-lg-6 contact-panel" style="">
                                                                    <div class="hpanel hgreen">
                                                                        <div class="panel-heading hbuilt">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    Division. (Obligatorio)
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <form action="">
                                                                                        <div class="input-group">
                                                                                            <input id="searchDivis" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('DivList,#searchDivis');" />
                                                                                            <span class="input-group-btn">
                                                                                                <button class="btn btn-xs btn-default" type="button" onclick="searchLists('DivList,#searchDivis');">
                                                                                                    <span class="fa fa-search"></span>
                                                                                                </button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body no-padding" style="display: block;">
                                                                            <ul id="DivList" class="list-group list-purch004">
                                                                                @foreach (var item in Model.MaClass)
                                                                                {
                                                                                    <li class="list-group-item">
                                                                                        <p class="radio"><input id="level_header" type="radio" name="Level1" class="form-control" value="@item.class_id.ToString()"> @item.class_name.ToString() </p>
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                        <div class="panel-footer" style="display: block;">
                                                                            Lista de divisiones disponibles en el sistema.(<a title="Agregar Mas Divisiones" class="text-success font-extra-bold" data-toggle="tooltip" onclick="showModal('');" data-placement="top">Agregar Mas</a>)
                                                                        </div>
                                                                        <label class="error hide ValidListProduct">Seleccione una Division y Departamento</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 contact-panel" style="">
                                                                    <div class="hpanel hgreen">
                                                                        <div class="panel-heading hbuilt">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    Departamento. (Obligatorio)
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <form action="">
                                                                                        <div class="input-group">
                                                                                            <input id="searchDep" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('DepList,#searchDep');" />
                                                                                            <span class="input-group-btn">
                                                                                                <button class="btn btn-xs btn-default" type="button" onclick="searchLists('DepList,#searchDep');">
                                                                                                    <span class="fa fa-search"></span>
                                                                                                </button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body no-padding" style="display: block;">
                                                                            <ul id="DepList" class="list-group form-control list-purch004"></ul>
                                                                        </div>
                                                                        <div class="panel-footer" style="display: block;">
                                                                            Lista de Departamentos disponibles en el sistema.(<a title="Agregar Mas Departamentos" class="text-success font-extra-bold" data-toggle="tooltip" onclick="showModal('Department');" data-placement="top">Agregar Mas</a>)
                                                                        </div>
                                                                        <label class="error hide ValidListProduct">Seleccione una Division y Departamento</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                Clasificación del Producto.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="hpanel hblue">
                                                            <div class="panel-heading hbuilt">
                                                                <div class="panel-tools">
                                                                    <a id="PanelFami" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                </div>
                                                                <a onclick="animationPanel('#PanelFami');" class="font-bold">
                                                                    Clasificación del Producto. (Familia 〉 Linea)
                                                                </a>
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="col-lg-6 contact-panel" style="">
                                                                    <div class="hpanel hblue">
                                                                        <div class="panel-heading hbuilt">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    Familia. (Opcional)
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <form action="">
                                                                                        <div class="input-group">
                                                                                            <input id="searchFami" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('FamiList,#searchFami');" />
                                                                                            <span class="input-group-btn">
                                                                                                <button class="btn btn-xs btn-default" type="button" onclick="searchLists('FamiList,#searchFami');">
                                                                                                    <span class="fa fa-search"></span>
                                                                                                </button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body no-padding" style="display: block;">
                                                                            <ul id="FamiList" class="list-group form-control list-purch004"></ul>
                                                                        </div>
                                                                        <div class="panel-footer" style="display: block;">
                                                                            Lista de familias disponibles en el sistema.(<a title="Agregar Mas Familias" class="text-success font-extra-bold" data-toggle="tooltip" onclick="showModal('Families');" data-placement="top">Agregar Mas</a>)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6 contact-panel" style="">
                                                                    <div class="hpanel hblue">
                                                                        <div class="panel-heading hbuilt">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    Linea. (Opcional)
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <form action="">
                                                                                        <div class="input-group">
                                                                                            <input id="searchLine" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('LineList,#searchLine');" />
                                                                                            <span class="input-group-btn">
                                                                                                <button class="btn btn-xs btn-default" type="button" onclick="searchLists('LineList,#searchLine');">
                                                                                                    <span class="fa fa-search"></span>
                                                                                                </button>
                                                                                            </span>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-body no-padding" style="display: block;">
                                                                            <ul id="LineList" class="list-group form-control list-purch004"></ul>
                                                                        </div>
                                                                        <div class="panel-footer" style="display: block;">
                                                                            Lista de lineas disponibles en el sistema.(<a title="Agregar Mas Lineas" class="text-success font-extra-bold" data-toggle="tooltip" onclick="showModal('Lines');" data-placement="top">Agregar Mas</a>)
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                Clasificación del Producto.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-lg-12">
                                                <div class="text-right">
                                                    <button type="button" class="btn btn-default" onclick="Clear();"><i class="fa fa-close"></i> Cancelar</button>
                                                    <button type="button" class="btn btn-success" onclick="AddItem(); ">
                                                        <i class="fa fa-check"></i>
                                                        Guardar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div id="TableProduct" class="animate-panel" data-effect="fadeInRight">
                                    <div class="row projects">
                                        <div class="col-lg-12">
                                            <div class="hpanel hred">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover" id="tblItems" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>No. de Parte</th>
                                                                    <th>Nombre</th>
                                                                    <th hidden>UM</th>
                                                                    <th>Tipo</th>
                                                                    <th>Divisi&oacute;n</th>
                                                                    <th>Activo</th>
                                                                    <th>Peso</th>
                                                                    <th>IVA Compra</th>
                                                                    <th>IVA Venta</th>
                                                                    <th>IEPS</th>
                                                                    <th>SAT No.</th>
                                                                    <th>SAT Unidad</th>
                                                                    <th hidden>Combo</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="PanelEdit" class="hide animate-panel" data-effect="fadeInRight">
                                    <div class="row projects">
                                        <div class="col-lg-12">
                                            <div class="hpanel hyellow">
                                                @using (Html.BeginForm("ActionUpdateItem", "Item", FormMethod.Post, new { name = "formEdit", id = "formEdit" }))
                                                {<div class="panel-body">
                                                        <h4><a href="">Editar Producto</a></h4>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.part_number)
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-barcode"></span>
                                                                    </span>
                                                                    @Html.TextBoxFor(m => m.part_number, new { @class = "form-control", @readonly = "true", @id = "txtPartNo" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.part_description)
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-align-left"></span>
                                                                    </span>
                                                                    @Html.TextBoxFor(m => m.part_description, new { @class = "form-control", @id = "txtPartName" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.unit)
                                                                @Html.DropDownListFor(m => m.unit, Model.UMList, new { @class = "form-control drop", @id = "txtUnit" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.expiration_days)
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <span class="fa fa-cutlery"></span>
                                                                    </span>
                                                                    @Html.TextBoxFor(m => m.expiration_days, new { @class = "form-control vali Numeric", @id = "txtExpDays", @onchange = "PutZero()" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.part_type)
                                                                @Html.DropDownList("txtType", Model.itemType, new { @class = "form-control vali drop", @id = "txtType" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.buyer_division)
                                                                @Html.DropDownList("txtDivision", Model.BuyerDivision, new { @class = "form-control vali drop", @id = "txtDivision" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.part_iva)
                                                                @Html.DropDownListFor(m => m.part_iva, Model.IVAList, new { @class = "form-control drop", @id = "txtIVA" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.part_iva_sale)
                                                                @Html.DropDownListFor(m => m.part_iva_sale, Model.IVAList, new { @class = "form-control drop", @id = "txtIVASale" })
                                                                @*@Html.TextBoxFor(m => m.part_iva_sale, new { @class = "form-control", @id = "txtIVASale" })*@
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                @Html.LabelFor(m => m.part_ieps)
                                                                @Html.DropDownListFor(m => m.part_ieps, Model.IEPSList, new { @class = "form-control vali drop", @id = "txtIEPS" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 ">
                                                            <br />
                                                            <div class="checkbox">
                                                                <label>
                                                                    @Html.CheckBoxFor(m => m.active_flag, new { @id = "cbActive" }) Activo
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 ">
                                                            <br />
                                                            <div class="checkbox">
                                                                <label>
                                                                    @Html.CheckBoxFor(m => m.weight_flag, new { @id = "cbWeight" }) Pesado
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 ">
                                                            <br />
                                                            <div class="checkbox">
                                                                <label>
                                                                    @Html.CheckBoxFor(m => m.combo_flag, new { @id = "cbCombo" }) Combo
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 ">
                                                            <br />
                                                            <div class="checkbox">
                                                                <label>
                                                                    @Html.CheckBoxFor(m => m.extra_items_flag, new { @id = "cbExtraItem" }) Presentacion
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="hpanel">
                                                                        <div class="panel-heading hbuilt">
                                                                            <div class="panel-tools">
                                                                                <a id="PanelSAT" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                            </div>
                                                                            <a onclick="animationPanel('#PanelSAT');" class="font-bold">
                                                                                Busqueda Código SAT.
                                                                            </a>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label>Código SAT</label>
                                                                                    <input class="form-control CodeSatFilter" id="codeSATedit" name="codeSATedit" value="" />
                                                                                    @*@Html.DropDownListFor(m => m.SATDivision, Model.SATDivision, new { @id = "SATDivisionEdit", @class = "form-control vali drop", @onchange = "return GetGroup(id,'groupSATedit');" })*@
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <div class="form-group">
                                                                                    <label>Unidad de Medida SAT</label>
                                                                                    <input class="form-control UmSatFilter" id="UMSATDropEdit" name="UMSATDropEdit" value="" />
                                                                                    @*@Html.DropDownList("UMSATDropEdit", Model.SATum, new { @class = "form-control vali drop", @id = "UMSATDropEdit" })*@
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="hpanel">
                                                                        <div class="panel-heading hbuilt">
                                                                            <div class="panel-tools">
                                                                                <a id="PanelDivEdit" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                            </div>
                                                                            <a onclick="animationPanel('#PanelDivEdit');" class="font-bold">
                                                                                Clasificación del Producto. (Division 〉 Departamento)<label class="error hide ValidListProduct">Seleccione una Division y Departamento</label>
                                                                            </a>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="col-lg-6 contact-panel" style="">
                                                                                <div class="hpanel hgreen">
                                                                                    <div class="panel-heading hbuilt">
                                                                                        <div class="row">
                                                                                            <div class="col-md-6">
                                                                                                Division. (Obligatorio)
                                                                                            </div>

                                                                                            <div class="col-md-6">
                                                                                                <form action="">
                                                                                                    <div class="input-group">
                                                                                                        <input id="searchDivisEdit" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('DivListEdit,#searchDivisEdit');" />
                                                                                                        <span class="input-group-btn">
                                                                                                            <button class="btn btn-xs btn-default" type="button" onclick="searchLists('DivListEdit,#searchDivisEdit');">
                                                                                                                <span class="fa fa-search"></span>
                                                                                                            </button>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="panel-body no-padding" style="display: block;">
                                                                                        <ul id="DivListEdit" class="list-group list-purch004">
                                                                                            @foreach (var item in Model.MaClass)
                                                                                            {
                                                                                                <li class="list-group-item">
                                                                                                    <p class="radio"><input id="level_headerEdit" type="radio" name="Level1Edit" class="form-control" value="@item.class_id.ToString()"> @item.class_name.ToString() </p>
                                                                                                </li>
                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                    <div class="panel-footer" style="display: block;">
                                                                                        Lista de divisiones disponibles en el sistema.(<a title="Agregar Mas Divisiones" class="text-success font-extra-bold" data-toggle="tooltip" onclick="showModal('');" data-placement="top">Agregar Mas</a>)
                                                                                    </div>
                                                                                    <label class="error hide ValidListProductEdit">Seleccione una Division y Departamento</label>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6 contact-panel" style="">
                                                                                <div class="hpanel hgreen">
                                                                                    <div class="panel-heading hbuilt">
                                                                                        <div class="row">
                                                                                            <div class="col-md-6">
                                                                                                Departamento. (Obligatorio)
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <form action="">
                                                                                                    <div class="input-group">
                                                                                                        <input id="searchDepEdit" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('DepListEdit,#searchDepEdit');" />
                                                                                                        <span class="input-group-btn">
                                                                                                            <button class="btn btn-xs btn-default" type="button" onclick="searchLists('DepListEdit,#searchDepEdit');">
                                                                                                                <span class="fa fa-search"></span>
                                                                                                            </button>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="panel-body no-padding" style="display: block;">
                                                                                        <ul id="DepListEdit" class="list-group form-control list-purch004"></ul>
                                                                                    </div>
                                                                                    <div class="panel-footer" style="display: block;">
                                                                                        Lista de Departamentos disponibles en el sistema.(<a title="Agregar Mas Departamentos" class="text-success font-extra-bold" data-toggle="tooltip" onclick="showModal('Department');" data-placement="top">Agregar Mas</a>)
                                                                                    </div>
                                                                                    <label class="error hide ValidListProductEdit">Seleccione una Division y Departamento</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-footer">
                                                                            Clasificación del Producto.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="hpanel ">
                                                                        <div class="panel-heading hbuilt">
                                                                            <div class="panel-tools">
                                                                                <a id="PanelFamiEdit" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                                            </div>
                                                                            <a onclick="animationPanel('#PanelFamiEdit');" class="font-bold">
                                                                                Clasificación del Producto. (Familia 〉 Linea)
                                                                            </a>
                                                                        </div>
                                                                        <div class="panel-body">
                                                                            <div class="col-lg-6 contact-panel" style="">
                                                                                <div class="hpanel hblue">
                                                                                    <div class="panel-heading hbuilt">
                                                                                        <div class="row">
                                                                                            <div class="col-md-6">
                                                                                                Familia. (Opcional)
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <form action="">
                                                                                                    <div class="input-group">
                                                                                                        <input id="searchFamiEdit" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('FamiListEdit,#searchFamiEdit');" />
                                                                                                        <span class="input-group-btn">
                                                                                                            <button class="btn btn-xs btn-default" type="button" onclick="searchLists('FamiListEdit,#searchFamiEdit');">
                                                                                                                <span class="fa fa-search"></span>
                                                                                                            </button>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="panel-body no-padding" style="display: block;">
                                                                                        <ul id="FamiListEdit" class="list-group form-control list-purch004"></ul>
                                                                                    </div>
                                                                                    <div class="panel-footer" style="display: block;">
                                                                                        Lista de familias disponibles en el sistema.(<a title="Agregar Mas Familias" class="text-success font-extra-bold" data-toggle="tooltip" onclick="showModal('Families');" data-placement="top">Agregar Mas</a>)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-6 contact-panel" style="">
                                                                                <div class="hpanel hblue">
                                                                                    <div class="panel-heading hbuilt">
                                                                                        <div class="row">
                                                                                            <div class="col-md-6">
                                                                                                Linea. (Opcional)
                                                                                            </div>
                                                                                            <div class="col-md-6">
                                                                                                <form action="">
                                                                                                    <div class="input-group">
                                                                                                        <input id="searchLineEdit" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('LineListEdit,#searchLineEdit');" />
                                                                                                        <span class="input-group-btn">
                                                                                                            <button class="btn btn-xs btn-default" type="button" onclick="searchLists('LineListEdit,#searchLineEdit');">
                                                                                                                <span class="fa fa-search"></span>
                                                                                                            </button>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </form>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="panel-body no-padding" style="display: block;">
                                                                                        <ul id="LineListEdit" class="list-group form-control list-purch004"></ul>
                                                                                    </div>
                                                                                    <div class="panel-footer" style="display: block;">
                                                                                        Lista de lineas disponibles en el sistema.(<a title="Agregar Mas Lineas" class="text-success font-extra-bold" data-toggle="tooltip" onclick="showModal('Lines');" data-placement="top">Agregar Mas</a>)
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="panel-footer">
                                                                            Clasificación del Producto.
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="panel-footer text-right">
                                                        <button type="button" class="btn btn-default" onclick="Clear();"><i class="fa fa-close"></i> Cancelar</button>
                                                        <button type="button" class="btn btn-success" onclick="EditProduct(); ">
                                                            <i class="fa fa-check"></i>
                                                            Guardar
                                                        </button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="showItem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 class="modal-title"><i class="fa fa-newspaper-o"></i> Detalles del Producto</h4>
                <small id="ModalDescription" class="font-bold">Información básica del producto.</small>
                @*<div class="row">
                        <div class="col-md-6">
                            <label>Numero de Parte:</label>
                            <div id="txtItemPartNumber">-</div>
                        </div>
                        <div class="col-md-6">
                            <label>Tipo:</label>
                            <div id="txtItemType">-</div>
                        </div>
                    </div>*@
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Datos de Producto</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label><i class="fa fa-align-left"></i> Descripci&oacute;n:</label>
                        <div id="description">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-barcode"></i> Número de Parte:</label>
                        <div id="txtItemPartNumber">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-balance-scale"></i> UM:</label>
                        <div id="Dunit">-</div>
                    </div>
                    <div class="row">
                        <br />
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <br />
                                <label><i class="fa fa-industry"></i> Divisi&oacute;n:</label>
                                <div id="division">-</div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label><i class="fa fa-filter"></i> Tipo:</label>
                                <div id="txtItemType">-</div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label><i class="fa fa-check-circle-o"></i>&nbsp; Producto se encuentra:</label>
                                <br />
                                <input type="checkbox" id="active" onclick="return false;">
                                <label id="activeCheck">&nbsp; Activo</label>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <label><i class="fa fa-database"></i>&nbsp; Producto es:</label>
                                <br />
                                <input type="checkbox" id="weight" onclick="return false;">
                                <label id="weightCheck">&nbsp; Pesado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-cash"></i>&nbsp Datos Fiscales</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label><i class="fa fa-flag-checkered"></i> Numero de Parte de SAT:</label>
                        <div id="SATPartNumber">-</div>
                    </div>
                    <div class="col-md-4">
                        <label><i class="fa fa-flag"></i> Unidad de SAT:</label>
                        <div id="SATUnit">-</div>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <label><i class="fa fa-flag-o"></i> IVA Compra:</label>
                        <div id="IVA">-</div>
                    </div>
                    <div class="col-md-3">
                        <br />
                        <label><i class="fa fa-flag"></i> IVA Venta:</label>
                        <div id="IVASale">-</div>
                    </div>
                    <div class="col-md-6">
                        <br />
                        <label><i class="fa fa-flag-o"></i> IEPS:</label>
                        <div id="IEPS">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-diskette"></i>&nbsp Datos de Alta</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label><i class="fa fa-calendar-plus-o"></i> Fecha de Alta:</label>
                        <div id="cdate">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-user"></i> Lo dio de alta:</label>
                        <div id="cuser">-</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade hmodal-success" id="ModalAddMaClass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"></h4>
                <small id="ModalDescription" class="font-bold">Asignar nombre y descripción a clasificación producto.</small>
            </div>
            @using (Html.BeginForm("ActionGetMaClassById", "MaClass", FormMethod.Post, new { name = "formModalAddMaClass", id = "formModalAddMaClass" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="MaClassLevel" value="">
                        <div id="IdCategoriDiv" class="hide col-lg-12">
                            <div id="IdCategori" class="form-group">
                                <label id="DromModalAddMaClass" data-toggle="tooltip" data-placement="right"></label>
                                <select class="form-control vali drop" id="CatalogueMaClass" name="CatalogueMaClass" required></select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label title="Nombre" data-toggle="tooltip" data-placement="right">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-align-left"></span>
                                </span>
                                @Html.TextBox("MaClassName", null, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label title="Descripción" data-toggle="tooltip" data-placement="right">Descripción</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-align-center"></span>
                                </span>
                                @Html.TextBox("MaClassDescription", null, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                    <button type="button" class="btn btn-success" onclick="AddMaClass();"><i class="fa fa-check"></i> Guardar</button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Hidden("model", serializer.Serialize(Model.itemlist))
@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/touchspin/js")
    @Scripts.Render("~/bundles/PURCH004/js")
}