﻿@model List<App.Entities.MA_CLASS>
@{ ViewBag.Title = "PURCH033"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH010">Reportes</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Reporte de Cambios de Precio</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de Cambios de Precio
            </h2>
            <small>Reporte de cambios de precios. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading" id="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active" onclick="tab1()" id="tab1"><a data-toggle="tab" href="#tab-1"><i class="fa fa-list-alt"></i>&nbsp;Productos</a></li>
                        <li class="" onclick="tab2()"><a data-toggle="tab" href="#tab-2" id="tab2"><i class="fa fa-archive"></i>&nbsp;Presentaciones</a></li>
                    </ul>
                </div>

                <div class="tab-content">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-3">
                                    <label style="font-weight: bold;"> Desde: </label>
                                    <div class="form-group ">
                                        <div class='input-group date' id='datetimepicker'>
                                            <input id="dateInit" name="dateInit" required type='text' class="form-control" autocomplete="off" readonly />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label style="font-weight: bold;"> Hasta: </label>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input id="dateFin" name="dateFin" required type='text' class="form-control" autocomplete="off" readonly />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Departamento</label>
                                    <select id="depto" class="form-control select2" onchange="GetFamily();">
                                        <option value="0">Seleccione un departamento</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.class_id">@item.class_name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Familia</label>
                                    <select id="family" class="form-control select2">
                                        <option value="0">Seleccione una familia</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <br />
                                    <button class="btn btn-primary pull-right" id="buscar" onclick="DateValidation()"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                                @*<div class="col-lg-1" style="margin-top:22px">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <button id="buttonPrint" class="btn btn-info" type="button" data-toggle="modal" data-target="#myModal8" onclick="PrintTable()"><i class="fa fa-print"></i> Imprimir/PDF</button>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-lg-12 table-responsive" style="margin-top:8px;">
                                    <table id="tableOrdered" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                @*<th>Folio</th>*@
                                                <th>Código</th>
                                                <th>Descripción</th>
                                                <th>Departamento</th>
                                                <th>Categoria</th>
                                                <th>Fecha Aplicación</th>
                                                <th>Margen</th>
                                                <th>Estatus</th>
                                                <th>Precio</th>
                                                <th>Precio con IVA</th>
                                                <th>Fecha Registro</th>
                                                <th>Usuario</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-lg-3">
                                    <label style="font-weight: bold;"> Desde: </label>
                                    <div class="form-group ">
                                        <div class='input-group date' id='datetimepickerPres'>
                                            <input id="dateInitPres" name="dateInit" required type='text' class="form-control" autocomplete="off" readonly />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label style="font-weight: bold;"> Hasta: </label>
                                    <div class="form-group">
                                        <div class='input-group date' id='datetimepicker2Pres'>
                                            <input id="dateFinPres" name="dateFin" required type='text' class="form-control" autocomplete="off" readonly />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label>Departamento</label>
                                    <select id="deptoPres" class="form-control select2" onchange="GetFamilyPres();">
                                        <option value="0">Seleccione un departamento</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.class_id">@item.class_name</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-3">
                                    <label>Familia</label>
                                    <select id="familyPres" class="form-control select2">
                                        <option value="0">Seleccione una familia</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <br />
                                    <button class="btn btn-primary pull-right" id="buscarPres" onclick="DateValidationPres()"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                                @*<div class="col-lg-1" style="margin-top:22px">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <button id="buttonPrint" class="btn btn-info" type="button" data-toggle="modal" data-target="#myModal8" onclick="PrintTable()"><i class="fa fa-print"></i> Imprimir/PDF</button>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-lg-12 table-responsive" style="margin-top:8px;">
                                    <table id="Presentations" class="table table-striped table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                @*<th>Folio</th>*@
                                                <th>Código</th>
                                                <th>Presentación</th>
                                                <th>Departamento</th>
                                                <th>Categoria</th>
                                                <th>Fecha Aplicación</th>
                                                <th>Margen</th>
                                                <th>Estatus</th>
                                                <th>Precio</th>
                                                <th>Precio con IVA</th>
                                                <th>Fecha Registro</th>
                                                <th>Usuario</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="myModal8" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg row">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Imprimir/PDF</h4>
            </div>
            <div class="modal-body" style="height:350px">
                <div id="iframes" style="width:100%;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH033/js") }