﻿@{ ViewBag.Title = "PURCH021"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras </a></li>
                    <li>
                        <a href="#">Gastos</a>
                    </li>
                    <li class="active">
                        <span>Requesición Gastos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Requesición de Gastos
            </h2>
            <small></small>
        </div>
        <div class="hpanel">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab1" id="btn_tab1">Lista Requisiciones</a></li>
                <li class="" id="btn_tab2"><a data-toggle="tab" href="#tab2">Agregar Requisición</a></li>
            </ul>
            <div class="tab-content">
                @* Lista de procesos *@
                <div id="tab1" class="tab-pane active">
                    <div class="panel-body">

                        <div class="table-responsive">
                            <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th id=""> Detalles </th>
                                        <th>Folio</th>
                                        <th>Proceso</th>
                                        <th>Tipo</th>
                                        @* <th>Estado</th>*@
                                        <th>Estatus</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: history_list">
                                    <tr>
                                        <td><button class="btn btn-sm btn-light center-block">Detalles</button></td>
                                        <td data-bind="text:approval_id"></td>
                                        <td data-bind="text:process_name"></td>
                                        <td data-bind="text:approval_type"></td>
                                        <td data-bind="text:approval_status"></td>

                                    </tr>
                                    <tr>
                                        <td colspan="5" class="row">
                                            <div class="col-xs-12 col-sm-3">
                                                <textarea>
        
                                            </textarea>
                                            </div>
                                            <div class="pull-right row " style="padding: 1rem;">
                                                <button class="btn btn-sm btn-danger col-xs-6" data-bind="click:$parent.send_approval(false)"> Rechazar</button>
                                                <button class="btn btn-sm btn-success col-xs-6" data-bind="click:$parent.send_approval(true)"> Aceptar</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                @* Agregar Gasto *@
                <div id="tab2" class="tab-pane ">
                    <div class="panel-body container-fluid">

                        <form class="row">
                            <div class="form-group ">

                                <input type="text" class="list-group-item col-xs-12" id="etxt_search" placeholder="Buscar" data-bind="textInput:search_text_input">
                                <div id="search_container" class="list-group col-xs-12 ">
                                    <div class="col-xs-12  " data-bind="foreach: search_results" style="float: left; position: absolute; padding: 0; z-index: 1">
                                        <button type="button" class="list-group-item mx-0" data-bind="click: $parent.search_item_onclick" style="background-color: white;">
                                            <strong data-bind="text:description"></strong> <span data-bind="text:category"></span> <span data-bind="text:supplier_name"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <h5 class="text-center" data-bind="if: expense_list().length===0"> Puede agregar productos desde la barra de busqueda de arriba</h5>
                        <div class="table-responsive row " data-bind="if: expense_list().length>0">
                            <table id="table" class="table table-striped table-bordered table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th id="pr_th_btn">Codigo</th>
                                        <th>Descripción</th>
                                        <th>Categoria</th>
                                        <th>Provedor</th>
                                        <th>Cantidad</th>
                                        <th>Total Estimado</th>
                                        @*<th>Total Final</th>*@
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    <!-- ko foreach: expense_list -->
                                    <tr>
                                        <td data-bind="text:part_number"></td>
                                        <td data-bind="text:description"></td>
                                        <td data-bind="text:category"></td>
                                        <td data-bind="text:supplier_name"></td>
                                        <td><input class='required' data-bind="textInput:quantity, event:{ keyup :$parent.on_change_quantity}" /></td>
                                        <td><input class='required' data-bind="textInput:estimate_price, event:{ keyup :$parent.on_change_estimate_price}" /></td>
                                    </tr>
                                    <!-- /ko -->
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td> <strong>Total</strong></td>
                                        <td data-bind="text:total_quantity"></td>
                                        <td data-bind="text:total_estimate_price"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <form class="form-inline row " style="padding: 1rem 0">
                            <div class="form-group col-xs-12">
                                <label class="sck_container">
                                    Enviar a Nuevos proyectos
                                    <input type="checkbox" checked="checked">
                                    <span class="checkmark"></span>
                                </label>
                                <button class="btn btn-primary pull-right" data-bind="click: registry_expense">Registrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/request")
    @Scripts.Render("~/bundles/PURCH021/js")
}