﻿@model FloridoERP.ViewModels.Purchases.PURCH015ViewModel
@{ ViewBag.Title = "PURCH015"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH014">Gerencia de cajas</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Tipo de cambio comercial</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tipo de cambio comercial
            </h2>
            <small>Agrega el tipo de cambio del dólar </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="hpanel">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#tab-1"><i class="fa fa-area-chart"></i> Agregar Tipo de Cambio</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2"><i class="fa fa-pie-chart"></i> Historial de Tipo de Cambio</a></li>
        </ul>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel blue">
                            <div class="panel-body">
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="col-lg-3">
                                            <label>Tipo de cambio: </label>
                                            <div class='input-group date'>
                                                <span class="input-group-addon">
                                                    <span class="fa fa-usd"></span>
                                                </span>
                                                <input type="number" min="1" max="30" class="form-control Numeric" name="dollar" id="dollar" value="" />
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <label style="font-weight:bold;"> Fecha de aplicación: </label>
                                            <div class="form-group">
                                                <div class='input-group date' id='datetimepicker'>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                    <input id="dateFin" name="dateFin" required type='text' class="form-control" autocomplete="off" />
                                                </div>
                                                <label id="dateError" class="error" hidden>El Campo no puede ser nulo</label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 contact-panel">
                                            <div class="hpanel hgreen">
                                                <label title="Selecciona Tienda" data-toggle="tooltip" data-placement="right">Selecciona Tienda</label>
                                                <div class="panel-heading hbuilt">
                                                    <div class="panel-tools">
                                                        <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-5">
                                                            Tiendas:
                                                        </div>
                                                        <div class="col-md-5">
                                                            <div class="input-group">
                                                                <input id="searchListassigned" type="text" class="form-control input-xs" placeholder="Buscar Tienda..." onkeyup="searchLists('assignedList,#searchListassigned');" />
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-xs btn-default" type="button" onclick="searchLists('assignedList,#searchListassigned');">
                                                                        <span class="fa fa-search"></span>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body no-padding" style="display: block;" id="bodySites">
                                                    <ul id="assignedList" class="list-group">
                                                        @foreach (var item in Model.SiteList)
                                                        {
                                                            <li class="list-group-item">
                                                                <p class="checkbox">
                                                                    <input type="checkbox" name="available" value="@item.Value.ToString()">&nbsp;&nbsp;
                                                                    <label id="Label_@item.Value.ToString()" for="Label_@item.Value.ToString()">@item.Text.ToString()</label>
                                                                </p>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1">
                                            <div class="form-group" style="margin-top:22px">
                                                <div class="input-group">
                                                    <button type="submit" onclick="SaveButton();" class="btn btn-success" id="buttonSave2"><i class="fa fa-save"></i> Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab-2" class="tab-pane">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-2">
                                        <p style="font-weight: bold;"> Desde: </p>
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input id="dateInit1" name="dateInit" required type='text' class="form-control" autocomplete="off" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <label id="dateInitError" class="error" hidden>El Campo no puede ser nulo</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <p style="font-weight: bold;"> Hasta: </p>
                                        <div class='input-group date' id='datetimepicker3'>
                                            <input id="dateFin1" name="dateFin" required type='text' class="form-control" autocomplete="off" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <label id="dateFinError" class="error" hidden>El Campo no puede ser nulo</label>
                                    </div>
                                    <div class="col-lg-2">
                                        <p style="font-weight: bold;"> Tipos: </p>
                                        <select id="typeReference" class="form-control select2">
                                            <option value="0" selected>Todos los Tipos</option>
                                            <option value="1">BANCO</option>
                                            <option value="2">COMERCIAL</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3" style="margin-top:4px;">
                                        <label>Tiendas:</label>
                                        <select id="supplier2" class="form-control select2">
                                            @foreach (var item in Model.SiteList)
                                            {
                                                <option value="@item.Value.ToString()">@item.Text.ToString()</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-lg-2 pull-right">
                                        <div class="input-group" style="margin-top:28px;">
                                            <button class="btn btn-success btn-block" type="button" onclick="DateValidateionShow()"><i class="fa fa-eye"></i> Mostrar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 pull-right">
                                    <div class="col-lg-2 pull-right">
                                        <div class="input-group" style="margin-top:28px;">
                                            <button class="btn btn-info btn-block" type="button" onclick="DateValidation()"><i class="fa fa-search"></i> Imprimir</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12" style="margin-top:12px;">
                                    <div class="table-responsive ">
                                        <table class="table table-striped table-bordered table-hover" id="tableCurrency">
                                            <thead>
                                                <tr>
                                                    <th style="text-align:center">Precio</th>
                                                    <th style="text-align:center">Moneda</th>
                                                    <th style="text-align:center">Fecha de ingreso</th>
                                                    <th style="text-align:center">Usuario</th>
                                                    <th style="text-align:center">Tipo</th>
                                                    <th style="text-align:center">Tiendas</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="showStores" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-shopping-cart fa-2x"></i>   Tiendas</h4>
                <small id="ModalDescription" class="font-bold">Tiendas donde se aplica el tipo de cambio</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="pe-7s-note2"></i>&nbsp Información</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label> <i class="fa fa-commenting-o"></i> Precio:</label>
                        <div id="ExchangePrice">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-exclamation-circle"></i> Moneda:</label>
                        <div id="ExchangeCurrency">-</div>
                    </div>
                    <div class="col-md-3">
                        <label> <i class="fa fa-calendar-plus-o"></i> Fecha de Ingreso: </label>
                        <div id="ExchangeCurrencyDate">-</div>
                    </div>
                    <div class="col-md-3">
                        <label><i class="fa fa-user"></i> Creador: </label>
                        <div id="ExchangeUser">-</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <h3><i class="fa fa-cart-arrow-down"></i>&nbsp Tiendas</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <ul id="listStores1">
                                <li id="element1">Uno</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul id="listStores2">
                                <li id="element1">Dos</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul id="listStores3">
                                <li id="element1">Tres</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- The Modal PDF-->
<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/PURCH015/js")
}