﻿@model FloridoERP.ViewModels.Purchases.PUCHR009ViewModel
@{ ViewBag.Title = "PURCH012"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Cambio de precios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Cambio de precios
            </h2>
            <small>Programar los precios para las tiendas </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <h3>Buscar Proveedor.</h3>
                </div>
                <div class="panel-body">
                    <div class="m-t-sm">
                        <div class="form-group col-lg-6">
                            <label for="" data-toggle="tooltip" data-placement="right">
                                Selecciona un Proveedor.
                            </label>
                            @Html.DropDownListFor(m => m.Suplier, Model.SupplierListItems, new { @class = "form-control", @id = "suppliersDrop", @onchange = "return GetProductsCostBySupplier();" })
                        </div>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="fecha_general" data-toggle="tooltip" data-placement="right">
                            Fecha de Aplicación
                        </label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                            </span>
                            <input id="fechaGeneral" type="text" class="date-pick form-control" />
                        </div>
                    </div>
                    <div class="pull-right">
                        <br />
                        <button id="btn-cancel" type="button" class="btn w-xs btn-danger" onclick="DeleteAll();"><i class="fa fa-close"></i> Cancelar</button>
                        <button id="btn-save" type="button" class="btn w-xs btn-success" onclick="SavePrices();"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                    <div class="back-link col-lg-10">
                        <h4 style="font-family: Verdana;" class="col-lg-10  m-t-md">
                            Productos por Proveedor.
                        </h4>
                        <div class="col-lg-2" id="filterDiv">
                            <br />
                            <input type="text" id="filter" name="name" value="" class="form-control" onkeyup="Search()" />
                        </div>
                    </div>
                    <div class="col-lg-12 table-responsive">
                        <table cellpadding="1" cellspacing="1" id="tableChangePrice" class="table table-striped table-bordered table-hover" style="clear: both">
                            <thead>
                                <tr>
                                    <th width="8%">Código de barra</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" width="10%">Descripción</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" width="10%">Fecha aplicada</th>

                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" title="Empaque del Producto" width="2%">Empaque</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" title="Costo de Producto" width="10%">Costo</th>
                                    <th style="display:none;" title="Costo REal del Producto" width="8%">Costo Real</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" title="IVA" width="5%">IVA</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" title="IEPS" width="5%">IEPS</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" title="Costo con Impuestos" width="10%">Costo con Impuestos</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" title="Margen actual" width="10%">Margen Actual</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" title="Precio actual" width="10%">Precio Actual</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" title="Las ganancias del producto" width="10%"> Nuevo Margen</th>
                                    <th style="font-family: Verdana; font-size:8pt; text-align:center" width="15%">Nuevo Precio</th>
                                </tr>
                            </thead>
                            <tbody id="tableChangePriceBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PURCH012/js") }