﻿@model App.Entities.ViewModels.Creditors.ItemCreditorsFullModel
@{
    ViewBag.Title = "PURCH018";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    textarea {
        max-width: 100%;
        min-width: 40%;
        max-height: 200px;
        min-height: 100px;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Compras</a></li>
                    <li><a href="PURCH007">Productos</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Relación producto acreedor </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Configuración de servicios y productos
            </h2>
            <small>Captura de los servicios y productos, categoría y relaciona los servicios con acreedores. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active" title="Relacion producto acredor" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-1" onclick="ChangeTextMenu('Relacion producto acredor');Clear();"> <i class="fa fa-plus"></i>&nbsp;Relacionar Productos</a></li>
                        <li class="" title="Lista de Servicios" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-2" onclick="ChangeTextMenu('Lista de Servicios');Clear();"><i class="fa fa-list-alt"></i>&nbsp;Servicios o Productos</a></li>
                        <li class="" title="Agregar categorias" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-3" onclick="ChangeTextMenu('Categirias');Clear();"><i class="fa fa-list-alt"></i>&nbsp;Categorias</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                @Html.Partial("PartialViewPurch018/_PURCH018CREDITORS")
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                @Html.Partial("PartialViewPurch018/_PURCH018ITEMCREDITORS")
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                @Html.Partial("PartialViewPurch018/_PURCH018CATEGORY")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", serializer.Serialize(Model))
@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/PURCH018/js")
}