﻿@model List<App.Entities.SITES>
@{ ViewBag.Title = "MRO003"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    .color-link {
        color: #0000EE;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MMRO000">MRO</a></li>
                    <li><a href="MRO000">Maquinaria-Equipo</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Reporte de MRO</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reporte de MRO
            </h2>
            <small>Reporte de MRO</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Servicios de MRO</a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Periodo</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input type="text" id="ValidDate1" class="form-control" autocomplete="off" />
                                </div>
                                <span class="input-group-addon">A</span>
                                <div class="input-group date">
                                    <input type="text" id="ValidDate2" class="form-control" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label title="Estatus" data-toggle="tooltip" data-placement="right">Estado del Servicio</label>
                            <select id="SelectOptions" class="form-control select2" onchange="searchService()">
                                <option value="1">Programado</option>
                                <option value="8">Cancelado</option>
                                <option value="9">Terminado</option>
                                <option value="Todos">Todos</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4">
                            <label title="Tienda" data-toggle="tooltip" data-placement="right">Tienda del Servicio</label>
                            <select id="SelectSites" class="form-control select2" onchange="searchService()">
                                <option value="0">Seleccione una opcion</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.site_code">@item.site_name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableTransfers" class="table table-striped table-bordered table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Identificador de Servicio</th>
                                        <th>Fecha Programada para Servicio</th>
                                        <th>Estatus del Servicio</th>
                                        <th>Ubicacion</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalService" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title">Editar Servicio</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar un servicio.</small>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 id="no_status"></h3>
                            </div>
                        </div>
                        <hr />
                        <div class="table-responsive m-t">
                            <table id="tableXML2" class="table table-striped table-bordered table-hover" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre del servicio</th>
                                        <th>Registrar fecha de servicio</th>
                                        <th>Observaciones</th>
                                        <th>Documento</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <br />
                    <br /><div class="row">
                        <div class="col-lg-12" style="text-align: left;">
                            <a class='btn btn-primary' href='javascript:;' style="position: initial" onclick="openFile()">
                                <i class="fa fa-arrow-circle-o-up"></i> Agregar XML
                            </a>
                        </div>
                    </div>
                    <br />
                    <br />
                    <table id="tableXML" class="table table-striped table-bordered table-hover" style="width: 40%" hidden>
                        <thead>
                            <tr>
                                <th>XML</th>
                                <th>Borrar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="clearModal()" id="closeModal"><i class="fa fa-close"></i> Cerrar</button>
                <button type="button" id="submit-button" class="btn btn-success" onclick="save(9)"><i class="fa fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div id="modalReferenceBody" class="modal-body" style="height: 100%">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalChange" class="modal fade hmodal-warning" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-wrench"></i> Editar Maquinaria y Equipo</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar un servicio.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Número de Serie Etiqueta</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-barcode"></span>
                            </span>
                            <input maxlength="50" class="form-control" id="SerialNumberSelected" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Número de Serie Proveedor</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-barcode"></span>
                            </span>
                            <input maxlength="50" class="form-control" id="SerialNumberSelectedSupplier" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Descripción</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-align-left"></span>
                            </span>
                            <input class="form-control" maxlength="200" id="EquipmentDescriptionSelected" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Tienda</label>
                        <select class="form-control editSites select2" id="sitioDrop"></select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Departamento</label>
                        <select class="form-control editDepartments select2" id="DepartmentDrop"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ClearMethodModal();"><i class="fa fa-close"></i> Cancelar</button>
                <button class="btn btn-success" data-bind="click: Edit"><i class="fa fa-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/MRO003/js") }