﻿@model App.Entities.ViewModels.MaquineryEquipment.MaquineryEquipmentListModel
@{ ViewBag.Title = "MRO002"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MMRO000">MRO</a></li>
                    <li><a href="MRO000">Maquinaria-Equipo</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Registro de Maquinaria y Equipo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Registro Maquinaria y Equipo
            </h2>
            <small>Registro de maquinaria y equipo.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Maquinarias y Equipos</a>
                </div>
                <div class="panel-body">
                    <div class="row" id="TableDiv">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="Equipments" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><button type="button" class="btn btn-xs btn-success" data-toggle="modal" data-target="#ModalAdd"><i class="fa fa-check"></i> Agregar</button></th>
                                            <th></th>
                                            <th>Descripción</th>
                                            <th>No. de Serie Etiqueta</th>
                                            <th>No. de Serie Proveedor</th>
                                            <th></th>
                                            <th></th>
                                            <th>Tienda</th>
                                            <th>Departamento</th>
                                            <th>Activo</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalAdd" class="modal fade hmodal-success" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-wrench"></i> Registrar Maquinaria y Equipo</h4>
                <small id="ModalDescription" class="font-bold">Formulario para registrar un maquina y/o equipo.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Número de Serie Etiqueta</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-barcode"></span>
                            </span>
                            <input class="form-control" data-bind="value: SerialNumber, hasFocus: SerialNumberSelected" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Número de Serie Proveedor</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-barcode"></span>
                            </span>
                            <input class="form-control" data-bind="value: SerialNumberSupplier, hasFocus: SerialNumberSelectedSupplier" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Descripción</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-align-left"></span>
                            </span>
                            <input class="form-control" data-bind="value: EquipmentDescription, hasFocus: EquipmentDescriptionSelected" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Tienda</label>
                        <select class="form-control sites select2" data-bind="options: Sites, value: SiteCode, optionsValue: 'SiteCode', optionsText: 'SiteName', optionsCaption: 'Seleccionar sitio'"></select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Departamento</label>
                        <select class="form-control departments select2" data-bind="options: Deparments, value: DepartmentId, optionsValue: 'vkey', optionsText: 'description', optionsCaption: 'Seleccionar departamento'"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Clear"><i class="fa fa-close"></i> Cancelar</button>
                <button class="btn btn-success" data-bind="click: Add"><i class="fa fa-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div id="ModalChange" class="modal fade hmodal-warning" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-wrench"></i> Editar Maquinaria y Equipo</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar un maquina y/o equipo.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Número de Serie Etiqueta</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-barcode"></span>
                            </span>
                            <input maxlength="50" class="form-control" data-bind="value: SerialNumber, hasFocus: SerialNumberSelected" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Número de Serie Proveedor</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-barcode"></span>
                            </span>
                            <input maxlength="50" class="form-control" data-bind="value: SerialNumberSupplier, hasFocus: SerialNumberSelectedSupplier" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Descripción</label>
                        <div class="input-group date">
                            <span class="input-group-addon">
                                <span class="fa fa-align-left"></span>
                            </span>
                            <input class="form-control" maxlength="200" data-bind="value: EquipmentDescription, hasFocus: EquipmentDescriptionSelected" type="text">
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Tienda</label>
                        <select class="form-control editSites select2" data-bind="options: Sites, value: SiteCode, optionsValue: 'SiteCode', optionsText: 'SiteName', optionsCaption: 'Seleccionar sitio'"></select>
                    </div>
                    <div class="form-group col-lg-6">
                        <label>Departamento</label>
                        <select class="form-control editDepartments select2" data-bind="options: Deparments, value: DepartmentId, optionsValue: 'vkey', optionsText: 'description', optionsCaption: 'Seleccionar departamento'"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: Clear"><i class="fa fa-close"></i> Cancelar</button>
                <button class="btn btn-success" data-bind="click: Edit"><i class="fa fa-check"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts{ @Scripts.Render("~/bundles/MRO002/js") }