﻿@model FloridoERP.ViewModels.MRO.ServiceCalendarModel
@{ ViewBag.Title = "MRO001"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MMRO000">MRO</a></li>
                    <li><a href="MRO000">Maquinaria-Equipo</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Programar Servicios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Programar Servicios.
            </h2>
            <small>Programar Servicios para maquinaria y equipo. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading" id="tabs">
                    <ul class="nav nav-tabs">
                        <li class="active" onclick="tab1()" id="tab1"><a data-toggle="tab" href="#tab-1"><i class="fa fa-plus"></i>&nbsp;Programar Servicio</a></li>
                        <li class="" onclick="tab2()"><a data-toggle="tab" href="#tab-2" id="tab2"><i class="fa fa-list-alt"></i>&nbsp;Lista de Servicios</a></li>
                    </ul>
                    <div class="tab-content">

                        <div id="tab-1" class="tab-pane active">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hpanel">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h3>Datos de Servicio</h3>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-lg-3">
                                                    <label for="service_date" title="Fecha de Aplicacion" data-toggle="tooltip" data-placement="right">
                                                        Fecha de Aplicación
                                                    </label>
                                                    <div class="input-group date">
                                                        <span class="input-group-addon">
                                                            <span class="fa fa-calendar"></span>
                                                        </span>
                                                        <input id="service_date" type="text" class="date-pick form-control" autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <label title="Tienda" data-toggle="tooltip" data-placement="right">Sucursal</label>
                                                    @Html.DropDownListFor(m => m.Site, Model.Sites, new { @class = "form-control", @id = "SiteDrop", @onchange = "GetEquipment();" })
                                                </div>
                                                <div class="col-lg-4">
                                                    <label title="Departamento" data-toggle="tooltip" data-placement="right">Departamento</label>
                                                    @Html.DropDownListFor(m => m.Code, Model.Codes, new { @class = "form-control", @id = "DepartmentDrop", @onchange = "GetEquipment();" })
                                                </div>
                                            </div>
                                            <br />
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4>Datos de Maquinaria y Equipo</h4>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-row">
                                                        <div class="col-lg-12 row">
                                                            <div class="form-group col-lg-4">
                                                                <label class="center" for="EquipmentDrop" title="Lista de Maquinaria y Equipo" data-toggle="tooltip" data-placement="right">Maquinaria/Equipo</label>
                                                                <select id="EquipmentDrop" class="form-control center">
                                                                    <option value="">Seleccione una opción</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-group col-lg-4">
                                                                <label title="Proveedor" data-toggle="tooltip" data-placement="right">Proveedor</label>
                                                                @Html.DropDownListFor(m => m.Supplier, Model.Suppliers, new { @class = "form-control", @id = "SupplierDrop" })
                                                            </div>
                                                            <div class="form-group col-lg-4">
                                                                <label title="Costo Estimado del Servicio" data-toggle="tooltip" data-placement="right">Costo del Servicio</label>
                                                                <div class="input-group">
                                                                    <span class='input-group-addon'>$</span>
                                                                    <input id="ServiceCost" name="ServiceCost" type="number" min="0" max="9999999" class="form-control" onfocusout="" />
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-lg-2">
                                                                <label title="Tipo de Moneda" data-toggle="tooltip" data-placement="right">Moneda</label>
                                                                <div class="input-group">
                                                                    <select class="form-control center" id="Currency">
                                                                        @foreach (var Currency in Model.MaCode)
                                                                        {
                                                                            <option value="@Currency.vkey">@Currency.vkey</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-lg-4">
                                                                <label title="Archivo de Cotizacion" data-toggle="tooltip" data-placement="right">Archivo Cotizacion (PDF)</label>
                                                                <div class="input-group">
                                                                    <a class='btn btn-info' href='javascript:;' style="position:initial">
                                                                        Seleccionar Cotizacion
                                                                        <input type="file" accept="application/pdf" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent; height: 100%;width: 100%' name="file_source" id="file" size="20" onchange='$("#upload-file-info").html(this.files[0].name);'>
                                                                    </a>
                                                                    &nbsp;
                                                                    <label id="upload-file-info"></label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-lg-1 pull-right" style="top:18px; margin-top: 5px;">
                                                                <button class="btn btn-success" id="add_button" data-toggle="tooltip" title="Agregar">
                                                                    <i class="fa fa-plus"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4>Lista de Maquinaria y Equipo</h4>
                                                </div>
                                            </div>
                                            <div id="TableDivProducts" class="animate-panel" data-effect="zoomIn">
                                                <div class="row table-responsive">
                                                    <table id="table_products" class="table table-striped table-bordered table-hover" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Producto</th>
                                                                <th>Proveedor</th>
                                                                <th>Costo</th>
                                                                <th>Moneda</th>
                                                                <th>Departamento</th>
                                                                <th>Cotización</th>
                                                                <th></th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-success pull-right" disabled onclick="return false;" id="btnRegistrar"><i class="fa fa-save"></i> Guardar</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tab-2" class="tab-pane">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="hpanel">
                                        <div class="panel-body">

                                            <div class="row">
                                                <div class="form-group col-lg-4">
                                                    <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Período</label>
                                                    <div class="input-daterange input-group" id="datepicker">
                                                        <div class="input-group date">
                                                            <span class="input-group-addon">
                                                                <span class="fa fa-calendar"></span>
                                                            </span>
                                                            <input type="text" id="BeginDate" class="form-control" autocomplete="off" readonly />
                                                        </div>
                                                        <span class="input-group-addon">A</span>
                                                        <div class="input-group date">
                                                            <input type="text" id="EndDate" class="form-control" autocomplete="off" readonly />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label title="Tienda" data-toggle="tooltip" data-placement="right">Tienda del Servicio</label>
                                                    <select id="SelectSites" class="form-control select2" onchange="searchService()">
                                                        <option value="0">Seleccione una opción</option>
                                                        @foreach (var item in Model.Site)
                                                        {
                                                            <option value="@item.site_code">@item.site_name</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                                                <div class="row table-responsive">
                                                    <table id="TableTransfers" class="table table-striped table-bordered table-hover" style="width: 100%">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th>Identificador de Servicio</th>
                                                                <th>Fecha Programada de Servicio</th>
                                                                <th>Estatus</th>
                                                                <th>Ubicación</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalChange" class="modal fade hmodal-warning" tabindex="-1" role="dialog" aria-labelledby="ModalChange" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-wrench"></i> Editar Servicio Programado</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar un servicio.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3>Datos de Servicio</h3>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label for="service_dateEdit" title="Fecha de Aplicacion" data-toggle="tooltip" data-placement="right">
                                            Fecha de Aplicación
                                        </label>
                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                            <input id="ServiceIdEdit" type="hidden" />
                                            <input id="service_dateEdit" type="text" class="date-pick form-control" autocomplete="off" readonly />
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <label title="Tienda" data-toggle="tooltip" data-placement="right">Sucursal</label>
                                        @Html.DropDownListFor(m => m.Site, Model.Sites, new { @class = "form-control", @id = "SiteDropEdit", @onchange = "GetEquipmentEdit();" })
                                    </div>
                                    <div class="col-lg-4">
                                        <label title="Departamento" data-toggle="tooltip" data-placement="right">Departamento</label>
                                        @Html.DropDownListFor(m => m.Code, Model.Codes, new { @class = "form-control", @id = "DepartmentDropEdit", @onchange = "GetEquipmentEdit();" })
                                    </div>
                                </div>
                                <br />
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Datos de Maquinaria y Equipo</h4>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-row">
                                            <div class="col-lg-12 row">
                                                <div class="form-group col-lg-4">
                                                    <label class="center" for="EquipmentDropEdit" title="Lista de Maquinaria y Equipo" data-toggle="tooltip" data-placement="right">Maquinaria/Equipo</label>
                                                    <select id="EquipmentDropEdit" class="form-control center">
                                                        <option value="">Seleccione una opción</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label title="Proveedor" data-toggle="tooltip" data-placement="right">Proveedor</label>
                                                    @Html.DropDownListFor(m => m.Supplier, Model.Suppliers, new { @class = "form-control", @id = "SupplierDropEdit" })
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label title="Costo Estimado del Servicio" data-toggle="tooltip" data-placement="right">Costo del Servicio</label>
                                                    <div class="input-group">
                                                        <span class='input-group-addon'>$</span>
                                                        <input id="ServiceCostEdit" name="ServiceCostEdit" type="number" min="0" max="9999999" class="form-control" onfocusout="" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-2">
                                                    <label title="Tipo de Moneda" data-toggle="tooltip" data-placement="right">Moneda</label>
                                                    <div class="input-group">
                                                        <select class="form-control center" id="CurrencyEdit">
                                                            @foreach (var Currency in Model.MaCode)
                                                            {
                                                                <option value="@Currency.vkey">@Currency.vkey</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-4">
                                                    <label title="Archivo de Cotizacion" data-toggle="tooltip" data-placement="right">Archivo Cotizacion (PDF)</label>
                                                    <div class="input-group">
                                                        <a class='btn btn-info' href='javascript:;' style="position:initial">
                                                            Seleccionar Cotizacion
                                                            <input type="file" accept="application/pdf" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent; height: 100%;width: 100%' name="file_sourceEdit" id="fileEdit" size="20" onchange='$("#upload-file-infoEdit").html(this.files[0].name);'>
                                                        </a>
                                                        &nbsp;
                                                        <label id="upload-file-infoEdit"></label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-1 pull-right" style="top:18px; margin-top: 5px;">
                                                    <button class="btn btn-success" id="add_buttonEdit" data-toggle="tooltip" title="Agregar">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Lista de Maquinaria y Equipo</h4>
                                    </div>
                                </div>
                                <div id="TableDivProductsEdit" class="animate-panel" data-effect="zoomIn">
                                    <div class="row table-responsive">
                                        <table id="table_productsEdit" class="table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Producto</th>
                                                    <th>Proveedor</th>
                                                    <th>Costo</th>
                                                    <th>Moneda</th>
                                                    <th>Departamento</th>
                                                    <th>Cotización</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="ClearFormEdit();"><i class="fa fa-close"></i> Cancelar</button>
                        <button class="btn btn-success" disabled onclick="return false;" id="btnRegistrarEdit"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/MRO001/js") }