﻿<div class="row">
    <div class="form-group col-lg-4">
        <label>Periodo</label>
        <div class="input-daterange input-group" id="datepicker">
            <div class="input-group date">
                <span class="input-group-addon">
                    <span class="fa fa-calendar"></span>
                </span>
                <input type="text" id="BeginDate" class="form-control" autocomplete="off" readonly />
            </div>
            <span class="input-group-addon">A</span>
            <div class="input-group date">
                <input type="text" id="EndDate" class="form-control" autocomplete="off" readonly />
            </div>
        </div>
    </div>
</div>

<div id="TableSentOrders" class="animate-panel" data-effect="zoomIn">
    <div class="row table-responsive">
        <table id="SentOrders" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Tienda</th>
                    <th>Cantidad Productos</th>
                    <th>Total Estimado</th>
                </tr>
            </thead>
        </table>
    </div>
</div>