﻿<div id="TableStoreFolio" class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-sm-7 col-sm-offset-4">
                                <h4 class="text-info"><i class="pe-7s-wallet fa-2x"></i> <a class="text-info">Información de las Requisiciones</a></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="project-label font-extra-bold text-center text-info"><h4><i class="pe-7s-keypad "></i> Total de Requisiciones</h4></div>
                                <h4 id="hRequirementsTotal" class="font-extra-bold no-margins text-center text-success"></h4>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label font-extra-bold text-center text-info"> <h4><i class="pe-7s-edit "></i> Total de Productos</h4></div>
                                <h4 id="hQuantityTotal" class="font-extra-bold no-margins text-center text-success"></h4>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label font-extra-bold text-center text-info"> <h4><i class="pe-7s-cash "></i> Total Estimado</h4></div>
                                <h4 id="hTotalTotal" class="font-extra-bold no-margins text-center text-success"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5">
                <h4 id="labelCreditor" class="text-success pull-right">Acreedor</h4>
            </div>
            <div class="col-lg-1">
                <label class="switch">
                    <input id="checkView" type="checkbox" onclick="ChangeView();">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-lg-5 pull-left">
                <h4 id="labelSite" class="pull-left">Tienda</h4>
            </div>
        </div>

        <div id="divMain" hide class="animate-panel" data-effect="zoomIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group col-lg-12 animate-panel" data-effect="zoomIn">
                        <div class="row table-responsive">
                            <table id="TableRequiriment" class="table table-striped table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Identificador Acreedor</th>
                                        <th>Acreedor</th>
                                        <th>Cantidad de Productos</th>
                                        <th>Total Estimado</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <div class="text-right">
                    <button id="btnSave1" btnSave type="button" class="btn btn-success hide" onclick="Send()"><i class="fa fa-upload"></i>  Enviar</button>
                </div>
            </div>
        </div>
        <div id="divSecond" hide class="hide animate-panel" data-effect="zoomIn">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group col-lg-12">
                        <div id="TableReqDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="TableRequirements" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" class="checkAll"></th>
                                            <th></th>
                                            <th></th>
                                            <th>Tienda</th>
                                            <th>Cantidad Productos</th>
                                            <th>Total Estimado</th>
                                            <th>Editar</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <div class="text-right">
                    <button id="btnSave2" btnSave type="button" class="btn btn-success" onclick="Send()"><i class="fa fa-upload"></i>  Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="PanelEdit" class="row hide animate-panel" data-effect="fadeInRight">
    <div class="content animate-panel">
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-danger btn-outline text-right" id="btnSearch" onclick="Return();"><i class="fa fa-caret-square-o-left"></i> Regresar</button>
                <div class="hpanel hblue">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <a onclick="PanelGrid.click();">Requisición de Consumo Interno</a>
                    </div>
                    <div class="panel-body" id="selected">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-5">
                                            <h4 class="text-info"><i class="pe-7s-shopbag fa-2x"></i> <a class="text-info"></a>Productos seleccionados</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                                <div class="row table-responsive">
                                    <table id="tableItemsEdit" class="table table-striped table-bordered table-hover" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Código Producto</th>
                                                <th>Descripción</th>
                                                <th>Categoria</th>
                                                <th>Proveedor</th>
                                                <th>Precio</th>
                                                <th>Cantidad</th>
                                                <th>Borrar</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="text-right">
                                        <button class="btn btn-danger text-right" onclick="aprovalCancel()"><i class="fa fa-close"></i>   Eliminar Requisición</button>
                                        <button class="btn btn-success text-right" onclick="aprovalSave()"><i class="fa fa-save"></i>   Guardar Cambios</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hpanel hblue">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <a onclick="PanelGrid.click();">Agregar productos para requisición</a>
                    </div>
                    <div class="panel-body" id="items">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-7 col-sm-offset-4">
                                        <h4 class="text-info"><i class="pe-7s-note2 fa-2x"></i> <a class="text-info">Seleccionar productos para requisición</a></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="tableItemsAdd" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Código Producto</th>
                                            <th>Descripción</th>
                                            <th>Categoria</th>
                                            <th>Proveedor</th>
                                            <th>Precio</th>
                                            <th>Cantidad</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>