﻿@model App.Entities.ViewModels.Inventory.InventoryTypeOptionModel
@{
    ViewBag.Title = "INVE002";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}
<link href="https://weareoutman.github.io/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet" />

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href="INVE000">Inventario</a></li>
                    <li class="active">
                        <span>Tipos De Inventario </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tipos de inventario
            </h2>
            <small>Se agregara los tipos de inventarios</small>
        </div>
    </div>
</div>

<div class="content animate-panel" style="padding-bottom:0;">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue" id="creditorsDivRelation">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a onclick=" StatusForm(false); FormClear(); SaveOrEdit(true); FillTableLevel([]);IdInventory=0;IsEdit =false;" id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <div class="row">
                        <a class="showhide" onclick=" StatusForm(false); SaveOrEdit(true);FormClear(); FillTableLevel([]);IdInventory=0;IsEdit =false;">
                            <div class="col-md-5">
                                Tipo De Inventario
                            </div>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Nombre de inventario</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-align-left"></span>
                                </span>
                                <input class="form-control" id="nameInventory" type="text" name="name" value="" maxlength="49" />
                            </div>
                        </div>
                        <div class="col-lg-3" style="margin-bottom:20px;">
                            <label>Revisión</label>
                            <select class="form-control" id="typeReviewSelect" onchange="IsDay()">
                                <option value="0">Seleccione una revision</option>
                                @foreach (var item in Model.ListMaCode)
                                {
                                    <option value="@item.vkey">@item.vkey</option>
                                }
                            </select>
                        </div>
                        <div class="col-lg-2" style="margin-bottom:20px;" id="dayForm">
                            <label>Dia </label>
                            <select class="form-control" id="daySelect">
                                <option value="0">
                                    Selecciona un dia
                                </option>
                                <option value="Lunes">
                                    Lunes
                                </option>
                                <option value="Martes">
                                    Martes
                                </option>
                                <option value="Miércoles">
                                    Miércoles
                                </option>
                                <option value="Jueves">
                                    Jueves
                                </option>
                                <option value="Viernes">
                                    Viernes
                                </option>
                                <option value="Sábado">
                                    Sábado
                                </option>
                                <option value="Domingo">
                                    Domingo
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-2" id="closeTimeForm">
                            <label>Cierre Conteo</label>
                            <div class="input-group clockpicker" data-autoclose="true">
                                <input type="text" class="form-control" value="00:00" id="closeTime" readonly>
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>
                        </div>
                    </div>                 

                    <div class="col-lg-3" style="margin-bottom:20px;" id="departamentForm">
                        <label>Departamento</label>

                        <select class="form-control" id="departamentSelect">
                            <option value="0">Seleccione un departamento</option>
                            @foreach (var item in Model.ListMaClass)
                            {
                                <option value="@item.class_id">@item.class_name</option>
                            }
                        </select>
                    </div>

                    <div class="col-lg-2" style="margin-bottom:20px;margin-top:28px;">
                        <label style="margin-right:25px;"> <input type="checkbox" id="isActiveForm" class="i-checks"><b>  Activo</b></label>
                    </div>

                    <div class="col-lg-2" style="margin-bottom:20px;">
                        <button class="btn btn-success" id="invetoryButton" style="margin-top:22px;">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="levelInventoryTable" cellpadding="1" cellspacing="1" style="width:100%; " class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Id Inventario
                                        </th>
                                        <th>
                                            Nivel
                                        </th>
                                        <th>Nombre</th>
                                        <th>Estatus</th>
                                        <th>
                                            #
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin-bottom:20px;" id="saveForm">
                        <div class="pull-right">
                            <button class="btn btn-success " id="invetorySaveButton" style="margin-top:22px;">
                                <i class="fa fa-check"></i>
                                Guardar
                            </button>
                            <button class="btn btn-danger " onclick="ClearForm()" style="margin-top:22px;">
                                <i class="fa fa-close"></i>
                                Cancelar
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-12" style="margin-bottom:20px;" id="editForm" hidden>
                        <div class="col-lg-1 pull-right">
                            <button class="btn btn-danger " onclick="ClearForm()" style="margin-top:22px;">
                                <i class="fa fa-close"></i>
                                Cancelar
                            </button>
                        </div>
                        <div class="col-lg-1 pull-right">
                            <button class="btn btn-warning " id="invetoryEditButton" style="margin-top:22px;">
                                <i class="fa fa-pencil"></i>
                                Editar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel" style="padding-top:0;">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue" id="creditorsDivRelation">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <div class="row">
                        <a class="showhide">
                            <div class="col-md-5">
                                Lista De Inventarios
                            </div>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="inventoryTypeTable" cellpadding="1" cellspacing="1" style="width:100%; " class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Id Inventario
                                        </th>
                                        <th>
                                            Editar
                                        </th>
                                        <th>
                                            Tipo inventario
                                        </th>
                                        <th>Revision</th>
                                        <th>Dia de revision</th>
                                        <th>Activado</th>
                                        <th>Hora Cierre</th>
                                        <th>
                                            Detalles
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade hmodal-info" id="ModalDetalles" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-archive fa-1x"></i> Información del Inventario</h4>
                <small class="font-bold">Información básica del tipo de inventario.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3">
                        <label><i class="fa fa-align-left"></i> Nombre de inventario</label>
                        <p id="inventoryNameP">

                        </p>
                    </div>
                    <div class="col-lg-2">
                        <label><i class="fa fa-check-square-o"></i> Revisión</label>
                        <p id="typeReviewP">

                        </p>
                    </div>
                    <div class="col-lg-2">
                        <label><i class="fa fa-clock-o"></i> Hora Cierre</label>
                        <p id="dayP">

                        </p>
                    </div>
                    <div class="col-lg-2">
                        <label><i class="fa fa-wrench"></i> Estado</label>
                        <p id="statusP">

                        </p>
                    </div>
                    <div class="col-lg-3">
                        <label><i class="fa fa-bank"></i>Departamentos</label>
                        <ul id="levelUl"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", serializer.Serialize(Model.ListInventory))
@section Scripts { @Scripts.Render("~/bundles/INVE002/js") }
