﻿@model App.Entities.ViewModels.Inventory.InventoryCalendarModel
@{
    ViewBag.Title = "INVE003";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> Sites = new List<SelectListItem>();
    Sites.Add(new SelectListItem { Text = "Seleccione una opción", Value = "" });
    if (Model.siteList != null)
    {
        foreach (var item in Model.siteList)
        {
            Sites.Add(new SelectListItem { Text = item.SiteName, Value = item.SiteCode });
        }
    }

    //Sites.Add(new SelectListItem { Text = "TODAS LAS TIENDAS", Value = "0000" });
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href="INVE000">Inventario</a></li>
                    <li class="active">
                        <span>Ciclicos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Programación de Cíclicos
            </h2>
            <small>Se podrá programar inventarios ciclicos para las tiendas</small>
        </div>
    </div>
</div>

<div class="content animate-panel" style="padding-bottom:0;">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue" id="creditorsDivRelation">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a onclick=" StatusForm(false); FormClear(); SaveOrEdit(true); FillTableLevel([]);IdInventory=0;IsEdit =false;" id="PanelDiv" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <div class="row">
                        <a class="showhide" onclick=" StatusForm(false); SaveOrEdit(true);FormClear(); FillTableLevel([]);IdInventory=0;IsEdit =false;">
                            <div class="col-md-5">
                                Ciclico
                            </div>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Nombre del ciclico</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-align-left"></span>
                                </span>
                                <input class="form-control" id="nameCyclic" type="text" name="name" value="" maxlength="49" />
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <label>Descripción del cíclico</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-align-left"></span>
                                </span>
                                <input class="form-control" id="descriptionCyclic" type="text" name="name" value="" maxlength="49" />
                            </div>
                        </div>

                        <div class="form-group col-lg-3">
                            <label title="Tienda para ciclico" data-toggle="tooltip" data-placement="right"></label>
                                <label data-placement="right">Tienda</label>
                                @Html.DropDownList("siteCyclic", Sites, new { @class = "form-control drop" })

                        </div>

                        <div class="form-group col-lg-3">
                            <label title="Fecha Inventario" data-toggle="tooltip" data-placement="right">Fecha Ciclico</label>
                            <div class="input-daterange input-group" id="datepicker">
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    @Html.TextBox("dateCyclic", null, new { @class = "form-control", @autocomplete = "off" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label title="Producto" data-toggle="tooltip" data-placement="right">Productos</label>
                            <input class="form-control" id="ItemsDrop" name="ItemsDrop" />
                        </div>

                        <div class="col-lg-2" style="margin-bottom:20px;">
                            <button class="btn btn-success" id="invetoryButton" style="margin-top:22px;" onclick="addItem()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="TableProducts" cellpadding="1" cellspacing="1" style="width:100%; " class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Código
                                        </th>
                                        <th>
                                            Descripción
                                        </th>
                                        <th>
                                            Eliminar
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-12" style="margin-bottom:20px;" id="saveForm">
                        <div class="pull-right">
                            <button class="btn btn-success " id="invetorySaveButton" style="margin-top:22px;" onclick="addCyclic()">
                                <i class="fa fa-check"></i>
                                Guardar
                            </button>
                            @*<button class="btn btn-danger " onclick="ClearForm()" style="margin-top:22px;">
                                <i class="fa fa-close"></i>
                                Cancelar
                            </button>*@
                        </div>
                    </div>

                    <div class="col-lg-12" style="margin-bottom:20px;" id="editForm" hidden>
                        <div class="col-lg-1 pull-right">
                            <button class="btn btn-danger " onclick="ClearForm()" style="margin-top:22px;">
                                <i class="fa fa-close"></i>
                                Cancelar
                            </button>
                        </div>
                        <div class="col-lg-1 pull-right">
                            <button class="btn btn-warning " id="invetoryEditButton" style="margin-top:22px;">
                                <i class="fa fa-pencil"></i>
                                Editar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Datatable.js"></script>
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    <script src="~/Vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Vendor/slimScroll/jquery.slimscroll.min.js"></script>
    @Scripts.Render("~/vendor/select2-3.5.2/select2.min.js")
    <script src="~/Vendor/select2-3.5.2/select2_locale_es.js"></script>
    <script src="~/Vendor/moment/moment.js"></script>
    <script type="text/javascript">

        $("#siteCyclic").select2();
        var listItems = [];
        var listItemsSend = [];
        $("#dateCyclic").datepicker({
            autoclose: true,
            todayHighlight: true,
            showButtonPanel: true,
            orientation: "top"
        }).on("changeDate", function (e) {
            //searchTransfers();
        });

        $("#ItemsDrop").select2({
            minimumInputLength: 3,
            allowClear: true,
            placeholder: "Seleccione un producto",
            initSelection: function (element, callback) {
                callback({ id: "", text: "Seleccione una opcion" });
            },
            ajax: {
                url: "/Item/ActionSearchItemLike/",
                dataType: 'json',
                type: "GET",
                quietMillis: 50,
                data: function (Filter) {
                    return {
                        Filter: Filter
                    };
                },
                results: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: `${item.PathNumber} - ${item.Description}`,
                                id: item.PathNumber + '/*/*/*/**' + item.Description
                            }
                        }),
                    };
                }
            }
        });

        var tableProducts = $('#TableProducts').DataTable({
            autoWidth: true,
            responsive: true,
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            columnDefs: [
                {
                    targets: [0, 1, 2],
                    visible: true,
                    width: "1%"
                }, {
                    targets: [2],
                    render: function (data, type, full, meta) {
                        return `<button class="btn btn-xs btn-danger btn-circle" style="text-align:center;border-right-width: 0px;padding-right: 0px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;margin-top: 5px;" onclick="deleteItem('${data.part_number}')"><i class="fa fa-times"></i></button>`;
                    }
                }

            ],
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
            ],
            columns:
                [
                    { data: 'part_number', width: "1%" },
                    { data: 'part_description', width: "1%" },
                    { data: null, width: "1%" }
                ]
        });
        function addItem() {
            if ($("#ItemsDrop").val() != "") {
                var part_description = $("#ItemsDrop").val().split('/*/*/*/**')[1];
                var part_number = $("#ItemsDrop").val().split('/*/*/*/**')[0];
                if (listItems.filter(x => x.part_number == part_number).length == 0) {
                    listItems.push({ part_number: part_number, part_description: part_description });
                    listItemsSend.push(part_number);
                    fillTableProducts();
                } else {
                    toastr.warning("El producto ya se encuentra considerado");
                }
                $("#ItemsDrop").select2("val", "");
            } else {
                toastr.error("Seleccione un producto");
            }
        }
        function fillTableProducts() {
            tableProducts.clear().draw();
            tableProducts.rows.add(listItems)
            tableProducts.columns.adjust().draw();
        }
        function deleteItem(part_number) {
            listItems = listItems.filter(x => x.part_number != part_number);
            const index = listItemsSend.indexOf(part_number);
            if (index > -1) {
                listItemsSend.splice(index, 1);
            }
            fillTableProducts();
        }
        function addCyclic() {
            if ($("#nameCyclic").val() == "" || $("#descriptionCyclic").val() == "" || $("#siteCyclic").val() == "" || $("#dateCyclic").val() == "") {
                toastr.error("Rellene todos los campos para el inventario");
                return;
            }
            if (listItemsSend.length <= 0) {
                toastr.error("Agregue por lo menos 1 producto para el inventario");
                return;
            }
            var Inventory = { title: $("#nameCyclic").val(), description: $("#descriptionCyclic").val(), site_code: $("#siteCyclic").val(), start: $("#dateCyclic").val() };
            StartLoading();
            $.ajax({
                type: "POST",
                url: "/InventoryCalendar/ActionAddInventoryCyclic/",
                data: { "Inventory": Inventory, "part_numbers": listItemsSend },
                success: function (json) {
                    EndLoading();
                    if (json.success) {
                        if (json.Inventory) {
                            toastr.success('Ciclico Guardado Correctamente');
                            ClearF();
                        }
                        else {
                            toastr.error('Alerta - Error inesperado contactar a sistemas.');
                        }

                    } else {
                        if (json.responseText == "SF") {
                            SessionFalse("Terminó tu sesión");
                        }
                    }
                },
                error: function (json) {
                    EndLoading();
                    toastr.error('Alerta - Error inesperado contactar a sistemas.');
                }
            });

        }
        function ClearF() {
            listItems = []
            listItemsSend = []
            $("#nameCyclic").val('');
            $("#descriptionCyclic").val('');
            $("#dateCyclic").val('');
            $("#siteCyclic").select2().select2("val", null);
            tableProducts.clear();
            tableProducts.columns.adjust().draw();
        }

    </script>
}