﻿@model App.Entities.ViewModels.Inventory.InventoryCalendarModel
@{
    ViewBag.Title = "INVE001";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<SelectListItem> Sites = new List<SelectListItem>();
    Sites.Add(new SelectListItem { Text = "Seleccione una opción", Value = "" });
    if (Model.siteList != null)
    {
        foreach (var item in Model.siteList)
        {
            Sites.Add(new SelectListItem { Text = item.SiteName, Value = item.SiteCode });
        }
    }
    Sites.Add(new SelectListItem { Text = "TODAS LAS TIENDAS", Value = "0000" });
    List<SelectListItem> Types = new List<SelectListItem>();
    Types.Add(new SelectListItem { Text = "Seleccione una opción", Value = "" });
    if (Model.InventoryTypeList != null)
    {
        foreach (var item in Model.InventoryTypeList)
        {
            Types.Add(new SelectListItem { Text = item.InventoryName, Value = item.IdInventoryType.ToString() });
        }
    }
}

@section Styles {
    @Styles.Render("~/bundles/metisMenu/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/fullcalendar/css")
    @Styles.RenderFormat(BundlesFormats.Print, "~/bundles/fullcalendar-media/css")
    @Styles.Render("~/bundles/peicon7stroke/css")
    @Styles.Render("~/bundles/style/css")
    @Styles.Render("~/bundles/bootstrap-tour/css")
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li><a href="INVE000">Inventario</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Calendarizar Inventarios</span>
                    </li>
                    <li>
                        <a>
                            <h5 class="pe-7s-help1 text-info" data-toggle="tooltip" data-placement="left" data-original-title="Ayuda" onclick="HelpTour();"></h5>
                        </a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Calendarizar Inventarios
            </h2>
            <small>Asignar fecha a inventarios</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <div class="panel-tools">
                        <a id="showhideCalendar" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="showhideCalendar.click();">Calendario de inventarios</a>
                </div>
                <div id="CalendarPanel" class="panel-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalAddInventory" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Agregar Pagina</h4>
                <small id="ModalDescription" class="font-bold">Formulario para registrar una nueva pagina.</small>
            </div>
            @using (Html.BeginForm("ActionInsertInventoryCalendar", "InventoryCalendar", FormMethod.Post, new { name = "form", id = "form" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <input type="hidden" id="idInventory" value="">
                            <input type="hidden" id="idInventoryDate" value="">
                            <label for="page_id" title="ID Pagina." data-toggle="tooltip" data-placement="right">Nombre</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-align-left"></span>
                                </span>
                                @Html.TextBoxFor((x => x.title), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="page_name" title="Nombre de la página." data-toggle="tooltip" data-placement="right">Descripción</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="fa fa-align-justify"></span>
                                </span>
                                @Html.TextBoxFor((x => x.description), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label title="URL de la página" data-toggle="tooltip" data-placement="right">Tienda</label>
                            @Html.DropDownList("SiteValue", Sites, new { @class = "form-control drop" })
                        </div>
                        <div class="form-group col-lg-6">
                            <label title="URL de la página" data-toggle="tooltip" data-placement="right">Tipo de inventario</label>
                            @Html.DropDownList("TypeValue", Types, new { @class = "form-control drop" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-sign-out"></i> Salir</button>
                    <button id="btnCancel" type="button" class="btn btn-danger fa fa-close" onclick="CancelInventory();"> Cancelar </button>
                    <button id="btExec" type="button" class="btn btn-success fa fa-save" onclick="InsertInventory();"> Registrar</button>
                </div>
            }
        </div>
    </div>
</div>

@Html.Hidden("Inventorys", Json.Encode(Model.InventoryCalendarModellist))
@Html.Hidden("InventorysTypesJS", Json.Encode(Model.InventoryTypeList))
@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/fullcalendar/js")
    @Scripts.Render("~/bundles/bootstrap-tour/js")
    @Scripts.Render("~/bundles/INVE001/js")
}