﻿@{ ViewBag.Title = "INVE000"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li class="active">
                        <span>Almacen</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Inventario
            </h2>
            <small>Menu de Inventario. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">

        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE002">
                            <h2 class="m-b-xs">Tipo de inventarios</h2>
                            <div class="m">
                                <i class="fa fa-file-text-o fa-5x"></i>
                            </div>
                            <p class="small">
                                Se agregan los tipos de inventarios
                            </p>
                            <br />
                        </a>
                        <a href="INVE002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE001">
                            <h2 class="m-b-xs">Calendario</h2>
                            <div class="m">
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <p class="small">
                                Se crean fechas programados de inventarios.
                            </p>
                            <br />
                        </a>
                        <a href="INVE001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>