﻿@{ ViewBag.Title = "MENWSM000"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENWSM000">Almacen</a></li>
                    <li class="active">
                        <span>Almacen</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Almacen
            </h2>
            <small>Menu de Almacen. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INVE000">
                            <h2 class="m-b-xs">Inventario</h2>
                            <div class="m">
                                <i class="fa fa-bar-chart fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de inventario
                            </p>
                            <br />
                        </a>
                        <a href="INVE000" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>