﻿@model FloridoERP.ViewModels.Project.PROJ001Model
@{ ViewBag.Title = "PROJ001"; }

@section Styles { @Styles.Render("~/bundles/touchspin/css") }

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="PROJ000">Proyectos </a></li>
                    <li><a href="PROJ006">Gestión </a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Crear o modificar proyecto</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Crear o Modificar Proyecto
            </h2>
            <small>Crear o modificar proyecto </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row animate-panel">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-6">
                        <div class="row">
                            <label>Seleccione un proyecto</label>
                        </div>
                        <div class="row">
                            <select id="selectProject" class="select2" style="width:70%" onchange="setForm()">
                                <option value="">Seleccione un proyecto</option>
                                @foreach (var header in Model.Headers)
                                {
                                    <option value="@header.id_project">@header.title</option>
                                }
                            </select>
                            <button type="button" class="btn btn-success" onclick="newProject()"><i class="fa fa-plus"></i> Crear Proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row animate-panel animated" id="main" data-effect="zoomIn" hidden>
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <form id="formHeader" name="formHeader">
                        <div class="row">
                            <div class="col-lg-5">
                                <label for="title" title="Título del Proyecto" data-toggle="tooltip" data-placement="right">Título del Proyecto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-file-text-o"></span>
                                    </span>
                                    <input class="form-control" id="titleHeader" name="titleHeader" />
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <label for="description" title="Descripción del Proyecto" data-toggle="tooltip" data-placement="right">Descripción del Proyecto</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-align-left"></span>
                                    </span>
                                    <input class="form-control" id="descriptionHeader" name="descriptionHeader" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-3">
                                <label for="compromise_date" title="Fecha de Compromiso" data-toggle="tooltip" data-placement="right">Fecha de Compromiso</label>
                                <div class="input-group date">
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                    <input id="compromiseDate" name="compromiseDate" type="text" class="date-pick form-control" />
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <label for="category" title="Categoria" data-toggle="tooltip" data-placement="right">Categoria</label><a onclick='showModal("category")' class="text-success font-extra-bold">(Agregar Categoría)</a>
                                @Html.DropDownListFor(m => m.Categories, Model.SiteList, new { @class = "form-control select2", @id = "category", @name = "category", @onchange = "getLabelsCategory();" })
                            </div>
                            <div class="col-lg-5">
                                <label for="title" title="Usuarios Encargados" data-toggle="tooltip" data-placement="right">Usuarios Encargados</label>
                                <select class="js-source-states-2" multiple="multiple" style="width: 100%" id="usersCategory">
                                    @foreach (var users in Model.Users)
                                    {
                                        <option value="@users.emp_no">@users.first_name @users.last_name</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 2rem">
                            <div class="col-lg-4">
                                <label for="estimate" title="Precio estimado MXN" data-toggle="tooltip" data-placement="right">Presupuesto Estimado Pesos</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-usd"></span><strong> MXN</strong>
                                    </span>
                                    <input class="form-control" id="estimate" name="estimate" maxlength="50" type="number" onkeyup="RealTimeItem(this)" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="estimate" title="Precio estimado USD" data-toggle="tooltip" data-placement="right">Presupuesto Estimado Dolares</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-usd"></span><strong> USD</strong>
                                    </span>
                                    <input class="form-control" id="estimate_usd" name="estimate_usd" maxlength="50" type="number" onkeyup="RealTimeItem(this)" />
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label for="estiate" title="Precio estimado USD" data-toggle="tooltip" data-placement="right"></label>
                                <br />
                                <div class="input-group">

                                    <button id="btnUpdate" type="button" class="btn btn-success" onclick="send(true)"><i class="fa fa-upload"></i> Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="content animate-panel panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hpanel hblue">
                                    <div class="panel-heading">
                                        <div class="panel-tools">
                                            <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                                        </div>
                                        <a onclick="PanelGrid.click();">Etiquetas</a>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-5">
                                                        <h4 class="text-info"><i class="pe-7s-note2 fa-2x"></i> <a class="text-info">Lista de etiquetas</a></h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="table-responsive">
                                                    <table id="tableLabels" class="table table-striped table-bordered table-hover" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th></th>
                                                                <th><button class='btn btn-xs btn-success' type='button' onclick="showModal('label')"><i class="fa fa-plus"></i> Agregar</button></th>
                                                                <th style="width:100%">Descripción</th>
                                                                <th>Encargado de Etiqueta</th>
                                                                <th>Usuarios de Etiqueta</th>
                                                                <th>Eliminar</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-lg-12">
                        <row>
                            <button name="btnCancel" type="button" class="btn btn-success" onclick="UpdateStatusHeader(9)" style="display:none;"><i class="fa fa-check"></i> Terminar Proyecto</button>
                            <button name="btnCancel" type="button" class="btn btn-danger" onclick="UpdateStatusHeader(8)" style="display:none;"><i class="fa fa-close"></i> Cancelar Proyecto</button>
                            <div class="pull-right ">
                                <button id="btnSend" type="button" class="btn btn-success" onclick="send()"><i class="fa fa-upload"></i> Enviar</button>
                            </div>
                        </row>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCategory" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <h4 id="ModalTitle" class="modal-title"><i class="fa fa-plus text-success"></i>  Agregar Categoría</h4>
                        <small id="ModalDescription" class="font-bold">Formulario para agregar una categoría.</small>
                    </div>
                    <div class="modal-body">
                        <div class="panel-body">
                            <form id="formCategory">
                                <div class="col-lg-12">
                                    <label for="title" title="Descripción de la categoría" data-toggle="tooltip" data-placement="right">Descripción de la categoría</label>
                                    <textarea class="form-control" id="descriptionCategory" name="descriptionCategory"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal('category')" id="closeModal"><i class="fa fa-close"></i> Cerrar</button>
                        <button type="button" id="submit-button" class="btn btn-success" onclick="addCategory()"><i class="fa fa-save"></i> Guardar</button>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="color-line"></div>
                        <div id="modalReferenceBody" class="modal-body" style=" height 100%">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalLabel" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header text-center">
                <h4 id="ModalTitle" class="modal-title"><i class="fa fa-plus text-success"></i> Agregar Etiqueta</h4>
                <small id="ModalDescription" class="font-bold">Formulario para agregar una etiqueta.</small>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form id="formLabel" name="formLabel">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="title" title="Descripción de la etiqueta" data-toggle="tooltip" data-placement="right">Descripción de la etiqueta</label>
                                <textarea class="form-control" id="descriptionLabel" name="descriptionLabel"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="title" title="Usuario Encargado" data-toggle="tooltip" data-placement="right">Usuario encargado</label>
                                <select class="form-control select2" id="userLeaderLabel">
                                    <option value="">Seleccione un usuario</option>
                                    @foreach (var user in Model.Users)
                                    {
                                        <option value="@user.emp_no//@user.first_name @user.last_name">@user.first_name @user.last_name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label for="title" title="Usuarios para Etiqueta" data-toggle="tooltip" data-placement="right">Usuario para Etiqueta</label>
                                <select class="js-source-states-2" multiple="multiple" style="width: 100%" id="usersLabel">
                                    @foreach (var users in Model.Users)
                                    {
                                        <option value="@users.emp_no//@users.first_name @users.last_name">@users.first_name @users.last_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closeModal('label')" id="closeModal"><i class="fa fa-close"></i> Cerrar</button>
                <button type="button" id="addLabel" class="btn btn-success" onclick="addLabel()"><i class="fa fa-save"></i> Guardar</button>
                <button type="button" id="updateLabel" class="btn btn-success" onclick="updateLabel()" style="display:none;"><i class="fa fa-save"></i> Editar</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="color-line"></div>
                <div id="modalReferenceBody" class="modal-body" style=" height 100%">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/touchspin/js")
    @Scripts.Render("~/bundles/PROJ001/js")
}