﻿@{ ViewBag.Title = "PROJ004"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="PROJ000">Proyectos </a></li>
                    <li><a href="PROJ006">Gestión </a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Agregar gastos al proyecto</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gasto por Articulo
            </h2>
            <small>Agregar gastos al proyecto </small>
        </div>
    </div>
</div>

<div class="content animated zoomIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="item">Proyectos</label>
                            <input class="form-control  select2" id="select_project" type="text" />
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="col-lg-12">
                            <label for="table">Etiquetas abiertas</label>
                            <div class="table-responsive">
                                <table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th id="pr_th_btn"> Articulos </th>
                                            <th>Etiqueta</th>
                                            <th>No Empleado</th>
                                            <th>No. Articulos</th>
                                            <th>Precio estimado MXN</th>
                                            <th>Precio estimado USD</th>
                                            <th>Facturas registradas</th>
                                            <th>Total facturas MXN</th>
                                            <th>Total facturas USD</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>

                            @* Modal *@
                            <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg" style=" min-width: 90%">
                                    <div class="modal-content">
                                        <div class="color-line"></div>
                                        <div class="modal-header">
                                            <h4 id="modal_title" class="modal-title"><i class="fa fa-suitcase"></i> Agregar factura</h4>
                                            <small id="modal_description" class="font-bold"></small>
                                            <div class='row'>
                                                <span id="mo_id" class="col-xs-1"> </span>
                                                <span id="mo_emp" class="col-xs-1"> </span>
                                                <span id="mo_len" class="col-xs-1"> </span>
                                                <span id="mo_estimate" class="col-xs-2"></span>
                                                <span id="mo_estimate_usd" class="col-xs-2"></span>
                                                <span id="mo_fac_count" class="col-xs-1"> </span>
                                                <span id="mo_fac_val" class="col-xs-2"> </span>
                                                <span id="mo_fac_val_usd" class="col-xs-2"> </span>
                                            </div>
                                        </div>
                                        <form id="form" method="post">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table id="mo_table" class="table table-striped table-bordered table-hover" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 0px; overflow: hidden"></th>
                                                                    <th>Description</th>
                                                                    <th>Estado</th>
                                                                    <th>Estimado MXN</th>
                                                                    <th>Estimado USD</th>
                                                                    <th>Total MXN</th>
                                                                    <th>Total USD</th>
                                                                    <th>Facturas</th>
                                                                    <th>Agregar MXN</th>
                                                                    <th>Agregar USD</th>
                                                                    <th>Agregar nueva factura</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="mo_tbody"></tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <a class='btn btn-primary' href='javascript:;' style="position:initial" onclick="openFile()">
                                                            <i class="fa fa-arrow-circle-o-up "></i> Agregar XML
                                                        </a>
                                                        <b id='mo_xml_label'>
                                                            Seleccione un archivo XML<br /><br />
                                                            Total XML: <br />
                                                            Pesos: 0.0000 <br />
                                                            Dolares 0.0000 <br />
                                                        </b>
                                                    </div>
                                                    <div class="col-md-6" style="padding: 8px;padding-top: 12px">

                                                        <b id='mo_xml_label2'>
                                                            Ha seleccionado 0 artículos para ligar a factura<br /><br />
                                                            Total capturado: <br />
                                                            Pesos: 0.0000 <br />
                                                            Dolares 0.0000 <br />
                                                        </b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button id="mo_btn_close" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cancelar</button>
                                                <button id="mo_btn_save" class="btn btn-success" type="button"><i class="fa fa-check"></i> Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts { @Scripts.Render("~/bundles/PROJ004/js") }