﻿@model App.Entities.ViewModels.Projects.ProjectReportModel
@{ ViewBag.Title = "PROJ005"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    .text-label {
        font-weight: normal;
    }

    .message-warning {
        background-color: #f0ad4e;
        font-weight: bold;
    }

    .message-danger {
        background-color: #d9534f;
        font-weight: bold;
        color: #ffffff;
    }

    .message-info {
        background-color: #f9f9f9;
        font-weight: normal;
        color: #6a6c6f;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="PROJ000">Proyectos</a></li>
                    <li><a href="PROJ007">Reportes </a></li>
                    <li class="active">
                        <span>Administración de Proyectos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Administración de Proyectos
            </h2>
            <small>Reporte de Proyectos</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Proyectos</a>
                </div>
                <div class="panel-body">

                    @Html.Partial("PartialViewProj005/_PROJ005REPORT")

                    @Html.Partial("PartialViewProj005/_PROJ005DETAIL")

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model.Projects))
@Html.Hidden("categories", Json.Encode(Model.Categories))
@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/PROJ005/js")
}