﻿@model List<App.Entities.ViewModels.Projects.ProjectHeaderModel>
@{ ViewBag.Title = "PROJ003";}

@section Styles { @Styles.Render("~/bundles/pagination/css") }

<style type="text/css">
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    img {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        img:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal-image {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content-image {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image */
    #caption-image {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation */
    .modal-content-image, #caption-image {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @@-webkit-keyframes zoom {
        from {
            -webkit-transform: scale(0)
        }

        to {
            -webkit-transform: scale(1)
        }
    }

    @@keyframes zoom {
        from {
            transform: scale(0)
        }

        to {
            transform: scale(1)
        }
    }

    /* The Close Button */
    .close-image {
        position: absolute;
        top: 60px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close-image:hover,
        .close-image:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    /* 100% Image Width on Smaller Screens */
    @@media only screen and (max-width: 700px) {
        .modal-content-image {
            width: 100%;
        }
    }
</style>

<div class="normalheader animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="PROJ000">Proyectos </a></li>
                    <li><a href="PROJ006">Gestión </a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Historial de Artículos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Historial de Artículos
            </h2>
            <small>Agrupa ordenes de compra para mandar a los acreedores. </small>
        </div>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel blue animated zoomIn" id="projectHeader">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();"><i class="fa fa-edit"></i> Historial de Artículos</a>
                </div>
                <div class="panel-body">
                    <div class="text-center m-b-md">
                        <div class="row">
                            <div class="col-md-5 col-lg-offset-3">
                                <label><i class="fa fa-briefcase"></i> Seleccione un proyecto: </label>
                            </div>
                            <div class="col-lg-5 col-lg-offset-3">
                                <select id="projectDrop" class="form-control select2" onchange="ChangeProjectDrop();">
                                    <option value="">Seleccione una opción</option>
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.id_project">@item.title</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="projectMain" class="hide animated zoomIn">
                <div class="font-bold m-b-sm">
                    <i class="pe-7s-display1"></i> Detalles del Proyecto
                </div>
                <div class="hpanel stats">
                    <div class="panel-body">
                        <span id="projectMainLabel" class="label pull-right"></span>
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 id="proyectTitle"><i class="pe-7s-light"></i>  Titulo del proyecto</h4>
                                <p id="projectDesc"></p>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="project-label"><i class="fa fa-calendar-plus-o"></i> Fecha Inicio</div>
                                        <small id="proyectStartDate"></small>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="project-label"><i class="fa fa-calendar-o"></i> Fecha Estimada</div>
                                        <small id="proyectCompromiseDate"></small>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="project-label"><i class="fa fa-calendar-check-o"></i> Fecha Final</div>
                                        <small id="proyectEndDate"></small>
                                    </div>
                                    <div class="col-sm-4" style="margin-top:10px;">
                                        <div class="project-label"><i class="fa fa-glass"></i> Categoria</div>
                                        <small id="proyectCategory"></small>
                                    </div>
                                    <div class="col-sm-4" style="margin-top:10px;">
                                        <div class="project-label"><i class="fa fa-flag-checkered"></i> Estatus</div>
                                        <small id="proyectStatus"></small>
                                    </div>
                                    <div class="col-sm-4" style="margin-top:10px;">
                                        <div class="project-label"><i class="fa fa-line-chart"></i> Costo Estimado</div>
                                        <small id="proyectEstimateCost"></small>
                                        <small id="proyectEstimateCostUsd"></small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 project-info">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="project-action m-t-md">
                                            <h4><i class="fa fa-calculator"></i> Costo Real</h4>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">

                                    </div>
                                    <div class="col-sm-12">

                                    </div>
                                    <div class="col-sm-12">

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="project-value">
                                            <h2 class="text-success" id="proyectTotalCost"></h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="project-value">
                                            <h2 class="text-success" id="proyectTotalCostUsd"></h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="projectLabelDescription" class="hide animated zoomIn">
                <div class="font-bold m-b-sm">
                    <i class="fa fa-paint-brush"></i> Detalles de la Etiqueta
                </div>
                <div class="hpanel stats">
                    <div class="panel-body">
                        <span id="projectLabelInfo" class="label pull-right"></span>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="project-label"><i class="fa fa-calendar-plus-o"></i> Descripción</div>
                                        <small id="labelDesc"></small>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="project-label"><i class="fa fa-user"></i> Lider de Etiqueta</div>
                                        <small id="labelUserLeader"></small>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="project-label"><i class="fa fa-flag-checkered"></i> Estimado</div>
                                        <small id="labelEstimateCost"></small>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="project-label"><i class="fa fa-calculator"></i> Costo Real</div>
                                        <small class="text-info" id="labelTotalCost"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="projectItemDescription" class="hide animated zoomIn">
                <div class="font-bold m-b-sm">
                    <i class="pe-7s-box2"></i> Detalles del Artículo
                </div>
                <div class="hpanel stats">
                    <div class="panel-body">
                        <span id="projectItemLabel" class="label pull-right"></span>
                        <div class="row">
                            <div class="col-sm-10">
                                <p id="itemDesc">
                                </p>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <div class="project-label"><i class="fa fa-calendar-plus-o"></i> Fecha Inicio</div>
                                        <small id="itemStartDate"></small>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="project-label"><i class="fa fa-calendar-o"></i> Fecha Final</div>
                                        <small id="itemEndDate"></small>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="project-label"><i class="fa fa-calendar-check-o"></i> Fecha Real Inicio</div>
                                        <small id="itemRealStartDate"></small>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="project-label"><i class="fa fa-glass"></i> Fecha Real Final</div>
                                        <small id="itemRealEndDate"></small>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="project-label"><i class="fa fa-flag-checkered"></i> Estimado</div>
                                        <small id="itemEstimateCost"></small>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="project-label"><i class="fa fa-line-chart"></i> Estatus</div>
                                        <small id="itemStatus"></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="itemAddComment" class="hide animated zoomIn">
                <div class="font-bold m-b-sm">
                    <i class="fa fa-commenting"></i> Escribir un comentario
                </div>
                <div class="hpanel stats">
                    <div class="panel-body">
                        <div class="col-sm-6 project-info pull-left">
                            <div class="row">
                            </div>
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="input-group">
                                    <a class='btn btn-primary' href='javascript:;' style="position:initial">
                                        <i class="fa fa-file-pdf-o"></i> Subir PDF
                                        <input type="file" accept="application/pdf" onchange="UpdateSourcePdf();" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent; height: 100%;width: 100%' name="file_source_pdf" id="file_source_pdf" size="20">
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a class='btn btn-primary' href='javascript:;' style="position:initial">
                                    <i class="fa fa-file-image-o"></i> Subir Imagen
                                    <input type="file" accept="image/*" onchange="UpdateSourceImage();" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent; height: 100%;width: 100%' name="file_source_image" id="file_source_image" size="20">
                                </a>
                            </div>
                            <div class="col-md-12" style="margin-top:10px">
                                <div class="animate-panel" data-effect="zoomIn">
                                    <div class="row table-responsive">
                                        <table id="TableAttached" class="table table-striped table-bordered table-hover" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Documento</th>
                                                    <th>Tipo</th>
                                                    <th>Base64</th>
                                                    <th>Elliminar</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="input-group">
                                <div class="col-sm-12">
                                    <textarea type="text" id="commentMain" style="max-width:481px; max-height: 210px; min-width: 479px; min-height: 210px; width: 480px; margin: 5px; height: 210px;"
                                              maxlength="800" class="form-control" placeholder="Ingrese un comentario del artículo..."></textarea>
                                    <button id="commentSend" class="btn btn-success btn-md btn-block">
                                        <i class="fa fa-paper-plane"></i> Enviar mensaje
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="proyectLabelNull" class="hide animated zoomIn">
                <div class="hpanel stats">
                    <div class="panel-body text-center">
                        <h2 class="text-danger">Proyecto Sin Etiquetas</h2>
                        <img src="~/Resources/Projects/project_label.png" />
                        <h3>Solicitale al lider del proyecto que genere más etiquetas haciendo clic <a href="PROJ002">aquí.</a></h3>
                    </div>
                </div>
            </div>

            <div id="itemCommentsNull" class="hide animated zoomIn">
                <div class="hpanel stats">
                    <div class="panel-body text-center">
                        <div class="row">
                            <div class="pull-left">
                                <button type="button" style="margin-left:50px;" onclick="ShowMain();" class="btn btn-danger btn-lg"><i class="fa fa-reply"></i>  Regresar</button>
                            </div>
                            <br />
                            <div class="col-lg-12">
                                <img src="~/Resources/Projects/project_history.png" />
                                <h3>Se el primero en comentar en este artículo.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="itemComments" class="hide animated zoomIn">
                <div class="hpanel forum-box">
                    <div class="panel-heading">
                        <span class="pull-right">
                            <i class="fa fa-clock-o"> </i> Última actualización: <span id="dateLastUpdateOne">S/Fecha</span>
                        </span>
                        <span class="f"> <button type="button" onclick="ShowMain();" class="btn btn-danger btn-xs"><i class="fa fa-reply"></i>  Regresar</button>  </span>
                        <span class="f"> <span id="itemProyectTitle"> </span> > <span class="text-success">Comentarios del Artículo</span> </span>
                    </div>
                    <div id="data-label-detail"></div>
                    <div class="panel-footer">
                        <span class="pull-right">
                            <i class="fa fa-clock-o"> </i> Última actualización: <span id="dateLastUpdateTwo">S/Fecha</span>
                        </span>
                        <span class="f"> <button type="button" onclick="ShowMain();" class="btn btn-danger btn-xs"><i class="fa fa-reply"></i>  Regresar</button>  </span>
                        <span class="f"> <span id="itemProyectTitle2"> </span> > <span class="text-success">Comentarios del Artículo</span> </span>
                    </div>
                </div>
                <div style="margin-top:25px;" class="col-lg-12" id="pagination-container-label-detail"></div>
            </div>

            <div id="itemCommentsPagination" class="hide animated zoomIn">
                <div id="data-container"></div>
                <div style="margin-top:25px;" class="col-lg-12" id="pagination-container"></div>
            </div>

            <div id="itemMain" class="hide animated zoomIn">
                <div id="data-label"></div>
                <div style="margin-top:25px;" class="col-lg-12" id="pagination-container-label"></div>
            </div>

            <div id="itemMainPagination" class="hide animated fadeInRight">
                <div id="data-container"></div>
                <div style="margin-top:25px;" class="col-lg-12" id="pagination-container"></div>
            </div>

        </div>
    </div>
</div>

<!-- The Modal PDF-->
<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- The Modal IMAGE-->
<div id="myModalImage" class="modal-image">
    <span class="close-image">&times;</span>
    <img class="modal-content-image" id="img01" style="width:120%;max-width:800px">
    <div id="caption-image"></div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/pagination/js")
    @Scripts.Render("~/bundles/PROJ003/js")
}