﻿@{
    ViewBag.Title = "PROJ007";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="PROJ000">Proyectos  </a></li>
                    <li class="active">
                        <span>Reportes de Proyectos </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Reportes de Proyectos.
            </h2>
            <small>Menu de Reportes de Proyectos. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PROJ005">
                            <h2 class="m-b-xs">Administracion de proyectos.</h2>
                            <div class="m">
                                <i class="fa fa-list-alt fa-5x"></i>
                            </div>
                            <p class="small">
                                Se miraran los reportes del proyecto.
                            </p>
                            <br />
                        </a>
                        <a href="PROJ005" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>