﻿@model List<App.Entities.ViewModels.Projects.ProjectHeaderModel>
@{
    ViewBag.Title = "PROJ002";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

@section Styles {
    @Styles.Render("~/bundles/simple_toggle/css")
    @Styles.Render("~/bundles/pagination/css")
    @Styles.Render("~/bundles/cards/css")
}

<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="PROJ000">Proyectos </a></li>
                    <li><a href="PROJ006">Gestión </a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Agregar informacion del proyecto</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Agregar informacion del proyecto
            </h2>
            <small>Agregar informacion del proyecto </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a id="PanelGrid" class="showhide"><i class="fa fa-chevron-up"></i></a>
                    </div>
                    <a onclick="PanelGrid.click();">Agregar presupuestos y creacion de actividades</a>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12" id="formProyect" style="margin-bottom:20px;">
                        <div class="col-lg-4">
                            <label>Proyectos</label>
                            <select class="form-control" onchange="SearchProject()" id="selectProject">
                                <option value="0">Selecciona un proyecto</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.id_project">@item.title</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div hidden class="col-lg-12" id="formLabel" style="margin-bottom:20px;">
                        <div class="col-lg-3">
                            <label><i class="fa fa-user"></i> Nombre de usuario</label>
                            <p id="PNombreUser">Omar Fulanito</p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-sort-numeric-asc"></i> Numero de usuario</label>
                            <p id="PNumeroUser">485848</p>
                        </div>
                        <div class="col-lg-3">
                            <label><i class="fa fa-paint-brush"></i> Etiqueta</label>
                            <p id="PEtiqueta">Etiqueta</p>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-success" onclick="OpenModalItems()">
                                <i data-toggle="tooltip" data-placement="top" data-original-title="Agregar items" class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-danger" onclick="ReloadProyect(true);LabelRealadCard();">
                                <i data-toggle="tooltip" data-placement="top" data-original-title="Regresar a un estado anterior" class="fa fa-mail-reply"></i>
                            </button>
                        </div>
                    </div>
                    <div id="ImageNoItems" class="hide col-lg-12 text-center">
                        <img src="~/Resources/Projects/project_item.png" />
                        <h3>Se el primero en agregar un articulo.</h3>
                    </div>
                    <div hidden class="col-lg-12" id="cardLabel">
                        <div id="data-label"></div>
                        <div style="margin-top:25px;" class="col-lg-12" id="pagination-container-label"></div>
                    </div>
                    <div hidden class="col-lg-12" id="cardItem">
                        <div id="data-container"></div>
                        <div style="margin-top:25px;" class="col-lg-12" id="pagination-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header" style="padding-top: 2rem;padding-bottom: 2rem;">
                <h4 class="modal-title">Presupuesto de etiquetas </h4>
                <h4>Restante en  pesos: $<span id="spanEstimate">0</span></h4>
                <h4>Restante en dolar: $<span id="spanEstimateUsd">0</span></h4>
            </div>
            <div class="modal-body row">
                <div class="col-lg-4">
                    <label>Presupuesto pesos</label>
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            <span class="fa fa-money"></span> <span>MXN</span>
                        </span>
                        <input class="form-control" min="1" max="999999999" onkeyup="EstimateTimeReal()" type="number" name="name" value="" placeholder="Presupuesto pesos" id="inputEstimate" maxlength="10" />

                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Presupuesto dolar</label>
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            <span class="fa fa-money"></span> <span>USD</span>
                        </span>
                        <input class="form-control" min="1" max="999999999" onkeyup="EstimateTimeRealUSD()" type="number" name="name" value="" placeholder="Presupuesto dolar" id="inputEstimateUsd" maxlength="10" />

                    </div>
                </div>
                <div class="col-lg-8">
                    <label>Etiqueta</label>
                    <select class="form-control" id="selectLabel">
                        <option value="0">Selecciona una etiqueta</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
                <button type="button" class="btn btn-success" onclick="SaveLabel()" id="saveLabel"><i class="fa fa-check"></i> Guardar</button>
                <button type="button" class="btn btn-warning" onclick="EditLabel()" id="editLabel"><i class="fa fa-check"></i> Editar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Presupuesto del articulo de la etiqueta</h4>
                <h5><span id="estimateItem">N/A</span></h5>
                <h5><span id="estimateItemUsd">N/A</span></h5>
                <small class="font-bold">Aqui se agregaran el presupuesto por articulo.</small>
            </div>
            <div class="modal-body row">
                <div class="col-lg-4">
                    <label>Nombre</label>
                    <div class='input-group date' id='datetimepicker'>
                        <span class="input-group-addon">
                            <span class="fa fa-commenting"></span>
                        </span>
                        <input class="form-control" type="text" name="name" value="" placeholder="Nombre del item" id="inputItemDescription" maxlength="50" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Presupuesto pesos</label>
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            <span class="fa fa-money"></span>
                        </span>
                        <input class="form-control" min="1" max="9999999999" type="number" name="name" value="" onkeyup="RealTimeItem()" placeholder="Presupuesto" id="inputItemEstimate" maxlength="10" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Presupuesto dolar</label>
                    <div class='input-group date'>
                        <span class="input-group-addon">
                            <span class="fa fa-money"></span>
                        </span>
                        <input class="form-control" min="1" max="9999999999" type="number" name="name" value="" onkeyup="RealTimeItemUSD()" placeholder="Presupuesto" id="inputItemEstimateUsd" maxlength="10" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Fecha de inicio</label>
                    <div class="form-group">
                        <div class='input-group date'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input id="inputStartDate" type='text' class="form-control" autocomplete="off" placeholder="Fecha de inicio" maxlength="10" />
                        </div>
                        <label id="errorStratDate" class="error" hidden>El Campo no puede ser nulo</label>
                    </div>
                </div>
                <div class="col-lg-4">
                    <label>Fecha de entrega</label>
                    <div class="form-group">
                        <div class='input-group date'>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input id="inputEndDate" type='text' class="form-control" autocomplete="off" placeholder="Fecha de entrega" maxlength="10" />
                        </div>
                        <label id="errorEndDate" class="error" hidden>El Campo no puede ser nulo</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
                <button type="button" class="btn btn-success" id="btnSaveItem" onclick="SaveProjectItem()"><i class="fa fa-check"></i> Guardar</button>
                <button type="button" class="btn btn-warning" id="btnEditItem" onclick="EditProjectItem()"><i class="fa fa-check"></i> Editar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", serializer.Serialize(Model))
@section Scripts {
    @Scripts.Render("~/bundles/pagination/js")
    @Scripts.Render("~/bundles/PROJ002/js")
}