﻿@{
    ViewBag.Title = "PROJ000";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active">
                        <span>Proyectos </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Proyectos
            </h2>
            <small>Menu general de Proyectos. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PROJ006">
                            <h2 class="m-b-xs">Menu Gestion de Proyectos.</h2>
                            <div class="m">
                                <i class="fa fa-table fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de gestion de proyectos
                            </p>
                            <br />
                        </a>
                        <a href="PROJ006" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PROJ007">
                            <h2 class="m-b-xs">Menu de Reportes de Proyectos.</h2>
                            <div class="m">
                                <i class="fa fa-clipboard fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Reportes de Proyectos.
                            </p>
                            <br />
                        </a>
                        <a href="PROJ007" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>