﻿@{ ViewBag.Title = "PROJ006"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="PROJ000">Proyectos  </a></li>
                    <li class="active">
                        <span>Gestion de Proyectos </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Gestion de Proyectos.
            </h2>
            <small>Menu Gestion de Proyectos. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PROJ001">
                            <h2 class="m-b-xs">Crear Proyecto.</h2>
                            <div class="m">
                                <i class="fa fa-floppy-o fa-5x"></i>
                            </div>
                            <p class="small">
                                Agrega y edita los proyectos en los cuales esta trabajando
                            </p>
                            <br />
                        </a>
                        <a href="PROJ001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PROJ002">
                            <h2 class="m-b-xs">Agregar articulo.</h2>
                            <div class="m">
                                <i class="fa fa-copy fa-5x"></i>
                            </div>
                            <p class="small">
                                Agrega el presupuesto de las etiquetas y la creacion de productos junto con sus items
                            </p>
                            <br />
                        </a>
                        <a href="PROJ002" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PROJ003">
                            <h2 class="m-b-xs">Historial por articulo.</h2>
                            <div class="m">
                                <i class="fa fa-file-text-o fa-5x"></i>
                            </div>
                            <p class="small">
                                Se agregaran comentarios a cada articulo para saber como se encuentra y guardarlo como historial
                            </p>
                            <br />
                        </a>
                        <a href="PROJ003" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="PROJ004">
                            <h2 class="m-b-xs">Gastos por articulo.</h2>
                            <div class="m">
                                <i class="fa fa-money fa-5x"></i>
                            </div>
                            <p class="small">
                                Se agregaran los gastos que tiene cada articulo
                            </p>
                            <br />
                        </a>
                        <a href="PROJ004" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>