﻿@model App.Entities.ViewModels.Services.Service

<div class="modal fade" id="ServiceModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Servicio</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar un servicio.</small>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ActionServices", "Service", FormMethod.Post, new { name = "formEditService", id = "formEditService" }))
                {
                    @Html.HiddenFor(model => model.ServiceId)
                    <div class="row">
                        <div class="col-md-4 form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-8 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-8 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-code-fork"></i></span>
                                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-4">
                            @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                            <br />
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.IsActive)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="">
                            <div class="form-group col-lg-12">
                                <div class="text-right">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-success" id="SaveService" onclick="EditService()">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="ajaxTarget">
    <script type="text/javascript">
        $(function () {
            $('input').iCheck({ checkboxClass: 'icheckbox_square-green', });

            $("#formEditService").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#SaveService").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#SaveService").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    Name: {
                        required: true
                    },
                    Order: {
                        required: true
                    }

                },
                messages: {
                    Name: {
                        required: function () { return "Nombre de servicio requerido"; }
                    },

                    Order: {
                        required: function () { return "Orden de visualización requerido."; }
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });
    </script>
</div>