﻿@model App.Entities.ViewModels.Services.ServiceCompany

@{
    ViewBag.Title = "SERV002";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #cdcdcd;
    }

        table th, table td {
            padding: 5px;
            text-align: left;
        }

        td.details-control:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f101";
            cursor: pointer;
        }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }

    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }
</style>
@Styles.Render("~/bundles/datepicker/css")
@Styles.Render("~/bundles/datatables/css")

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Caja</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Catálogos</a></li>
                    <li class="active">
                        <span>Registrar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Compañías
            </h2>
            <small>Módulo para registrar compañías de servicios</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        <div class="panel-body">
            <form id="formCompany" action="@Url.Action("SERV002","Services")" method="post">
                <div class="row">
                    <div class="col-md-4 form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })                            
                        </div>                        
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-code-fork"></i></span>
                            @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })                            
                        </div>
                        @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-4">                        
                        @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div class="col-md-8">
                            <div class="checkbox">
                                 @Html.CheckBoxFor(model => model.IsActive)                           
                            </div>                            
                        </div>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="AddCompany">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @if (Model.Companies.Count > 0)
        {
            <div class="content animated-panel" id="TableSection">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="table-responsive m-t">
                            <table id="CompaniesTable" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Nombre</th>
                                        <th>Orden</th>
                                        <th>Activo</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach(var item in Model.Companies.OrderBy(c => c.Order))
                                    {
                                        <tr>
                                            <td>@item.CompanyId</td>
                                            <td>@item.Name</td>
                                            <td>@item.Order</td>
                                            @if (item.IsActive)
                                            {
                                                <td><div checked><div class="icheckbox_square-green checked disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></div></td>
                                            }
                                            else
                                            {
                                                <td><div checked><div class="icheckbox_square-green  disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></div></td>
                                            }
                                            <td id="@item.CompanyId"></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*Div to display modal*@
<div id="Companies">
</div>

@section Scripts {    
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
<script src="~/Vendor/iCheck/icheck.min.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#Order").val('');
            $('input').iCheck({ checkboxClass: 'icheckbox_square-green', });

            $("#formCompany").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#AddCompany").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#AddCompany").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    Name: {
                        required: true
                    },
                    Order: {
                        required: true
                    }

                },
                messages: {
                    Name: {
                        required: function () { return "Nombre de compañía requerido"; }
                    },

                    Order: {
                        required: function () { return "Orden de visualización requerido."; }
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });

        var table = $('#CompaniesTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columns: [
                { data: 'CompanyId' },
                { data: 'Name' },
                { data: 'Order' },
                { data: 'IsActive' },
            ],

            columnDefs: [
                {
                    className: 'text-center'
                },
                { orderable: false, targets: [0, 4] },
                { visible: false, targets: [0] },
                {
                    data: null,
                    width: "30%",
                    targets: 4,
                    defaultContent: '<button id="EditCompany" class="btn btn-xs btn-outline btn-info EditCompany">Editar</button> <button id="DisableCompany" class="btn btn-xs btn-outline btn-danger DisableCompany">Desactivar</button>'
                }]
        });

        $("#TableSection tbody").on('click', 'tr button.EditCompany', function () {
            var td = $(this).closest('td');
            var companyId = td.context.parentNode.id;            

            $.ajax({
                url: '@Url.Action("ActionServiceCompany", "Services")',
                Type: 'GET',
                data: { "CompanyId": companyId },
                success: function (data) {
                    $("#Companies").html(data);
                    $("#CompanyModal").modal('show');
                }
            });
        });

        function EditCompanyService() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionServiceCompany", "Services")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formEditCompanyService").serialize(),
                success: function (data) {
                    var text = data.responseText;
                    $('#CompanyModal').modal('hide');
                    EndLoading();
                    swal({
                        title: 'Compañía',
                        text: text + " exitosamente.",
                        type: "success"
                    }, function () { window.location.reload(true); });
                },
            });
        }

        $('#TableSection tbody').on('click', 'tr button.DisableCompany', function () {
            var td = $(this).closest('td');
            var companyId = td.context.parentNode.id;

            swal({
                title: "¿Estas seguro?",
                text: "Una vez que se desactive no aparecerá en el punto de venta",//"Una vez que se desactive no aparecerán los productos relacionados a esta compañía en el punto de venta",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    StartLoading();
                    $.post({
                        url: '@Url.Action("ActionDisableServiceCompany", "Services")',
                        Type: 'POST',
                        dataType: 'json',
                        data: { "CompanyId": companyId },
                        success: function (data) {
                            EndLoading();
                            if (data.success) {
                                swal({
                                    title: 'Compañía',
                                    text: "Compañía Desactivada",
                                    type: "success"
                                }, function () { window.location.reload(true); });
                            }
                            else {
                                swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                            }
                        }
                    });
                } else {
                    swal("Error", "Compañía no desactivada", "error");
                }
            })
        });



        $("#AddCompany").click(function () {
            var form = $("#formCompany").validate().form()
            if (form) {
                StartLoading();
                $("#formCompany").submit();
            }
        });
    </script>
}