﻿@model App.Entities.ViewModels.Services.ServiceProduct

@{
    ViewBag.Title = "SERV004";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Caja</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Catálogos</a></li>
                    <li class="active">
                        <span>Servicios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Servicios
            </h2>
            <small>Artículos para servicios</small>
        </div>
    </div>
</div>

<div class="content animated-panel" id="TableSection">
    <div class="hpanel">
        <div class="panel-body">
            <div class="table-responsive m-t">
                <table id="ProductsTable" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Servicio</th>
                            <th>Compañía</th>
                            <th>Descripción</th>
                            <th>Código</th>
                            <th>Precio</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td>@item.ServiceName</td>
                                <td>@item.CompanyName</td>
                                <td>@item.Description</td>
                                <td>@item.PartNumber</td>
                                <td>@item.Price.ToString("C")</td>
                                @if (item.Enabled)
                                {
                                    <td><div checked><div class="icheckbox_square-green checked disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></div></td>
                                }
                                else
                                {
                                    <td><div checked><div class="icheckbox_square-green  disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></div></td>
                                }
                                <td id="@item.ProductId"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*Div to display edit modal*@
<div id="Products">
</div>


@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    <script type="text/javascript">
        $(function () {

            var table = $('#ProductsTable').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                },
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
                columns: [
                    { data: 'ProductId' },
                    { data: 'ServiceName' },
                    { data: 'CompanyName' },
                    { data: 'Description' },
                    { data: 'PartNumber' },
                    { data: 'Price' },
                    { data: 'Enabled' },

                ],

                columnDefs: [
                    {
                        className: 'text-center'
                    },
                    { orderable: false, targets: [0, 5] },
                    { visible: false, targets: [0] },
                    {
                        data: null,
                        width: "15%",
                        targets: 7,
                        defaultContent: '<button id="EditProduct" class="btn btn-xs btn-outline btn-info EditProduct">Editar</button> <button id="DeleteProduct" class="btn btn-xs btn-outline btn-danger DeleteProduct">Borrar</button>'
                    }]
            });
        });

        $('#TableSection tbody').on('click', 'tr button.EditProduct', function () {
            var td = $(this).closest('td');
            var productId = td.context.parentNode.id;

            $.ajax({
                url: '@Url.Action("ActionProducts", "Services")',
                Type: 'GET',
                data: { "ProductId": productId },
                success: function (data) {
                    $("#Products").html(data);
                    $("#ProductsModal").modal('show');
                }
            });
        });

        function EditServiceProduct() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionProducts", "Services")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formEditServiceProduct").serialize(),
                success: function (data) {
                    var text = data.responseText;
                    $('#ProductsModal').modal('hide');
                    EndLoading();
                    swal({
                        title: 'Artículo',
                        text: text + " exitosamente.",
                        type: "success"
                    }, function () { window.location.reload(true); });
                },
            });
        }

        $('#TableSection tbody').on('click', 'tr button.DisableService', function () {
            var td = $(this).closest('td');
            var productId = td.context.parentNode.id;

            swal({
                title: "¿Estas seguro?",
                text: "Una vez que se desactive no aparecerá en el punto de venta",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    StartLoading();
                    $.post({
                        url: '@Url.Action("ActionDisableProduct", "Services")',
                        Type: 'POST',
                        dataType: 'json',
                        data: { "ProductId": productId },
                        success: function (data) {
                            EndLoading();
                            if (data.success) {
                                swal({
                                    title: 'Artículo',
                                    text: "Artículo Desactivado",
                                    type: "success"
                                }, function () { window.location.reload(true); });
                            }
                            else {
                                swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                            }
                        }
                    });
                } else {
                    swal("Error", "Artículo no desactivado", "error");
                }
            })
        });
    </script>
}
