﻿@model App.Entities.ViewModels.Services.ServiceProduct

@{
    ViewBag.Title = "SERV001";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        margin: 0;
    }

    input[type="number"] {
        -moz-appearance: textfield !important;
    }
</style>

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Caja</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Catálogos</a></li>
                    <li class="active">
                        <span>Servicios</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Servicios
            </h2>
            <small>Registro de artículos para servicios</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="hpanel hblue">
        @*<div class="panel-heading hbuilt">
                <h5></h5>
            </div>*@
        <div class="panel-body">
            <form id="formServices" action="@Url.Action("SERV001","Services")" method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.ServiceId, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.ServiceId, null, "-- Selecciona un Servicio --", htmlAttributes: new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.ServiceId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.DropDownListFor(model => model.CompanyId, null, "-- Selecciona una Compañía --", htmlAttributes: new { @class = "form-control select2" })
                            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.PartNumber, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.PartNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PartNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Provider, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.Provider, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Provider, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.CommissionPartNumber, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.CommissionPartNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CommissionPartNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Commission, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-10 input-group m-b">
                            @Html.EditorFor(model => model.Commission, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Commission, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            @Html.EnumDropDownListFor(model => model.Type, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.VerifyDigit, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            @Html.EditorFor(model => model.VerifyDigit, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                            @Html.ValidationMessageFor(model => model.VerifyDigit, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label" })
                        <div class="col-md-8 input-group m-b">
                            @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Order, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(model => model.Enabled, htmlAttributes: new { @class = "control-label" })
                        <br />
                        <div class="col-md-8">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.Enabled) 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="">
                        <div class="form-group col-lg-12">
                            <div class="text-right">
                                <button type="button" class="btn btn-success" id="AddServiceProduct">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('input').iCheck({ checkboxClass: 'icheckbox_square-green', });

            $("#formServices").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#AddServiceProduct").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#AddServiceProduct").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    ServiceId: {
                        required: true
                    },
                    CompanyId: {
                        required: true
                    },
                    Description: {
                        required: true
                    },
                    PartNumber: {
                        required: true
                    },
                    Price: {
                        required: true,
                        min: 1
                    },
                    Commission: {
                        required: true,                        
                    },
                    Type: {
                        required: true
                    },
                    Order: {
                        required: true,
                        min: 1
                    },                    
                },
                messages: {
                    ServiceId: {
                        required: function () { return "Servicio requerido."; }
                    },
                    CompanyId: {
                        required: function () { return "Compañía requerido."; }
                    },
                    Description: {
                        required: function () { return "Descripción de articulo requerido."; }
                    },
                    PartNumber: {
                        required: function () { return "Código de articulo requerido."; }
                    },
                    Price: {
                        required: function () { return "Precio de articulo requerido."; },
                        min: function () { return "Precio debe ser mayor a 0."; },
                    },
                    Commission: {
                        required: function () { return "Comisión de articulo requerido."; }
                    },
                    Type: {
                        required: function () { return "Tipo requerido."; }
                    },
                    Order: {
                        required: function () { return "Orden de visualización requerido."; },
                        min: function () { return "Orden debe ser mayor a 0."; },
                    },                    
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });

        $("#AddServiceProduct").click(function () {
            var form = $("#formServices").validate().form();            
            if(form)
            {
                StartLoading();
                $.post({
                    url: '@Url.Action("SERV001", "Services")',
                    Type: 'POST',
                    dataType: 'json',
                    data: $("#formServices").serialize(),
                    success: function (data) {
                        EndLoading();
                        if (data.success) {
                            swal({
                                title: 'Servicio',
                                text: "Registro exitoso",
                                type: "success"
                            }, function () { window.location.reload(true); });
                        }
                        else {
                            swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                        }
                    }
                });
            }
        });        

    </script>
}
