﻿@model App.Entities.ViewModels.Invoices.CedulasModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>
@Styles.Render("~/bundles/datatables/css")
<link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
<link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("SALE000","Sales")">Ventas</a></li>
                    <li><a href="@Url.Action("SALE007","Sales")">Reportes</a></li>
                    <li class="active">
                        <span>Relación de Facturas</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Relación de XMLS
            </h2>
            <small>Reporte</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="hpanel hblue">
            <div class="panel-body">


                <div class="row">

                    <div class="form-group col-md-2">
                        <label>Seleccionar Mes :</label>
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input class="datepicker" id="_DP" />
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">&nbsp;</label>
                        <div class="col-md-10 input-group m-b">
                            <span class="input-group-addon"><i class="fa pe-7s-file"></i></span>
                            <button type="button" class="btn btn-success" id="ReportButton" onclick="CreateCedula(1)">Generar Cédula</button>
                        </div>
                    </div>
                    @*<div class="form-group col-md-2">
            <label class="control-label">&nbsp;</label>
            <div class="col-md-10 input-group m-b">
                <span class="input-group-addon"><i class="fa pe-7s-file"></i></span>
                <button type="button" class="btn btn-success" id="_BCedEmitidos" onclick="CreateCedula(2)">Cédula Emitidos</button>
            </div>
        </div>

        <div class="form-group col-md-2">
            <label class="control-label">&nbsp;</label><br />
            <div class="form-group">
                <div class="i-checks">

                        <input type="checkbox" name="RFCche" >

                        <label class="control-label">Sumar por RFC</label><br />

                </div>
            </div>
        </div>*@

                    @*<input id="key" onchange='gepath()' type="file" />*@

                </div>
                <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
                    <div class="row table-responsive">
                        @* <table id="TableInvoices" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>UUID</th>
                    <th>Folio Documento</th>
                    <th>Folio Relacionado</th>
                    <th>Serie</th>
                    <th>Folio</th>
                    <th>Sucursal</th>
                    <th>Nombre del CLiente</th>
                    <th>RFC</th>
                    <th>Fecha de emision</th>
                    <th>Número Folio Fiscal</th>
                    <th>"Bien enajenado o servico prestado</th>
                    <th>Moneda</th>
                    <th>T.C.</th>
                    <th>Monto de la operación</th>
                    <th>Monto Base T0%</th>
                    <th>Monto Base T16%</th>
                    <th>IVA Trasladado 16%</th>
                    <th>Monto Base T8%</th>
                    <th>IVA Trasladado 8%</th>
                    <th>Tasa %</th>
                    <th>Ieps Trasladado</th>
                    <th>Total Impuestos</th>
                    <th>Valor Total Factura</th>
                    <th>Clave</th>
                    <th>Metodo de pago</th>
                    <th>Número de parcialidad</th>
                    <th>Folio Fiscal del complemtento</th>
                    <th>Fecha Emision Complemento</th>
                    <th>Importe saldo anterior</th>
                    <th>Importe Pagado</th>
                    <th>Importe saldo insoluto</th>
                    <th>Uso del CFDI</th>
                    <th>Forma de pago</th>
                    <th>% abonado</th>
                    <th>Monto de la operacion cobrado</th>
                    <th>Monto base T0%</th>
                    <th>Monto Base T0% (Adicionado imptos)</th>
                    <th>Monto Base T16%</th>
                    <th>IVA trasladado cobrado 16%</th>
                    <th>Monto Base T8%</th>
                    <th>IVA trasladado cobrado 8%"</th>
                    <th>IEPS trasladado cobrado</th>
                    <th>Importe Total cobrado</th>
                    <th>Importe del complemento</th>
                    <th>Fecha de Cobro</th>
                    <th>Referencia Bancaria</th>
                    <th>Nombre de la institucion financiera</th>
                    <th>Total por RFC</th>

                </tr>
            </thead>


        </table>*@


                        <div class="col-lg-12">
                          
                                <div class="panel-heading">
                                    
                                    <label id="lbltitulo" hidden="hidden">CEDULA INGRESOS</label>
                                </div>
                                <div id="divReport" class="panel-body" hidden="hidden">
                                    <div id="ModalReport">
                                        <div class="row">
                                            <iframe id="iframe" style="width:100%" height="500" ></iframe>
                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                    </div>
            </div>

            </div>
        </div>


    </div>
   
</div>
@*<div class="modal fade hmodal-info" id="ModalReport" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Reporte De Diferencias</h4>
                <small id="ModalDescription" class="font-bold">Reporte de diferencias de inventario.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <iframe id="iframe" style="width:100%" height="350" frameborder="0"></iframe>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancelar</button>
            </div>
        </div>
    </div>
</div>*@
@section Scripts {
    <script src="~/Vendor/moment/moment.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {

            $("#_DP").datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'MM yyyy',
                language: 'es'
            });    
            //      //  _mes = inst.selectedMonth;
            //                 //  onClose: function(dateText, inst) {
 //_year = inst.selectedYear;
            //      console.log('cerro');

            //}
              
             
                


 
           /* $("#_DP").on('change', function () {
                var month = $("#_DP").datepicker('getDate').getUTCMonth();  
                var year = $("#_DP").datepicker('getDate').getFullYear();  
                console.log($("#_DP").val());
                console.log(month);

            });*/
  //      $('_DP').datepicker( {
		//closeText: 'Cerrar',
		//prevText: '<Ant',
		//nextText: 'Sig>',
		//currentText: 'Hoy',
		//monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		//monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
  //              changeMonth: true,
  //              changeYear: true,
  //              showButtonPanel: true,
  //              dateFormat: 'MM yy',
  //              onClose: function(dateText, inst) {
  //                  $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
  //                  _mes = inst.selectedMonth;
  //                  _year = inst.selectedYear;

  //          }
  //          });


       });
       







        //var table = $('#TableInvoices').DataTable({
        //    oLanguage: {
        //        "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
        //    },
        //    dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
        //    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
        //    buttons: [
        //            { extend: 'csv', text: 'Excel', title: 'Clientes', className: 'btn-sm' },
        //            {
        //                extend: 'pdf', text: 'PDF', title: 'Clientes', className: 'btn-sm', exportOptions: {
        //                    columns: [1, 2, 3]
        //                },
        //                customize: function (doc) {
        //                    doc.content[1].table.widths =
        //                        Array(doc.content[1].table.body[0].length + 1).join('*').split('');
        //                }
        //            },
        //            { extend: 'print', text: 'Imprimir', className: 'btn-sm' }
        //        ],
        //    columns: [
        //        { data: 'Uuid' },
        //          { data: 'SerieFolio' },
        //        { data: 'FolioRel' },
        //        { data: 'Serie' },
        //        { data: 'Folio' },
        //        { data: 'Sucursal' },
        //        { data: 'Cliente' },
        //        { data: 'Rfc' },
        //        { data: 'FechaEmi' },
        //        { data: 'FolioFiscal' },
        //        { data: 'Rfc' },
        //        { data: 'Moneda' },
        //        { data: 'TipoCambio' },
        //        { data: 'MontoOperacion' },
        //        { data: 'MontoBaseT0' },
        //        { data: 'MontoBaseT16' },
        //        { data: 'IvaTrasladado16' },
        //        { data: 'MontoBaseT8' },
        //        { data: 'IvaTrasladado8' },
        //        { data: 'Tasa' },
        //        { data: 'IepsTrasladado' },
        //        { data: 'TotalImpuestos' },
        //        { data: 'ValorTotalFactura' },
        //        { data: 'Clave' },
        //        { data: 'MetodoPago' },
        //        { data: 'NumeroParcialidad' },
        //        { data: 'FolioFiscaC' },
        //        { data: 'FechaEmisionC' },
        //        { data: 'ImporteSaldoAnterior' },
        //        { data: 'ImportePagado' },
        //        { data: 'ImporteSaldoInsoluto' },
        //        { data: 'UsoCfdi' },
        //        { data: 'FormaPago' },
        //        { data: 'AbonadoPorc' },
        //        { data: 'MontoOperacionCobrado' },
        //        { data: 'MontoBaseT0C' },
        //        { data: 'MontoBaseT0AdicionadoImp' },
        //        { data: 'MontoBaseT16C' },
        //        { data: 'IvaTrasladadoCobrado16' },
        //        { data: 'MontoBaseT8C' },
        //        { data: 'IvaTrasladadoCobrado8' },
        //        { data: 'IepsladadoCobrado' },
        //        { data: 'ImporteTotalCobrado' },
        //        { data: 'ImporteComplemento' },
        //        { data: 'FechaCobro' },
        //        { data: 'ReferenciaBancaria' },
        //        { data: 'NombreInstitucionFinanciera' },
        //        { data: 'TotalPorRFC' },
        //    ]
        //});

        function CreateCedula(tipo) {

             var _rfc = 0;
               if($("input[name='RFCche']:checked").val())
                    _rfc = 1;
            console.log("VALOR RFC: " +_rfc);
           if ($("#_DP").val()) {
                var month = $("#_DP").datepicker('getDate').getMonth();  
                var year = $("#_DP").datepicker('getDate').getFullYear();  
               
              
               
         var obj = @Html.Raw(Json.Encode(Model));
            obj.InvoiceList = null;
           


                StartLoading();
                $.ajax({
                    type: "POST",
                    url: "/Invoices/ActionReportGralInvoices",

                    data: { "_month": month, "_year": year, "tipo":tipo, "_rfc":_rfc },

                     success: function (returndates) {
                   $("#lbltitulo").removeAttr('hidden');
                   $("#divReport").removeAttr('hidden');
                   document.getElementById("iframe").srcdoc = returndates;

                   EndLoading();

               },
                    
                    error: function (returndates) {
                        EndLoading();
                        console.log(returndates);
                        toastr.error('Alerta - Es posible que no existan archivos para el més seleccionado.');
                    }
                });
            }
            else {
                 toastr.error('Aviso - Seleccione un més.');
            }

        }

       




    </script>
}