﻿@{ ViewBag.Title = "INV000"; }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="INV000">Contabilidad</a></li>
                    <li class="active">
                        <span>Contabilidad</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Contabilidad
            </h2>
            <small>Menu de Contabilidad. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">

        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="CED001">
                            <h2 class="m-b-xs">Cedulas</h2>
                            <div class="m">
                                <i class="fa fa-file-text-o fa-5x"></i>
                            </div>
                            <p class="small">
                                Cedulas
                            </p>
                            <br />
                        </a>
                        <a href="CED001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="INV001">
                            <h2 class="m-b-xs">Visor de XML</h2>
                            <div class="m">
                                <i class="fa fa-file-text-o fa-5x"></i>
                            </div>
                            <p class="small">
                                Visor de XML
                            </p>
                            <br />
                        </a>
                        <a href="INV001" class="btn btn-success btn-sm">Ir a la página</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

