﻿@model List<App.Entities.ViewModels.Invoices.InvoiceXml>
@{ ViewBag.Title = "INV001"; }

<style type="text/css">
    td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f101";
        cursor: pointer;
    }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li>Contabilidad</li>
                    <li class="active">
                        <span>Visor de XML</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Visor de XML
            </h2>
            <small>Visor de XML. </small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-body">

                    <div class="row">

                        <div class="row">
                            <div class="col-lg-3" style="margin-top:5px">
                                <br />
                                <div class="input-group">
                                    <span class="input-group-addon" style="background-color: #3498db; border-color: #3498db; color: #FFFFFF;" id="loadFileXml" onclick="document.getElementById('file').click();">Agregar XML</span>
                                    <input type="text" class="form-control" id="fileList" aria-describedby="basic-addon1" readonly>
                                    <input type="file" style="display:none;" id="file" name="file" multiple onchange="javascript:updateList(event, onFileLoad.bind(this, 'contents'))" accept="text/xml" />
                                </div>
                            </div>
                            <div class="col-lg-3" style="margin-top:5px">
                                <br />
                                <div class="input-group">
                                    <button class="btn btn-success" onclick="SaveXML();"><i class="fa fa-save"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div id="TableDiv" class="animate-panel content" data-effect="zoomIn">
                            <div class="row table-responsive">
                                <table id="xmlCustomers" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>UUID</th>
                                            <th>Serie</th>
                                            <th>Folio</th>
                                            <th>Fecha</th>
                                            <th>Uso CFDI</th>
                                            <th>Usuario</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalReference" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div id="modalReferenceBody" class="modal-body" style="height:100%"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("model", Json.Encode(Model))
@section Scripts { @Scripts.Render("~/bundles/INV001/js") }