﻿@model App.Entities.ViewModels.Donations.DonationItem
<div class="modal fade" id="ArticlesModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                @if (Model.IsFromEdit)
                {
                    <h4 id="ModalTitle" class="modal-title">Editar Artículo</h4>
                    <small id="ModalDescription" class="font-bold">Formulario para editar un articulo.</small>
                }
                else
                {
                    <h4 id="ModalTitle" class="modal-title">Agregar Artículo</h4>
                    <small id="ModalDescription" class="font-bold">Formulario para agregar un artículo.</small>
                }
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ActionArticles", "Donations", FormMethod.Post, new { name = "formAddEditArticles", id = "formAddEditArticles" }))
                {
                    @Html.HiddenFor(model => model.DonationId)
                    @Html.HiddenFor(model => model.IsFromEdit)
                    <div class="form-group row">
                        @if (Model.IsFromEdit)
                        {
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Article, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    @Html.HiddenFor(model => model.Article)
                                    <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                                    @Html.EditorFor(model => model.Article, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Article, "", new { @class = "text-danger" })
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.Article, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">                                    
                                    <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                                    @Html.EditorFor(model => model.Article, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Article, "", new { @class = "text-danger" })
                            </div>
                        }
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                        @if (Model.IsFromEdit)
                        {
                            @Html.HiddenFor(model => model.Id)
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <div class="col-md-7">
                                        @Html.CheckBoxFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-4"></div>
                        }
                    </div>
                    <div class="row">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <input type="button" value="Guardar" class="btn btn-success" id="SaveArticles" onclick="SaveChanges()" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
