﻿@model App.Entities.ViewModels.Donations.Donation

<div class="modal fade" id="CampaignsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 id="ModalTitle" class="modal-title">Editar Campaña</h4>
                <small id="ModalDescription" class="font-bold">Formulario para editar una campaña.</small>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("ActionCampaigns", "Donations", FormMethod.Post, new { name = "formEditCampaigns", id = "formEditCampaigns" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.HiddenFor(model => model.Name)
                                <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                @Html.HiddenFor(model => model.Organization)
                                <span class="input-group-addon"><i class="fa fa-group"></i></span>
                                @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker ModalDatePicker", @id = "StartDateModal" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10 input-group m-b">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker ModalDatePicker", @id = "EndDateModal" } })
                            </div>
                            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="text-right">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                            <input type="button" value="Guardar" class="btn btn-success" id="SaveCampaign" onclick="SaveChangesCampaign()" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="ajaxTarget">
    <script type="text/javascript">        
        $('.ModalDatePicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            language: 'es'
        });

        //Validate Date.
        $("#StartDateModal").on('change', function () {
            var date = stringToDate($("#StartDateModal").val());
            var endDate = stringToDate($("#EndDateModal").val());
            var currentDate = stringToDate(GetCurrentDate());

            if (endDate < date) {
                toastr.error('La fecha inicial no puede ser mayor a la fecha final.');
                $("#SaveCampaign").attr("disabled", "disabled");
                $("#StartDateModal").attr('style', 'border-color: red !important');
                return;
            }

            if (currentDate > date) {
                toastr.error('La fecha inicial no puede ser menor al día de hoy.');
                $("#SaveCampaign").attr("disabled", "disabled");
                $("#StartDateModal").attr('style', 'border-color: red !important');
                return;
            }

            $("#SaveCampaign").removeAttr("disabled");
            $("#StartDateModal").css('border-color', '');
        });

        $("#EndDateModal").on('change', function () {
            var date = stringToDate($("#EndDateModal").val());
            var startDate = stringToDate($("#StartDateModal").val());
            var currentDate = stringToDate(GetCurrentDate());

            if (startDate > date) {
                toastr.error('La fecha final no puede ser menor a la fecha inicial.');
                $("#SaveCampaign").attr("disabled", "disabled");
                $("#EndDateModal").attr('style', 'border-color: red !important');
                return;
            }

            if (currentDate > date) {
                toastr.error('La fecha final no puede ser menor al día de hoy.');
                $("#SaveCampaign").attr("disabled", "disabled");
                $("#EndDateModal").attr('style', 'border-color: red !important');
                return;
            }

            if (date == startDate) {
                toastr.error('La fecha final no puede ser igual a la fecha inicial.');
                $("#SaveCampaign").attr("disabled", "disabled");
                $("#EndDateModal").attr('style', 'border-color: red !important');
                return;
            }

            $("#SaveCampaign").removeAttr("disabled");
            $("#EndDateModal").css('border-color', '');
        });

        //Function to Get the Current Date in format dd/mm/yyyy
        function GetCurrentDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            today = dd + '/' + mm + '/' + yyyy;

            return today;
        }

        //Convert strings formats dd/mm/yyyy to date
        function stringToDate(dateStr) {
            var parts = dateStr.split("/")
            return new Date(parts[2], parts[1] - 1, parts[0])
        }

    </script>
</div>