﻿@model App.Entities.ViewModels.Donations.Donation

@{
    ViewBag.Title = "Donaciones";
}
<style type="text/css">
    table {
        width: 100%;
        margin: 20px 0;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #cdcdcd;
    }

        table th, table td {
            padding: 5px;
            text-align: left;
        }

        td.details-control:before {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f101";
            cursor: pointer;
        }

    tr.details td.details-control:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        content: "\f103";
        cursor: pointer;
    }
</style>
@Styles.Render("~/bundles/datepicker/css")
@Styles.Render("~/bundles/datatables/css")

@*Breadcrumb*@
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("CTMS000","Customers")">Caja</a></li>
                    <li><a href="@Url.Action("CTMS001","Customers")">Catálogos</a></li>
                    <li class="active">
                        <span>Registrar</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Donaciones
            </h2>
            <small>Módulo para registrar campañas donativas</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel hblue">
                <div class="panel-heading hbuilt">
                    <h5>Campaña de donaciones altruistas</h5>
                </div>
                <div class="panel-body">
                    <form id="formDonations" action="@Url.Action("DONA001","Donations")" method="post">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-bookmark"></i></span>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6 form-group">
                                @Html.LabelFor(model => model.Organization, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-group"></i></span>
                                    @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10 input-group m-b">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="">
                                <div class="form-group col-lg-12">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-success" id="AddCampaign">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                @if (Model.DonationsList.Count > 0)
                {
                    <div class="content animated-panel" id="TableSection">
                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="table-responsive m-t">
                                    <table id="DonationsTable" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th>Organización</th>
                                                <th>Nombre</th>
                                                <th>Vigencia</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DonationsList)
                                            {
                                                <tr>
                                                    <td></td>
                                                    <th>@item.Id</th>
                                                    <td>@item.Organization</td>
                                                    <td>@item.Name</td>
                                                    <td>@item.StartDate - @item.EndDate</td>
                                                    <td id="@item.Id"></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@*Div to display articles modal*@
<div id="Articles">
</div>

@*Div to display articles modal*@
<div id="Campaigns">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    <script type="text/javascript">
        $(function () {

            $("#StartDate").datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                todayHighlight: true
            });

            $("#EndDate").datepicker({
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'es',
                todayHighlight: true
            });

            $("#formDonations").validate({
                errorClass: 'help-block animation-slideDown', // You can change the animation class for a different entrance animation - check animations page
                errorElement: "span",
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("span[data-valmsg-for='" + element.attr("id") + "']")
                            .append(error);
                },
                highlight: function (e) {
                    $("#AddCampaign").attr("disabled", "disabled");
                    $(e).closest('.form-group').removeClass('has-success has-error').addClass('has-error');
                    $(e).closest('.help-block').remove();
                },
                success: function (e) {
                    $("#AddCampaign").removeAttr("disabled");
                    e.closest('.form-group').removeClass('has-success has-error');
                    e.closest('.help-block').remove();
                },
                rules: {
                    Name: {
                        required: true
                    },
                    Organization: {
                        required: true
                    }

                },
                messages: {
                    Name: {
                        required: function () { return "Nombre de campaña requerido"; }
                    },

                    Organization: {
                        required: function () { return "Nombre de organización requerido"; }
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
            });
        });        

        var table = $('#DonationsTable').DataTable({
            oLanguage: {
                "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            columns: [
                {
                    "class": "details-control",
                    "orderable": false,
                    "data": null,
                    "defaultContent": "",
                },
                { data: 'Id' },
                { data: 'Organization' },
                { data: 'Name' },
                { data: 'Dates' }
            ],

            columnDefs: [
                {
                    className: 'text-center'
                },
                { orderable: false, targets: [0, 5] },
                { visible: false, targets: [1] },
                {
                    data: null,
                    width: "30%",
                    targets: 5,
                    defaultContent: '<button id="AddArticles" class="btn btn-xs btn-outline btn-success AddArticles">Agregar Articulos</button> <button id="EditCampaign" class="btn btn-xs btn-outline btn-info EditCampaign">Editar</button> <button id="DeleteCampaign" class="btn btn-xs btn-outline btn-danger DeleteCampaign">Borrar</button>'
                }]
        });

        //Display details for campaign selected
        var detailRows = [];
        $('#TableSection tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row(tr);

            if (row.child.isShown()) {
                row.child.hide();
                tr.removeClass('details');
            }
            else {
                if (table.row('.details').length) {
                    $('.details-control', table.row('.details').node()).click();
                }
                row.child(ArticleDetails(row.data())).show();
                tr.addClass('details');
            }
        });

        table.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

        function ArticleDetails(row) {
            var detailItems = "";
            var tabledetail = $('<div/>').addClass('loading').text('Cargando Datos...');
            var checkBox = "";
            $.ajax({
                url: "@(Url.Action("ActionGetArticles", "Donations"))",
                data: { "DonationId": row.Id },
                type: "GET",
                success: function (data) {
                    $.each(data.Json, function (index, value) {
                        if (value.IsActive || value.IsActive == 'True')
                            checkBox = '<div checked><label><div class="icheckbox_square-green checked disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label></div>';
                        else
                            checkBox = '<div checked><label><div class="icheckbox_square-green  disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label></div>';

                        detailItems += "<tr><td>" + value.Article + "</td><td>" + "$" + value.Price.toFixed(2) + "</td><td>" + checkBox + "</td><td>" + '<button id="' + value.Id + '" class="btn btn-xs btn-outline btn-info" onclick="EditArticle(this.id)">Editar</button>' + "</td></tr>"
                    });
                    tabledetail.html('<table id="ArticleDetails" class="table table-striped table-bordered table-hover" style="width:100%">' +
                    '<thead><tr><th>Artículo</th><th>Precio</th><th>Status</th><th>&nbsp;</th></tr></thead><tbody>' + detailItems + '</tbody></table>').removeClass('loading');
                    reloadStyleTable();
                }
            });
            return tabledetail
        }

        function reloadStyleTable() {
            $('#ArticleDetails').DataTable({
                oLanguage: {
                    "sProcessing": "Procesando...", "sLengthMenu": "Mostrar _MENU_ registros", "sZeroRecords": "No se encontraron resultados", "sEmptyTable": "Ningún dato disponible en esta tabla", "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros", "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros", "sInfoFiltered": "(filtrado de un total de _MAX_ registros)", "sInfoPostFix": "", "sSearch": "Buscar:", "sUrl": "", "sInfoThousands": ",", "sLoadingRecords": "Cargando...", "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" }, "oAria": { "sSortAscending": ": Activar para ordenar la columna de manera ascendente", "sSortDescending": ": Activar para ordenar la columna de manera descendente" }
                }
            });
        }

        //Display modal to Add Articles
        $('#TableSection tbody').on('click', 'tr button.AddArticles', function () {
            var td = $(this).closest('td');
            var DonationId = td.context.parentNode.id;

            $.ajax({
                url: '@Url.Action("ActionArticles", "Donations")',
                Type: 'GET',
                data: { "DonationId": DonationId, "IsFromEdit": false, "ArticleId": 0 },
                success: function (data) {
                    $("#Articles").html(data);
                    $("#ArticlesModal").modal('show');
                }
            });
        });

        //Display modal to Edit Campaign Info
        $('#TableSection tbody').on('click', 'tr button.EditCampaign', function () {
            var td = $(this).closest('td');
            var DonationId = td.context.parentNode.id;

            $.ajax({
                url: '@Url.Action("ActionCampaigns", "Donations")',
                Type: 'GET',
                data: { "DonationId": DonationId },
                success: function (data) {
                    $("#Campaigns").html(data);
                    $("#CampaignsModal").modal('show');
                }
            });
        });

        //Display swal for delete campaign
        $('#TableSection tbody').on('click', 'tr button.DeleteCampaign', function () {
            var td = $(this).closest('td');
            var DonationId = td.context.parentNode.id;

            swal({
                title: "¿Estas seguro?",
                text: "Una vez que se borre no podrás revertir el proceso",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Sí",
                cancelButtonText: "No",
                closeOnConfirm: true,
                closeOnCancel: false
            },
            function (isConfirm) {
                if (isConfirm) {
                    StartLoading();
                    $.post({
                        url: '@Url.Action("ActionDeleteCampaign", "Donations")',
                        Type: 'POST',
                        dataType: 'json',
                        data: { "DonationId": DonationId },
                        success: function (data) {
                            EndLoading();
                            if (data.success) {
                                swal({
                                    title: 'Borrada',
                                    text: "Campaña Borrada",
                                    type: "success"
                                }, function () { window.location.reload(true); });
                            }
                            else {
                                swal("Error", "Ocurrió un error, contacte a sistemas", "error");
                            }
                        }
                    });
                } else {
                    swal("Error", "Campaña no borrada", "error");
                }
            })
        });

        //Save modifications made to articles
        function SaveChanges() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionArticles", "Donations")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formAddEditArticles").serialize(),
                success: function (data) {
                    var text = data.responseText;
                    $('#ArticlesModal').modal('hide');
                    EndLoading();
                    swal({
                        title: 'Articulo',
                        text: text + " exitosamente.",
                        type: "success"
                    }, function () { window.location.reload(true); });
                },
            });
        }

        //Display modal to Edit Articles
        function EditArticle(id) {
            $.ajax({
                url: '@Url.Action("ActionArticles", "Donations")',
                Type: 'GET',
                data: { "DonationId": 0, "IsFromEdit": true, "ArticleId": id },
                success: function (data) {
                    $("#Articles").html(data);
                    $("#ArticlesModal").modal('show');
                }
            });
        }

        //Save modifications made to campaign
        function SaveChangesCampaign() {
            StartLoading();
            $.post({
                url: '@Url.Action("ActionCampaigns", "Donations")',
                dataType: 'json',
                Type: 'POST',
                data: $("#formEditCampaigns").serialize(),
                success: function (data) {
                    var text = data.responseText;
                    $('#CampaignsModal').modal('hide');
                    EndLoading();
                    swal({
                        title: 'Campaña',
                        text: text + " exitosamente.",
                        type: "success"
                    }, function () { window.location.reload(true); });                    
                },
            });
        }

        //Validate StarDate.
        $("#StartDate").on('change', function () {
            var date = stringToDate($("#StartDate").val());
            var endDate = stringToDate($("#EndDate").val());
            var currentDate = stringToDate(GetCurrentDate());

            if (endDate < date) {
                toastr.error('La fecha inicial no puede ser mayor a la fecha final.');
                $("#Process").attr("disabled", "disabled");
                $("#StartDate").attr('style', 'border-color: red !important');
                return;
            }

            if (currentDate > date) {
                toastr.error('La fecha inicial no puede ser menor al día de hoy.');
                $("#Process").attr("disabled", "disabled");
                $("#StartDate").attr('style', 'border-color: red !important');
                return;
            }

            $("#Process").removeAttr("disabled");
            $("#StartDate").css('border-color', '');
        });

        //Validate EndDate.
        $("#EndDate").on('change', function () {
            var date = stringToDate($("#EndDate").val());
            var startDate = stringToDate($("#StartDate").val());
            var currentDate = stringToDate(GetCurrentDate());

            if (startDate > date) {
                toastr.error('La fecha final no puede ser menor a la fecha inicial.');
                $("#Process").attr("disabled", "disabled");
                $("#EndDate").attr('style', 'border-color: red !important');
                return;
            }

            if (currentDate > date) {
                toastr.error('La fecha final no puede ser menor al día de hoy.');
                $("#Process").attr("disabled", "disabled");
                $("#EndDate").attr('style', 'border-color: red !important');
                return;
            }

            if (date == startDate) {
                toastr.error('La fecha final no puede ser igual a la fecha inicial.');
                $("#Process").attr("disabled", "disabled");
                $("#EndDate").attr('style', 'border-color: red !important');
                return;
            }

            $("#Process").removeAttr("disabled");
            $("#EndDate").css('border-color', '');
        });

        //Function to Get the Current Date in format dd/mm/yyyy
        function GetCurrentDate() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1; //January is 0!
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            today = dd + '/' + mm + '/' + yyyy;

            return today;
        }

        //Convert strings formats dd/mm/yyyy to date
        function stringToDate(dateStr) {
            var parts = dateStr.split("/")
            return new Date(parts[2], parts[1] - 1, parts[0])
        }

        $("#AddCampaign").click(function () {
            var name = $("#formDonations").validate().element("#Name");// && $("#Name").val() != ""; // 
            var organization = $("#formDonations").validate().element("#Organization");// && $("#Organization").val() != ""; //
            
            if (name && organization)
                $("#formDonations").submit();
        });
    </script>
}