﻿@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div class="font-light m-b-xs text-center">
                <h2>
                    GLOBAL ERP
                </h2>
                <small class="text-primary text-center">Sistema integral</small>
            </div>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">

        @*<div class="col-md-4">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="#">
                            <h4 class="m-b-xs">Almacen</h4>
                            <div class="m">
                                <i class="pe-7s-box1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Almacen.
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>*@

        <div class="col-md-6">
            @*<div class="hpanel hyellow">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MENPURCH000", "Purchases")">
                            <h4 class="m-b-xs">Compras</h4>
                            <div class="m">
                                <i class="pe-7s-cash fa-5x"></i>
                            </div>
                            <p>
                                Menu de compras.
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            @*<div class="hpanel hred">*@
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MENADMS000", "Configuration")">
                            <h4 class="m-b-md">Configuración</h4>
                            <div class="m">
                                <i class="pe-7s-tools fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Configuración
                            </p>
                            <br />
                        </a>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MENWSM000", "Inventory")">
                            <h4 class="m-b-md">Almacén</h4>
                            <div class="m">
                                <i class="pe-7s-box1 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Almacén
                            </p>
                            <br />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("PROJ000", "Projects")">
                            <h4 class="m-b-md">Proyectos</h4>
                            <div class="m">
                                <i class="pe-7s-display2 fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de Proyectos
                            </p>
                            <br />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="hpanel contact-panel">
                <div class="panel-body">
                    <div class="text-center">
                        <a href="@Url.Action("MMRO000", "MRO")">
                            <h4 class="m-b-md">MRO</h4>
                            <div class="m">
                                <i class="pe-7s-tools fa-5x"></i>
                            </div>
                            <p class="small">
                                Menu de MRO
                            </p>
                            <br />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


@section Scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#divIndex").focus();
            window.setTimeout(function () {
                $("#fa").click();
            }, 5000);
        });

    </script>
}
