﻿@model FloridoERP.ViewModels.LoginViewModel
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>ERP GLOBAL</title>
    <link rel="shortcut icon" href="/Content/img/logoflorido.ico" type="image/x-icon" sizes="16x16">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="~/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/toastr/build/toastr.min.css" />
    <!-- App styles -->
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="~/styles/style.css">
    <link rel="stylesheet" href="~/styles/static_custom.css">
</head>
<body class="blank tooltip-demo">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Espere Por Favor..</h1><p>Su petición se está procesando. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    @if (Request.Browser.Browser.ToUpper().Contains("INTERNETEXPLORER"))
    {<p class="alert alert-danger">Usted está usando un navegador <strong>EXPLORER</strong>.  Le sugerimos utilizar cualquiera de los siguientes navegadores <strong>(Chrome,Opera)</strong>.</p>}
    <div class="back-link">
        <h1>
            <img src="~/Content/img/lab_erp.png" >
        </h1>
    </div>
    <div class="color-line"></div>
    <div class="login-container  animate-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3 class="font-extra-bold">LABORATORIOS GLOBAL ERP</h3>
                    <small class="font-extra-bold">Sistema integral</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { name = "LoginForm", id = "LoginForm" }))
                        {
                            <div class="form-group" title="Favor de introducir su usuario/email" data-toggle="tooltip" data-placement="left">
                                <label class="control-label" for="username">Usuario</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-user"></span>
                                    </span>
                                    @Html.TextBoxFor((x => x.Username), new { @class = "form-control", @placeholder = "ejemplo@elflorido.com.mx", @required = "" })
                                </div>
                                <span class="help-block small">Tu usuario para el sistema</span>
                            </div>
                            <div class="form-group" title="Favor de introducir su contraseña" data-placement="left" data-toggle="tooltip">
                                <label class="control-label" for="password">Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-key"></span>
                                    </span>
                                    @Html.PasswordFor((x => x.Password), new { @class = "form-control", @placeholder = "*********", @required = "" })
                                </div>
                                <span class="help-block small">Tu contraseña</span>
                            </div>
                            <br />
                            <div>
                                <ol class="hbreadcrumb breadcrumb">
                                    <li>
                                        <a href="~/home/RecoveryPassword" data-toggle="tooltip" data-placement="left" title="Click para recuperar su contraseña">•(Olvide mi contraseña)</a>
                                    </li>
                                    <li>
                                        <a href="~/home/Unlocking" data-toggle="tooltip" data-placement="left" title="Click para desbloqueo de usuarios">•(Desbloquear mi cuenta)</a>
                                    </li>
                                </ol>
                            </div>
                            <button class="btn btn-success btn-block"><i class="fa fa-check"></i>  Iniciar</button>
                            <a class="btn btn-default btn-block" href="~/Home/Register"><i class="fa fa-user-plus"></i>  Registrarse</a>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="form-group" title="@ViewBag.MyPathInServer" data-placement="top" data-toggle="tooltip">
                    <strong>GLOBAL ERP</strong>2020 &copy; Distribuidora el Florido S.A. de C.V.
                </div>
            </div>
        </div>
    </div>
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/vendor/iCheck/icheck.min.js"></script>
    <script src="~/vendor/sparkline/index.js"></script>
    <script src="~/vendor/toastr/build/toastr.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- App scripts -->
    <script src="~/Scripts/homer.js"></script>
    @Scripts.Render("~/bundles/Login/js")
</body>
</html>