﻿@model FloridoERP.ViewModels.RegisterUserMaster
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>GLOBAL ERP</title>

    <!-- App styles -->
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="~/styles/style.css">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/vendor/clockpicker/dist/bootstrap-clockpicker.min.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker-master/dist/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/vendor/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />

    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="~/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/toastr/build/toastr.min.css" />

    <link rel="stylesheet" href="~/styles/static_custom.css">
    <!-- App styles -->
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="~/styles/style.css">
</head>
<body class="blank tooltip-demo">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Espere Por Favor..</h1><p>Su petición se está procesando. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    @if (Request.Browser.Browser.ToUpper().Contains("INTERNETEXPLORER"))
    {<p class="alert alert-danger">Usted está usando un navegador <strong>EXPLORER</strong>.  Le sugerimos utilizar cualquiera de los siguientes navegadores <strong>(Chrome,Opera)</strong>.</p>}

    <div class="color-line"></div>
    <div class="back-link">
        <h1>
            <a href="Login" class="pe-7s-home" data-toggle="tooltip" data-placement="right" title="Iniciar Sesión"></a>
        </h1>
    </div>
    <div class="register-container  animate-panel">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h2>Registro de Usuarios</h2>
                    <small>Favor de llenar todos los datos</small>
                </div>
                <div class="hpanel hgreen">
                    <div class="panel-body">
                        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { name = "form", id = "form" }))
                        {
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label title="Numero de empleado" data-toggle="tooltip" data-placement="right">Numero de empleado</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="fa fa-user-plus"></span>
                                        </span>
                                        @Html.TextBoxFor((x => x.EmployeeNumber), new { @class = "form-control", @onkeypress = "return ValidateNumbrer(event);" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="collapse" id="collapseExample">
                                    <div class="form-group col-lg-12">
                                        <label for="username" title="Alias del usuario" data-toggle="tooltip" data-placement="right">Usuario</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-smile-o"></span>
                                            </span>
                                            @Html.TextBoxFor((x => x.Username), new { @class = "form-control", @onblur = "ValidUserClientSide();" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label title="Nombre del Usuario" data-toggle="tooltip" data-placement="right">Nombre</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-user"></span>
                                            </span>
                                            @Html.TextBoxFor((x => x.FirstName), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label title="Apellidos del Usuario" data-toggle="tooltip" data-placement="right">Apellidos</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-user"></span>
                                            </span>
                                            @Html.TextBoxFor((x => x.LastName), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label title="Número teléfonico o ext." data-toggle="tooltip" data-placement="right">Teléfono</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-phone"></span>
                                            </span>
                                            @Html.TextBoxFor((x => x.Phone), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label title="Número de celular" data-toggle="tooltip" data-placement="right">Celular</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-mobile"></span>
                                            </span>
                                            @Html.TextBoxFor((x => x.Cellphone), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label title="Contraseña" data-toggle="tooltip" data-placement="right">Contraseña</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-key"></span>
                                            </span>
                                            @Html.PasswordFor((x => x.Password), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label title="Repetir Contraseña" data-toggle="tooltip" data-placement="right">Repetir Contraseña</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-key"></span>
                                            </span>
                                            @Html.PasswordFor((x => x.RepeatPassword), new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <div>
                                            <label title="Fecha Nacimiento" data-toggle="tooltip" data-placement="right">Fecha Nacimiento</label>
                                            <div class="input-group date" id="datapicker1">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                                @Html.TextBoxFor((x => x.DateOfBirth), new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label title="Correo electrónico" data-toggle="tooltip" data-placement="right">Correo</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="fa fa-at"></span>
                                            </span>
                                            @Html.TextBoxFor((x => x.Email), new { @class = "form-control", @onblur = "ValidEmailClientSide();", @style="text-transform: lowercase" })
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <div class="text-left">
                                            <button class="btn btn-success"><i class="fa fa-save"></i> Registrar</button>
                                            <button type="button" class="btn btn-default" onclick="Clear();"><i class="fa fa-close"></i> Cancelar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>GLOBAL ERP</strong>2020 &copy; Distribuidora el Florido S.A. de C.V.
            </div>
        </div>
    </div>
    <!-- Vendor scripts -->
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/vendor/iCheck/icheck.min.js"></script>
    <script src="~/vendor/sparkline/index.js"></script>
    <script src="~/vendor/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/vendor/toastr/build/toastr.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- App scripts -->
    <script src="~/Scripts/homer.js"></script>
    @Scripts.Render("~/bundles/Register/js")
</body>
</html>