﻿@model FloridoERP.ViewModels.Home.RecoveryPasswordViewModel
@{
    Layout = null;
    var idCode = @ViewBag.codestring;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title> GLOBAL ERP | Desbloqueo de Usuario</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->

    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/vendor/metisMenu/dist/metisMenu.css" />
    <link rel="stylesheet" href="~/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="~/styles/static_custom.css">
    <!-- App styles -->
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/fonts/pe-icon-7-stroke/css/helper.css" />
    <link rel="stylesheet" href="~/styles/style.css">
</head>
<body class="blank  tooltip-demo">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>Espere Por Favor..</h1><p>Su petición se está procesando. </p><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    @if (Request.Browser.Browser.ToUpper().Contains("INTERNETEXPLORER"))
    {<p class="alert alert-danger">Usted está usando un navegador <strong>EXPLORER</strong>.  Le sugerimos utilizar cualquiera de los siguientes navegadores <strong>(Chrome,Opera)</strong>.</p>}
    <div class="color-line"></div>

    <div class="back-link">
        <h1>
            <a href="Login" class="pe-7s-home" data-toggle="tooltip" data-placement="right" title="Iniciar Sesión"></a>
        </h1>
    </div>
    <div class="login-container animate-panel">
        <div class="row">
            <div class="col-md-12">
                <p></p>
                @if (idCode == "" | idCode == null)
                {
                    <div class="text-center m-b-md">
                        <h3>DESBLOQUEO DE USUARIO</h3>
                        <small>Favor de llenar los campos.</small>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body">
                            <p>
                                Ingrese su correo electrónico o su usuario, recibirá un correo electrónico de confirmación.
                            </p>
                            @using (Html.BeginForm("Unlocking", "Home", FormMethod.Post, new { name = "loginForm1", id = "loginForm1" }))
                            {
                                <div class="form-group">
                                    <label class="control-label">Usuario/Email</label>
                                    @Html.TextBox("EmailORuser", null, new { @class = "form-control", @placeholder = "Usuario/Ejemplo@elflorido.com.mx", @required = "required" })
                                    <span class="help-block small">Tu usuario o correo electronico registrados.</span>
                                </div>
                                <input class="btn btn-success btn-block" type="submit" onclick="return SendEmailToGetCode();" value="Desbloquear Usuario" />
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-center m-b-md">
                        <h3>DESBLOQUEO DE USUARIO</h3>
                        <small>Favor de llenar los campos.</small>
                    </div>
                    <div class="hpanel">
                        <div class="panel-body">
                            <p>
                                Ingrese su numero de empleado para desbloquear.
                            </p>
                            @using (Html.BeginForm("Unlocking", "Home", FormMethod.Post, new { name = "FormInsert", id = "FormInsert" }))
                            {
                                <div class="form-group">
                                    <label class="control-label">Numero de empleado</label>
                                    @Html.TextBox("EmpNumber", null, new { @class = "form-control", @placeholder = "Numero de empleado" })
                                </div>
                                <input class="btn btn-success btn-block" type="button" onclick="return Unlock()" value="Desbloquear" />

                            }
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong> GLOBAL ERP</strong>2020 &copy; Distribuidora el Florido S.A. de C.V.
            </div>
        </div>
    </div>

    @Html.Hidden("model", Json.Encode(Model.code))

    <!-- Vendor scripts -->
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/vendor/slimScroll/jquery.slimscroll.min.js"></script>
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/vendor/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/vendor/iCheck/icheck.min.js"></script>
    <script src="~/vendor/sparkline/index.js"></script>
    <script src="~/vendor/toastr/build/toastr.min.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>
    <!-- App scripts -->
    <script src="~/Scripts/homer.js"></script>
    @Scripts.Render("~/bundles/Unlocking/js")
</body>
</html>