﻿@model FloridoERP.ViewModels.Configuration.ConfigurationAddRoles
@{ ViewBag.Title = "ADMS003"; }
@section Styles { @Styles.Render("~/bundles/simple_toggle/css") }
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENADMS000">Configuración</a></li>
                    <li>
                        <a href="ADMS007">Administración de Roles y Permisos</a>
                    </li>
                    <li class="active">
                        <span>Tables design</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Roles de pagina
            </h2>
            <small>Asignar paginas a roles.</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Asignación
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-lg-5">
                                <h4 id="labelCreditor" class="text-success pull-right">Global</h4>
                            </div>
                            <div class="col-lg-1">
                                <label class="switch">
                                    <input id="checkView" type="checkbox" onclick="ChangeValues(this);">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-lg-5 pull-left">
                                <h4 id="labelSite" class="pull-left">Tienda</h4>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-lg-4 contact-panel" style="">
                                <div class="hpanel hgreen">
                                    <div class="panel-heading hbuilt">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Roles del Sistema
                                            </div>
                                            <div class="col-md-6">
                                                <form action="">
                                                    <div class="input-group">
                                                        <input id="searchRol" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('rolList,#searchRol');" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-xs btn-default" type="button" onclick="searchLists('rolList,#searchRol');">
                                                                <span class="fa fa-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body no-padding" style="display: block;">
                                        <ul id="rolList" class="list-group">
                                            @foreach (var item in Model.RolesCollection)
                                            {
                                                <li class="list-group-item">
                                                    <p class="radio"><input type="radio" name="Rols" value="@item.role_id.ToString()"> @item.role_name.ToString() </p>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="panel-footer" style="display: block;">
                                        Lista de roles disponibles en el sistema.(<a href="ADMS001" title="Agregar Mas Roles" data-toggle="tooltip" data-placement="top">Agregar Mas</a>)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3  contact-panel" style="">
                                <div class="hpanel hblue">
                                    <div class="panel-heading hbuilt">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Paginas Asignadas al Rol
                                            </div>
                                            <div class="col-md-6">
                                                <form action="">
                                                    <div class="input-group">
                                                        <input id="searchListassigned" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('assignedList,#searchListassigned');" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-xs btn-default" type="button" onclick="searchLists('assignedList,#searchListassigned');">
                                                                <span class="fa fa-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body no-padding" style="display: block;">
                                        <ul id="assignedList" class="list-group"></ul>
                                    </div>
                                    <div class="panel-footer" style="display: block;">
                                        Lista de páginas asignadas al rol seleccionado. (<a href="ADMS001" title="Agregar Mas Paginas" data-toggle="tooltip" data-placement="top">Agregar Mas</a>)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 text-center contact-panel float-e-margins" style="display: block;">
                                <p>
                                    <button type="button" class="btn btn-outline  w-xs btn-info" onclick="RemoveFromRole();">></button>
                                    <button type="button" class="btn btn-outline  w-xs btn-danger" onclick="RemoveFromRoleAll();">>></button>
                                    <button type="button" class="btn btn-outline  w-xs btn-info" onclick="AddToRole();"><</button>
                                    <button type="button" class="btn btn-outline  w-xs btn-danger" onclick="AddToRoleAll();"><<</button>
                                </p>
                            </div>
                            <div class="col-lg-3  contact-panel" style="">
                                <div class="hpanel hblue">
                                    <div class="panel-heading hbuilt">
                                        <div class="row">
                                            <div class="col-md-6">
                                                Paginas Disponibles
                                            </div>
                                            <div class="col-md-6">
                                                <form action="">
                                                    <div class="input-group">
                                                        <input id="searchListavailable" type="text" class="form-control input-xs" placeholder="Buscar Rol..." onkeyup="searchLists('availableList,#searchListavailable');" />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-xs btn-default" type="button" onclick="searchLists('availableList,#searchListavailable');">
                                                                <span class="fa fa-search"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body no-padding" style="display: block;">
                                        <ul id="availableList" class="list-group"></ul>
                                    </div>
                                    <div class="panel-footer" style="display: block;">
                                        Lista de páginas disponibles. (<a href="ADMS001" title="Agregar Mas Paginas" data-toggle="tooltip" data-placement="top">Agregar Mas</a>)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/ADMS003/js")
}