﻿@model FloridoERP.ViewModels.FixedAsset.FixedAssetRequisitionViewModel
@{
    ViewBag.Title = "Aprobar Activos";
}

@section Styles { @Styles.Render("~/bundles/touchspin/css") }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Activo Fijo</a></li>
                    <li><a href="PURCH007">Funciones</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Aprobar Activo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs text-info">
                Activo Fijo
            </h2>
            <small>Aprobacion Activo Fijo. </small>
        </div>
    </div>
</div>

@*  Contenido de la Tabla  *@
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">

                    <div class="row">
                        <div class="form-group col-lg-12">
                            <h2 class="text-info">Requisiciones Pendientes Por Aprobar </h2>

                            <div class="table-responsive">
                                <table id="tableHeader" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Folio</th>
                                            <th>Sucursal</th>
                                            <th>Comentario</th>
                                            <th>Fecha de Requisicion</th>
                                            <th>Funcion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ListPendinRequisition)
                                        {
                                            <tr>
                                                <td>@item.requisition_code</td>
                                                <td>@item.site_name</td>
                                                <td>@item.requisition_remark</td>
                                                <td>@item.requisition_date.Value.ToString("dd/MM/yyyyy")</td>
                                                <td></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="hpanel hide" id="panel-detail" data-effect="fadeInRight">
                <div class="panel-body">

                    <div>
                        <div class="row">

                            <div class="form-group col-lg-12">

                                <div class="col-lg-6">
                                    <h2 class="col-lg-12 text-info" style="display:inline">Productos de la Requisicion </h2>

                                </div>
                                <div class="col-lg-6">
                                    <h2 class="col-lg-offset-7 col-lg-2 text-info" style="display:inline" id="productNameTitle">Folio: </h2>
                                    <h2 class="col-lg-2 text-info" style="display:inline" id="folio"> </h2>
                                </div>

                            </div>
                            <div class="form-group col-lg-12">
                                <table class="table table-striped table-bordered table-hover" width="100%" id="tableDetail">
                                    <thead>
                                        <tr>
                                            <th>Activo </th>
                                            <th>Descripcion</th>
                                            <th>Marca</th>
                                            <th>Serie</th>
                                            <th>Modelo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-lg-12 ">
                                <br />
                                <button onclick="Refuse()" class="btn btn-danger pull-right" style="margin-left:1em;" type="button" id="cancel_button"><i class="fa fa-remove"></i> Rechazar</button>
                                <button onclick="Approve()" class="btn btn-success pull-right" type="button" id="save_button"><i class="fa fa-check"></i> Aprobar</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/touchspin/js")
    <script type="text/javascript">

        var table = $('#tableHeader').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros.",
                "sZeroRecords": "No se encontraron resultados.",
                "sEmptyTable": "Ningún dato disponible en esta tabla.",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros.",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros.",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros.)",
                "sInfoPostFix": "",
                "sSearch": "Buscar : ",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate":
                {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria":
                {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons:
                [

                ],
            columns:
                [
                    { data: 'requisition_code' },
                    { data: 'site_name' },
                    { data: 'requisition_remark' },
                    { data: 'requisition_date' },
                    { data: null }
                ],
            columnDefs:
                [
                    {
                        targets: [3],
                        width: "10%"
                    },
                    {
                        targets: [4],
                        orderable: false,
                        data: null,
                        width: "1%",
                        defaultContent: '<button class="btn btn-xs btn-outline btn-info"   id="bt1"><i class="fa fa-eye"></i> Detalle</button>'
                    }
                ]
        });


        var tableItems = $('#tableDetail').DataTable({

            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,

            columns: [

                { data: 'fixed_asset_name' },
                { data: 'description' },
                { data: 'serie' },
                { data: 'model' },
                { data: 'brand' }
            ]

        });


        $('#tableHeader tbody').on('click', '#bt1', function () {

            var values = table.row($(this).parents('tr')).data();
            values = $.map(values, function (value, index) {
                switch (index) {

                    case 'requisition_code':

                        $("#folio").text(value)


                         $.ajax({
                            url: '@Url.Action("ActionGetItemsByRequisition", "FixedAsset")',
                            type: "GET",
                            data: { "id": value },
                            success: function (returndata) {
                                if (returndata.success) {

                                    console.log(returndata.Json)

                                    tableItems.clear().draw();
                                    tableItems.rows.add(returndata.Json)
                                    tableItems.columns.adjust().draw();
                                }
                                else {
                                    toastr.error(returndata.responseText);
                                }
                            },
                            error: function () {
                                toastr.error('Error inesperado contactar a sistemas');
                            }
                        });
                        break;
                }
            });

            $('#panel-detail').removeClass("hide");
            $('#panel-detail').animatePanel();

        });


        function Approve() {

            var folio = $("#folio").text()

             $.ajax({
                 url: '@Url.Action("ActionChangeStatus", "FixedAsset")',
                 type: "GET",
                 data: {
                     "id": folio,
                     "status": 2
                 },
                 success: function (returndata) {
                     if (returndata.success) {

                         swal({
                             title: "Requisicion Aprobada",
                             type: "success",
                             text: "Folio: " + folio,
                             confirmButtonColor: '#3085d6',
                             confirmButtonText: 'Aceptar'
                         }, function () {
                             setTimeout(function () {
                                 StartLoading();
                                 window.location.href = '/FixedAsset/AFX001';
                             }, 500);
                             });

                     }
                     else {
                         toastr.error(returndata.responseText);
                     }
                 },
                 error: function () {
                     toastr.error('Error inesperado contactar a sistemas');
                 }
             });


        }

        function Refuse() {

            var folio = $("#folio").text()

            $.ajax({
                 url: '@Url.Action("ActionChangeStatus", "FixedAsset")',
                 type: "GET",
                data: {
                    "id": folio,
                    "status": 8
                },
                 success: function (returndata) {
                     if (returndata.success) {

                         swal({
                             title: "Requisicion rechazada",
                             type: "error",
                             text: "Folio: " + folio,
                             confirmButtonColor: '#3085d6',
                             confirmButtonText: 'Aceptar'
                         }, function () {
                             setTimeout(function () {
                                 StartLoading();
                                 window.location.href = '/FixedAsset/AFX001';
                             }, 500);
                         });


                     }
                     else {
                         toastr.error(returndata.responseText);
                     }
                 },
                 error: function () {
                     toastr.error('Error inesperado contactar a sistemas');
                 }
             });
        }


    </script>
}