﻿@model FloridoERP.ViewModels.FixedAsset.FixedAssetViewModel
@{
    ViewBag.Title = "Catalogo productos";
    System.Web.Script.Serialization.JavaScriptSerializer serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    serializer.MaxJsonLength = Int32.MaxValue;
}

@section Styles { @Styles.Render("~/bundles/touchspin/css") }


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="MENPURCH000">Activo Fijo</a></li>
                    <li><a href="PURCH007">Catalogo</a></li>
                    <li class="active">
                        <span id="MenuLeftAction">Agregar Acitvo</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs text-primary-2">
                Catalogo Activo Fijo
            </h2>
            <small>Inserción y modificación de activos fijo. </small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="hpanel">
                    <ul class="nav nav-tabs">
                        <li class="active" title="Agregar Nuevo Activo" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-1" onclick="ChangeTextMenu('Agregar Activo');Clear();"> <i class="fa fa-plus"></i>&nbsp;Nuevo Activo</a></li>
                        <li class="" title="Lista de Activos Registrados" data-toggle="tooltip" data-placement="top"><a data-toggle="tab" href="#tab-2" onclick="ChangeTextMenu('Lista de Activos');Clear();"><i class="fa fa-list-alt"></i>&nbsp;Activos</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="form-group col-lg-4">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" />
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="category">Categoria</label>
                                    @Html.DropDownListFor(a => a.category, Model.ListSelectCategory, new { @class = "form-control vali drop", @id = "category" })
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="depreciation">Depreciacion Anual</label>
                                    @Html.DropDownListFor(a => a.category, Model.ListSelectDepreciation, new { @class = "form-control vali drop", @id = "depreciation" })
                                </div>
                                <div class="form-group col-lg-12">
                                    <div class="text-right">
                                        <button type="button" class="btn btn-default" onclick="Clear();"><i class="fa fa-close"></i> Cancelar</button>
                                        <button type="button" class="btn btn-primary2" onclick="AddItem(); ">
                                            <i class="fa fa-check"></i>
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div id="TableProduct" class="animate-panel" data-effect="fadeInRight">
                                    <div class="row projects">
                                        <div class="col-lg-12">
                                            <div class="hpanel hviolet">
                                                <div class="panel-body">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped table-bordered table-hover" id="tblItems" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th></th>
                                                                    <th>Código</th>
                                                                    <th>Nombre</th>
                                                                    <th>Categoria</th>
                                                                    <th>Depreciacion Anual</th>
                                                                    <th>Activo</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var item in Model.ListFixedAsset)
                                                                {
                                                                    <tr>
                                                                        <td style="width:1%" class="text-center"></td>
                                                                        <td>@item.fixed_asset_code</td>
                                                                        <td>@item.fixed_asset_name</td>
                                                                        <td>@item.category</td>
                                                                        <td>@item.depreciation.Value.ToString("G29")</td>
                                                                        <td style="width:1%" class="text-center">@item.status_flag</td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="PanelEdit" class="hide animate-panel" data-effect="fadeInRight">
                                    <div class="row projects">
                                        <div class="col-lg-12">
                                            <div class="hpanel hyellow">
                                                <div class="panel-body">
                                                    <h4><a href="">Editar Producto</a></h4>
                                                    <div class="form-group col-lg-6 hide">
                                                        <label for="name">Id</label>
                                                        <input type="text" class="form-control" id="id-edit" disabled />
                                                    </div>
                                                    <div class="form-group col-lg-4">
                                                        <label for="name-edit">Nombre</label>
                                                        <input type="text" class="form-control" id="name-edit" />
                                                    </div>
                                                    <div class="form-group col-lg-3">
                                                        <label for="category-edit">Categoria</label>
                                                        @Html.DropDownListFor(a => a.category, Model.ListSelectCategory, new { @class = "form-control vali drop", @id = "category-edit" })
                                                    </div>
                                                    <div class="form-group col-lg-3">
                                                        <label for="depreciation-edit">Depreciacion Anual</label>
                                                        @Html.DropDownListFor(a => a.category, Model.ListSelectDepreciation, new { @class = "form-control vali drop", @id = "depreciation-edit" })
                                                    </div>
                                                    <div class="form-group col-lg-2">
                                                        <label for="check">Activo</label>
                                                        <div id="Check" class="i-checks">
                                                            @Html.CheckBoxFor((x => x.status_flag), new { @class = "form-control", @id = "check-box" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-footer text-right">
                                                    <button type="button" class="btn btn-default" onclick="Clear();"><i class="fa fa-close"></i> Cancelar</button>
                                                    <button type="button" class="btn btn-warning" onclick="Edit(); ">
                                                        <i class="fa fa-check"></i>
                                                        Editar
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/touchspin/js")
    <script type="text/javascript">

        $("#category").select2();
        $("#category-edit").select2();

        $("#depreciation").select2();
        $("#depreciation-edit").select2();

        function ChangeTextMenu(s) {
            $('#MenuLeftAction').html(s);
        }

        function Clear() {
            $("#name").val("");
            $("#category").val("").trigger("change");
            $("#depreciation").val("").trigger("change");

            $("#id-edit").val("");
            $("#name-edit").val("");
            $("#category-edit").val("").trigger("change");
            $("#depreciation-edit").val("").trigger("change");

            $('#PanelEdit').addClass("hide");
            $('#TableProduct').removeClass("hide");
            $('#TableProduct').animatePanel();

            $('#check-box').iCheck('check');
        }

        var table = $('#tblItems').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros.",
                "sZeroRecords": "No se encontraron resultados.",
                "sEmptyTable": "Ningún dato disponible en esta tabla.",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros.",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros.",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros.)",
                "sInfoPostFix": "",
                "sSearch": "Buscar : ",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate":
                {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria":
                {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons:
                [

                ],
            columns:
                [
                    { data: null },
                    { data: 'fixed_asset_code' },
                    { data: 'fixed_asset_name' },
                    { data: 'category' },
                    { data: 'depreciation' },
                    { data: 'status_flag' },
                ],
            columnDefs:
                [
                    {
                        targets: [5],
                        render: function (data, type, row) {
                            if (type === 'display') {
                                if (data == true | data == 'True') {
                                    return '<div checked><label><div class="icheckbox_square-green checked disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label></div>'
                                }
                                else {
                                    return '<div checked><label><div class="icheckbox_square-green  disabled" style="position: relative;"><input type="checkbox" disabled="" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></label></div>'
                                }
                            }
                            return data;
                        }
                    },
                    {
                        targets: [4],
                        render: function (data, type, row) {
                            return data + ' %';
                        }
                    },
                    {
                        targets: [0],
                        orderable: false,
                        data: null,
                        width: "1%",
                        defaultContent: '<button class="btn btn-xs btn-outline btn-primary2" id="bt1"><i class="fa fa-pencil"></i> Editar</button>'
                    }
                ]
        });


        function AddItem() {

            StartLoading();
            var name = $("#name").val()
            var category = $("#category").val()
            var depreciation = $("#depreciation").val()

            console.log(category)

            if (name == "" || category == "" || depreciation == "") {
                EndLoading();
                toastr.warning('Favor de llenar todos los datos.');
                return false;
            }

            $.ajax({
                 type: "GET",
                 url: "@(Url.Action("ActionAdd", "FixedAsset"))",
                data: {
                     "name": name,
                    "category": category,
                    "depreciation": depreciation
                 },
                 success: function (returndata) {

                     if (returndata.success) {

                         EndLoading();
                         toastr.success(returndata.message);
                         table.clear().draw();
                         table.rows.add(returndata.json);
                         table.columns.adjust().draw();
                         Clear();
                     }
                     else {
                         EndLoading();
                         toastr.warning(returndata.message);
                     }
                 },
                error: function () {
                     EndLoading();
                     toastr.error('Error inesperado contactar a sistemas');
                 }
            });

        }

        $('#tblItems tbody').on('click', '#bt1', function (e) {

            $('#TableProduct').addClass("hide");
            $('#PanelEdit').removeClass("hide");
            $('#PanelEdit').animatePanel();

            values = table.row($(this).parents('tr')).data();
            values = $.map(values, function (value, index) {
                switch (index) {
                    case 'fixed_asset_code':

                        $.ajax({
                            type: "GET",
                            url: "@(Url.Action("ActionGetFixedAsset", "FixedAsset"))",
                            data: {
                                 "id": value
                            },
                            success: function (returndata) {

                                 if (returndata.success) {

                                     var asset = returndata.json
                                     $("#id-edit").val(asset.fixed_asset_code);
                                     $("#name-edit").val(asset.fixed_asset_name);
                                     $("#category-edit").val(asset.category).trigger("change");
                                     $("#depreciation-edit").val(asset.depreciation).trigger("change");
                                     checkBoxStyle(asset.status_flag)

                                 }
                                 else {
                                     toastr.warning(returndata.message);
                                 }
                            },
                            error: function () {
                                 toastr.error('Error inesperado contactar a sistemas');
                            }
                        });

                        console.log(value)
                        break;
                }
            });
        });

        function Edit() {


            StartLoading();

            var id = $("#id-edit").val()
            var name = $("#name-edit").val()
            var category = $("#category-edit").val()
            var depreciation = $("#depreciation-edit").val()
            var check = $('#check-box').prop("checked")


            if (name == "" || category == "" || depreciation == "") {
                EndLoading();
                toastr.warning('Favor de llenar todos los datos.');
                return false;
            }


            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionEdit", "FixedAsset"))",
                data: {
                    "id": id,
                    "name": name,
                    "category": category,
                    "status": check,
                    "depreciation": depreciation
                },
                success: function (returndata) {

                     if (returndata.success) {

                         EndLoading();
                         toastr.success(returndata.message);
                         table.clear().draw();
                         table.rows.add(returndata.json);
                         table.columns.adjust().draw();
                         Clear();
                     }
                     else {
                         EndLoading();
                         toastr.warning(returndata.message);
                     }
                },
                error: function () {
                     EndLoading();
                     toastr.error('Error inesperado contactar a sistemas');
                }
            });
        }

        function checkBoxStyle(s) {
            if (s == true | s == 'True') {
                $('#check-box').iCheck('check');
            }
            else {
                $('#check-box').iCheck('uncheck');
            }
        }

    </script>
}