﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model FloridoERP.ViewModels.FixedAsset.FixedAssetRegistrationViewModel

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li> <span>Activo Fijo</span></li>
                    <li><a href="#">Funciones</a></li>
                    <li class="active">
                        <span>Reporte de Activos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Funciones.
            </h2>
            <small>Reporte de Activo Fijo.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-2">
                            <label for="Almacenes" title="Almacenes" data-toggle="tooltip" data-placement="right">Tienda:</label>
                            @Html.DropDownListFor(model => model.site_code , Model.SitesSelectList , htmlAttributes: new { @class = "form-control", @id = "site" })
                        </div>
                        <div class="form-group col-lg-1">
                            <br />
                            <button class="btn btn-info" id="buscar" onclick="GetFixed();">Buscar</button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="table-fixed" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Identificador</th>
                                        <th>Activo Fijo</th>
                                        <th>Descripcion</th>
                                        <th>Tienda</th>
                                        <th>Locacion</th>
                                        <th>Fecha de Adquisicion</th>
                                        <th>% Depreciacion</th>
                                        <th>Precio Original</th>
                                        <th>Depreciacion Por Año</th>
                                        <th>Años en Servicio</th>
                                        <th>Precio Actual</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>


                    <div class="col-lg-12" style="margin-top:1em">

                        <div class="form-group pull-right col-lg-2">
                            <label style="font-size:1.5em;">Monto Total: </label>
                            <label style="font-size:1.5em;" id="amount">0</label>
                        </div>

                    </div>




                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function ()
        {
            window.setTimeout(function ()
            {
                $(".normalheader").addClass("small-header");
                $("#fa").removeClass("fa-arrow-up").addClass("fa-arrow-down");
                $("#hbreadcrumb").removeClass("m-t-lg");
            }, 1000);
        });

        $("#site").select2({
            minimumInputLength: 0,
            formatInputTooShort: function () { return "Ingresa Nombre o Codigo de Almacen."; },
            matcher:
                function (term, text, option)
                {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
        });


        const formatter = new Intl.NumberFormat('en-US',
            {
                style: 'currency',
                currency: 'USD'
            });

        var table = $('#table-fixed').DataTable({
            autoWidth: false,
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "",
                "sInfoEmpty": "",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria":
                {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'excel',
                    text: 'EXCEL',
                    className: 'btn-sm btn-success',
                    filename: 'Activos',
                    footer: true
                },
            ],
            columns:
                [
                    { data: 'fixed_asset_id' },
                    { data: 'fixed_asset_folio' },
                    { data: 'fixed_asset_name' },
                    { data: 'description' },
                    { data: 'site_name' },
                    { data: 'location' },
                    { data: 'acquisition_date' },
                    { data: 'depreciation' },
                    { data: 'price' },
                    { data: 'depreciation_year' },
                    { data: 'service_year' },
                    { data: 'real_price' }
                ],
            columnDefs:
                [
                    {
                        targets: [0],
                        visible: false
                    },
                    {
                        targets: [8],
                        render: function (data, type, row)
                        {
                            return '<div  style="color:Orange; text-align:center;"><strong>' + formatter.format(data) +'</strong></div>'
                        }
                    },
                    {
                        targets: [11],
                        render: function (data, type, row)
                        {
                            return '<div  style="color:Green; text-align:center;"><strong>' + formatter.format(data) + '</strong></div>'
                        }
                    },
                    {
                        targets: [9],
                        render: function (data, type, row) {
                            return '<div  style="color:Red; text-align:center;"><strong>' + formatter.format(data) + '</strong></div>'
                        }
                    },
                    {
                        targets: [6],
                        render: function (data, type, row) {
                            return moment(data).format('DD/MM/YYYY');
                        },
                    },
                ]
        });

        function GetFixed()
        {

            StartLoading();
            $.ajax({
                url: '@Url.Action("ActionGetReport", "FixedAsset")',
                type: "GET",
                data:
                {
                    "site": $("#site").val()
                },
                success:
                    function (returndata)
                    {
                        if (returndata.success == true)
                        {
                            console.log(returndata.data)

                            table.clear().draw();
                            table.rows.add(returndata.data)
                            table.columns.adjust().draw();

                            $("#amount").text(returndata.Amount)

                            EndLoading();
                        }
                        else
                        {
                            EndLoading();
                            if (returndata.responseText === 'Termino tu sesión.')
                            {
                                SessionFalse(returndata.responseText);
                            }
                            else
                            {
                                toastr.warning(returndata.responseText);
                            }
                        }
                    },
                error:
                    function ()
                    {
                        toastr.error('Error inesperado contactar a sistemas.');
                        EndLoading();
                    }
            });
        }

    </script>
}
