﻿
@model FloridoERP.ViewModels.FixedAsset.FixedAssetRegistrationViewModel
@{
    ViewBag.Title = "Registro Activo";
}

@section Styles { @Styles.Render("~/bundles/touchspin/css") }

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">

            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><a href="MNC001">Activo Fijo</a></li>
                    <li><a href="MOC001">Funciones</a></li>
                    <li class="active">
                        <span>Registro</span>
                    </li>
                </ol>
            </div>

            <h2 class="font-light m-b-xs text-primary">
                Registro Activo Fijo
            </h2>

            <small>Formulario para dar de alta un activo fijo </small>

        </div>
    </div>
</div>


<div class="content animate-panel">

    <div class="row" id="div-requisition">

        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Requisicion
                </div>
                <div class="panel-body">

                    <div class="col-lg-12">

                        <div class="form-group col-lg-2">
                            <label for="type_asset" title="Tipo Activo" data-toggle="tooltip" data-placement="right">Tienda</label>
                            @Html.DropDownListFor(model => model.site_code, Model.SitesSelectList, htmlAttributes: new { @class = "form-control", @id = "site-select", @onchange = "GetRequisitionBySite()" })
                        </div>

                        <div class="form-group col-lg-2">
                            <label for="type_asset" title="Tipo Activo" data-toggle="tooltip" data-placement="right">Requisicion</label>
                            <select id="requisition-select" name="requisition-select" class="form-control">
                                <option value="0">Seleccione una requisicion</option>
                            </select>
                        </div>

                        <div class="form-group  col-lg-2">
                            <button type="button" style="margin-top:1.7em;" class="btn btn-info" onclick="ShowDetail(); ">
                                <i class="fa fa-eye "></i>
                                Mostrar
                            </button>
                        </div>

                        <div class="form-group col-lg-offset-4 col-lg-2">
                            <button type="button" style="margin-top:1.7em;" class="btn btn-danger" onclick="NoRequisition(); ">
                                <i class="fa fa-remove"></i>
                                Sin Requisicion
                            </button>
                        </div>

                        <div class="col-lg-12 animate-panel hide" id="div-requisition-table">

                            <h3>Detalle Requisicion</h3>

                            <table class="table table-striped table-bordered table-hover" id="table-requisition" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Descripcion</th>
                                        <th>Serie</th>
                                        <th>Modelo</th>
                                        <th>Marca</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="col-lg-12 ">
                                <br />
                                <button onclick="SaveRequisition()" class="btn btn-primary pull-right" type="button" id="save_button"> Aceptar </button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>


    <div class="row">

        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Activo Fijo
                </div>
                <div class="panel-body">

                    <div class="col-lg-12">

                        <div class="form-group col-lg-6">
                            <label title="Fecha de Adquisición" data-toggle="tooltip" data-placement="right">Fecha de Adquisición</label>
                            <div class="input-group date" id="datapickerAcquisition">
                                <span class="input-group-addon">
                                    <span class="fa fa-calendar"></span>
                                </span>
                                <input type="text" class="form-control" id="date" />
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label for="brand" title="Marca" data-toggle="tooltip" data-placement="right">Requisicion</label>
                            <input type="text" class="form-control" id="requisition_id" disabled />
                        </div>

                        <div class="form-group col-lg-2">
                            <label for="description" title="Descripcion" data-toggle="tooltip" data-placement="right">Identificador</label>
                            <input type="text" class="form-control" id="folio" />
                        </div>

                        <div class="form-group col-lg-2">
                            <label for="select_site" title="Codigo" data-toggle="tooltip" data-placement="right">Activo</label>
                            @Html.DropDownListFor(model => model.fixed_asset_code, Model.FixedAssetSelectList, htmlAttributes: new { @class = "form-control", @id = "fixed-select" })
                        </div>

                        <div class="form-group col-lg-2">
                            <label for="description" title="Descripcion" data-toggle="tooltip" data-placement="right">Descripción</label>
                            <input type="text" class="form-control" id="description" />
                        </div>



                        <div class="form-group col-lg-2">
                            <label for="serie" title="Serie" data-toggle="tooltip" data-placement="right">Serie</label>
                            <input type="text" class="form-control" id="serie" />
                        </div>

                        <div class="form-group col-lg-2">
                            <label for="model" title="Modelo" data-toggle="tooltip" data-placement="right">Modelo</label>
                            <input type="text" class="form-control" id="model" />
                        </div>

                        <div class="form-group col-lg-2">
                            <label for="brand" title="Marca" data-toggle="tooltip" data-placement="right">Marca</label>
                            <input type="text" class="form-control" id="brand" />
                        </div>

                        <div class="col-lg-12 ">
                            <br />
                            <button onclick="AddFixedAsset()" class="btn btn-primary pull-right" type="button" id="add_button"> Agregar </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    Proveedor
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" id="form_product" name="form_product">
                                <div class="form-row">

                                    <div class="col-lg-12">

                                        <div class="form-group col-lg-3">
                                            <label for="supplier_id" title="Proveedor" data-toggle="tooltip" data-placement="right">Proveedor</label>
                                            @Html.DropDownListFor(model => model.supplier_id, Model.SupplierSelectList, htmlAttributes: new { @class = "form-control", @id = "supplier-select" })
                                        </div>

                                        <div class="form-group col-lg-3">
                                            <label for="currency" title="Moneda" data-toggle="tooltip" data-placement="right">Moneda</label>
                                            @Html.DropDownListFor(model => model.currency, Model.CurrencySelectList, htmlAttributes: new { @class = "form-control", @id = "currency-select" })
                                        </div>

                                        <div class="form-group col-lg-3">
                                            <label for="policy" title="Poliza" data-toggle="tooltip" data-placement="right">Poliza</label>
                                            <input type="text" class="form-control" id="policy" />
                                        </div>

                                        
                                        <div class="form-group col-lg-3">
                                            <label for="policy" title="Poliza" data-toggle="tooltip" data-placement="right">Total XML</label>
                                            <input type="text" class="form-control" id="amount_xml" disabled/>
                                        </div>


                                    </div>

                                    <div class="col-lg-12">

                                        <div class="col-lg-12 animate-panel" id="div-fixed-table">

                                            <h3>Detalle Activos</h3>

                                            <table class="table table-striped table-bordered table-hover" id="table-fixed" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>Identificador</th>
                                                        <th>Descripcion</th>
                                                        <th>Tipo</th>
                                                        <th>Serie</th>
                                                        <th>Modelo</th>
                                                        <th>Marca</th>
                                                        <th>Costo</th>
                                                        <th>Iva</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="col-md-3 col-md-offset-9">
                                                <table id="table_totales" class="table table-striped text-right">
                                                    <thead>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>


                                        </div>

                                        <div class="form-group col-lg-6" style="margin-top:1.6em;">
                                            <div class="form-group col-lg-3">
                                                <div style="position:relative;">
                                                    <a class='btn btn-primary' href='javascript:;'>
                                                        Seleccionar XML
                                                        <input type="file" accept="text/xml" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" id="file" size="40" onchange='GetAmount(this);'>
                                                    </a>
                                                    &nbsp;
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <label id="upload-file-info"></label>
                                            </div>
                                        </div>


                                    </div>


                            </form>
                        </div>
                    </div>

                    <div class="col-lg-12 ">
                        <br />
                        <button onclick="Save()" class="btn btn-primary pull-right" type="button" id="save_button"> Registrar</button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/touchspin/js")
    <script type="text/javascript">

        var requisitionFlag = false;
        var FixedList = [];
        var totales = [
            {
                title: '<strong>Sub Total: </strong>',
                value: '$0.00'
            },
            {
                title: '',
                value: ''
            },
            {
                title: '<strong>IVA: </strong>',
                value: '$0.00'
            },
            {
                title: '<strong>Total: </strong>',
                value: '$0.00'
            },
        ];

        $("#site-select").select2();
        $("#requisition-select").select2();
        $("#fixed-select").select2();
        $("#supplier-select").select2();
        $("#currency-select").select2();

        $("#datapickerAcquisition").datepicker({
            language: 'es',
            format: "yyyy/mm/dd",
            startDate: new Date(),
            autoclose: true,
            todayHighlight: true,
            orientation: "bottom auto"
        });

        var tableRequisition = $('#table-requisition').DataTable({

            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,

            columns: [

                { data: 'description' },
                { data: 'serie' },
                { data: 'model' },
                { data: 'brand' }
            ]

        });

        var table = $('#table-fixed').DataTable({

            "autoWidth": false,
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,

            oLanguage: {
                "sZeroRecords": "",
                "sEmptyTable": "",
            },
            columns:
                [
                    { data: 'fixed_asset_folio' },
                    { data: 'description' },
                    { data: 'fixed_asset_code' },
                    { data: 'serie' },
                    { data: 'model' },
                    { data: 'brand' },
                    { data: 'cost' },
                    { data: 'iva' },
                ],
            columnDefs: [
                {
                    targets: [6],
                    width: "10%",
                    render: function (data, type, row, meta) {
                        return '<input type="text" name="cost" id="cost_config_' + meta.row + '" class="form-control"   value="' + data + '" onchange="Calculate(' + meta.row + ');" />'
                    }
                },
                {
                    targets: [7],
                    width: "10%",
                    render: function (data, type, row, meta) {
                        return '<input type="text" name="iva" id="iva_config_' + meta.row + '" class="form-control"   value="' + data + '" onchange="Calculate(' + meta.row + ');" />'
                    }
                }
            ]
        });
        table.clear().draw();

        var table_totales = $('#table_totales').DataTable({

            "autoWidth": false,
            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,

            columns: [
                { data: 'title' },
                { data: 'value' },
            ],
        });
        table_totales.clear().draw();
        table_totales.rows.add(jQuery(totales));
        table_totales.columns.adjust().draw();

        function NoRequisition() {
            requisitionFlag = false;
            $("#div-requisition").addClass("hide");
            $("#requisition_id").val(0)
        }

        function GetRequisitionBySite() {

            $.ajax({
                 type: "GET",
                 url: "@(Url.Action("ActionGetRequisitionBySite", "FixedAsset"))",
                data: {
                    "site_code": $("#site-select").val(),
                 },
                 success: function (response) {

                     if (response.success) {

                         EndLoading();
                         var list_requisition = response.Json;
                         console.log(list_requisition)
                         FillDropdown("requisition-select", list_requisition)
                     }
                     else {
                         EndLoading();
                         FillDropdown("requisition-select", null)
                         toastr.warning(returndata.message);
                     }
                 },
                error: function () {
                    EndLoading();
                    FillDropdown("requisition-select", null)
                    toastr.error('Error inesperado contactar a sistemas');
                 }
            });
        }

        function FillDropdown(selector, vData) {

            if (vData != null) {

                $('#' + selector).trigger("change");

                var vItems = [];
                vItems.push('<option  value="0">Seleccione una requisicion</option>');

                for (var i in vData) {
                    if (vData[i].Selected)
                        vItems.push('<option selectedselected=selected value="' + vData[i].requisition_code + '">' + "Folio: #" + vData[i].requisition_code + " - " + vData[i].requisition_date_string + '</option>');
                    else
                        vItems.push('<option value="' + vData[i].requisition_code + '">' + "Folio: #" + vData[i].requisition_code + " - " + vData[i].requisition_date_string + '</option>');
                }
                $('#' + selector).empty();
                $('#' + selector).append(vItems.join(''));
                $('#' + selector).val(0).trigger('change');

            }
            else {
                var vItems = [];
                vItems.push('<option  value="0">Seleccione una requisicion</option>');
                $('#' + selector).empty();
                $('#' + selector).append(vItems.join(''));
                $('#' + selector).val(0).trigger('change');

            }
        }


        function ShowDetail() {

            var id = $("#requisition-select").val()

            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionGetItemsByRequisitionBy", "FixedAsset"))",
                data: {
                    "id": id,
                },
                success: function (response) {

                    if (response.success) {

                        EndLoading();
                        tableRequisition.clear().draw();
                        tableRequisition.rows.add(response.Json);
                        tableRequisition.columns.adjust().draw();
                    }
                    else {
                        EndLoading();
                        toastr.warning(returndata.message);
                    }
                },
                error: function () {
                   EndLoading();
                   toastr.error('Error inesperado contactar a sistemas');
                }
            });

            $('#div-requisition-table').removeClass("hide");
            $('#div-requisition-table').animatePanel();

        }

        function SaveRequisition() {

            requisitionFlag = true;
            $("#div-requisition").addClass("hide");
            var id = $("#requisition-select").val()
            $("#requisition_id").val(id)

        }

        function GetAmount(e) {

            $("#upload-file-info").html($(e).val());

            var formdata = new FormData();
            var fileInput = document.getElementById('file');
            if (fileInput.files.length == 0) {
                toastr.error("FAVOR DE SELECCIONAR XML");
            }
            else {

                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/FixedAsset/ActionXMLAmount');
                xhr.send(formdata);
                xhr.overrideMimeType("application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success) {
                            $("#amount_xml").val(response.Amount)
                        }

                    }
                }
            }

        }

        function AddFixedAsset() {

            if ($("#folio").val() == "") {
                $("#folio").focus()
                toastr.warning("Favor de llenar el Identificador.");
                return
            }

            if ($("#fixed-select").val() == "") {
                $("#fixed-select").focus()
                $("#fixed-select").select2('open')
                toastr.warning("Favor de llenar el tipo de activo.");
                return
            }

            if ($("#description").val() == "") {
                $("#description").focus()
                toastr.warning("Favor de llenar la descripcion.");
                return
            }

            var Fixed = {
                fixed_asset_folio: $("#folio").val(),
                description: $("#description").val(),
                fixed_asset_code: $("#fixed-select").val(),
                serie: $("#serie").val(),
                model: $("#model").val(),
                brand: $("#brand").val(),
                cost: 0,
                iva: 0
            };

            FixedList.push(Fixed);

            table.clear().draw();
            table.rows.add(FixedList);
            table.columns.adjust().draw();

            Clear();

        }

        function Calculate(posicion) {

            var subTotal = 0;
            var ivaTotal = 0;
            var Total = 0;

            var cost = $("#cost_config_" + posicion).val();
            var iva = $("#iva_config_" + posicion).val();

            FixedList[posicion].cost = cost;
            FixedList[posicion].iva = iva;

            table.clear().draw();
            table.rows.add(FixedList);
            table.columns.adjust().draw();

            for (var i = 0; i < FixedList.length; i++) {
                subTotal += parseFloat(FixedList[i].cost) 
                ivaTotal += parseFloat(FixedList[i].iva)
            }

            Total = parseFloat(subTotal + ivaTotal);

            totales[0].value = subTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })
            totales[2].value = ivaTotal.toLocaleString('en-US', { style: 'currency', currency: 'USD' })
            totales[3].value = Total.toLocaleString('en-US', { style: 'currency', currency: 'USD' })

            table_totales.clear().draw();
            table_totales.rows.add(jQuery(totales));
            table_totales.columns.adjust().draw();

        }

        function Clear() {

            $("#folio").val("")
            $("#description").val("")
            $("#fixed-select").val()
            $("#serie").val("")
            $("#model").val("")
            $("#brand").val("")
            $('#fixed-select').val("").trigger('change')
                                    
        }


        function Save() {
            // VALIDACIONES
            if ($("#date").val() == "") {
                $("#date").focus()
                toastr.warning("Favor de agregar fecha de adquisicion");
                return
            }

            if ($("#supplier-select").val() == "") {
                $("#supplier-select").focus()
                $("#supplier-select").select2('open')
                toastr.warning("Favor de seleccionar proveedor.");
                return
            }

            if ($("#currency-select").val() == "") {
                $("#currency-select").focus()
                $("#currency-select").select2('open')
                toastr.warning("Favor de seleccionar moneda.");
                return
            }

            if (FixedList.length == 0) {
                toastr.warning("Favor de agregar activos");
                return
            }


            var subTotal = 0;
            var ivaTotal = 0;
            var Total = 0;
            var totalXml = $("#amount_xml").val()

            for (var i = 0; i < FixedList.length; i++) {
                subTotal += parseFloat(FixedList[i].cost)
                ivaTotal += parseFloat(FixedList[i].iva)
            }
            Total = parseFloat(subTotal + ivaTotal);

            if (parseFloat(totalXml) != Total) {
                toastr.warning("El monto no es igual al monto del XML o el XML es incorrecto, favor de corregir");
                return 
            }

            //Traer todos los datos.
            var date = $("#date").val();
            var requisition = $("#requisition_id").val()
            var supplier_id = $("#supplier-select").val()
            var currency = $("#currency-select").val()
            var policy = $("#policy").val()


            var formdata = new FormData();
            var fileInput = document.getElementById('file');
            if (fileInput.files.length == 0) {
                toastr.error("FAVOR DE SELECCIONAR XML");
            }
            else {

                for (i = 0; i < fileInput.files.length; i++) {
                    formdata.append(fileInput.files[i].name, fileInput.files[i]);
                }

                formdata.append("Acquisition", date);
                formdata.append("Requisition", requisition);
                formdata.append("Supplier", supplier_id);
                formdata.append("Currency", currency);
                formdata.append("Policy", policy);

                formdata.append("Items[]", JSON.stringify(FixedList));

                console.log(FixedList);

                StartLoading

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/FixedAsset/ActionRegisterFixedAsset');
                xhr.send(formdata);
                xhr.overrideMimeType("application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success) {

                            EndLoading
                            console.log(response.message)

                            swal({
                                title: "Requisicion Registrada",
                                type: "success",
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Aceptar'
                            }, function () {
                                setTimeout(function () {
                                    StartLoading();
                                    window.location.href = '/FixedAsset/RFX001';
                                }, 500);
                            });


                        } else {
                            EndLoading
                            console.log(response.message)
                        }

                    }
                }
            }
        }


    </script>
}