﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model FloridoERP.ViewModels.FixedAsset.FixedAssetRegistrationViewModel

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li> <span>Activo Fijo</span></li>
                    <li><a href="#">Funciones</a></li>
                    <li class="active">
                        <span>Transferencia de Activos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Funciones.
            </h2>
            <small>Transferencia de Activo Fijo.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">

                    <div class="col-lg-12">
                        <h3 class="font-bold">Activos</h3>
                    </div>

                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="table-fixed" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Identificador</th>
                                        <th>Activo Fijo</th>
                                        <th>Descripcion</th>
                                        <th>Tienda</th>
                                        <th>Transferir</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hpanel hide" id="div-transfer">
                <div class="panel-body">

                    <div class="col-lg-12">
                        <h3 class="font-bold">Activos Para Transferir</h3>
                    </div>

                    <div class="form-group col-lg-2">
                        <label for="Almacenes" title="Almacenes" data-toggle="tooltip" data-placement="right">Tienda a transferir:</label>
                        @Html.DropDownListFor(model => model.site_code, Model.SitesSelectList, htmlAttributes: new { @class = "form-control", @id = "site" })
                    </div>

                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="table-transfer" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Identificador</th>
                                        <th>Activo Fijo</th>
                                        <th>Descripcion</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-lg-12 ">
                        <br />
                        <button onclick="Transfer()" class="btn btn-primary pull-right" type="button" id="save_button"> <i class="fa fa-truck"> </i>   Enviar</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function ()
        {
            window.setTimeout(function ()
            {
                StartLoading();
                $(".normalheader").addClass("small-header");
                $("#fa").removeClass("fa-arrow-up").addClass("fa-arrow-down");
                $("#hbreadcrumb").removeClass("m-t-lg");
                GetFixed();

            }, 1000);
        });

        ListTransfer = [];

        $("#site").select2({
            minimumInputLength: 0,
            formatInputTooShort: function () { return "Ingresa Nombre o Codigo de Almacen."; },
            matcher:
                function (term, text, option)
                {
                    return text.toUpperCase().indexOf(term.toUpperCase()) >= 0 || option.val().toUpperCase().indexOf(term.toUpperCase()) >= 0;
                }
        });


        const formatter = new Intl.NumberFormat('en-US',
            {
                style: 'currency',
                currency: 'USD'
            });

        var table = $('#table-fixed').DataTable({
            autoWidth: false,
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "",
                "sInfoEmpty": "",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria":
                {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'excel',
                    text: 'EXCEL',
                    className: 'btn-sm btn-success',
                    filename: 'Activos',
                    footer: true
                },
            ],
            columns:
                [
                    { data: 'fixed_asset_id' },
                    { data: 'fixed_asset_folio' },
                    { data: 'fixed_asset_name' },
                    { data: 'description' },
                    { data: 'site_name' },
                    { data: null },
                ],
            columnDefs:
                [
                    {
                        data: null,
                        width: "1%",
                        defaultContent: '<button class="btn btn-xs btn-outline btn-primary center-block" id="send-button" type="submit"><i class="fa fa-plus"></i></button> ',
                        targets: [5]
                    }
                ]
        });

        var tableTransfer = $('#table-transfer').DataTable({
            autoWidth: false,
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "",
                "sInfoEmpty": "",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": { "sFirst": "Primero", "sLast": "Último", "sNext": "Siguiente", "sPrevious": "Anterior" },
                "oAria":
                {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons: [
                {
                    extend: 'excel',
                    text: 'EXCEL',
                    className: 'btn-sm btn-success',
                    filename: 'Activos',
                    footer: true
                },
            ],
            columns:
                [
                    { data: 'fixed_asset_id' },
                    { data: 'fixed_asset_folio' },
                    { data: 'fixed_asset_name' },
                    { data: 'description' },
                ],
            columnDefs:
                [

                ]
        });


        function GetFixed()
        {
            $.ajax({
                url: '@Url.Action("ActionGetReport", "FixedAsset")',
                type: "GET",
                data:
                {
                    "site": "0011"
                },
                success:
                    function (returndata)
                    {
                        if (returndata.success == true)
                        {
                            console.log(returndata.data)

                            table.clear().draw();
                            table.rows.add(returndata.data)
                            table.columns.adjust().draw();

                            EndLoading();
                        }
                        else
                        {
                            EndLoading();
                            if (returndata.responseText === 'Termino tu sesión.')
                            {
                                SessionFalse(returndata.responseText);
                                EndLoading();
                            }
                            else
                            {
                                toastr.warning(returndata.responseText);
                                EndLoading();

                            }
                        }
                    },
                    error:
                    function ()
                    {
                        toastr.error('Error inesperado contactar a sistemas.');
                        EndLoading();

                    }
            });
        }

        $('#table-fixed tbody').on('click', '#send-button', function () {

            var id = "";
            var name = "";
            var folio = "";
            var description = "";

            var values = table.row($(this).parents('tr')).data();
            values = $.map(values, function (value, index) {
                switch (index) {
                    case 'fixed_asset_id':
                        id = value
                        break;
                    case 'fixed_asset_folio':
                        folio = value
                        break;
                    case 'fixed_asset_name':
                        name = value
                        break;
                    case 'description':
                        description = value
                        break;
                }
            });

            var fixed = {
                fixed_asset_id: id,
                fixed_asset_folio: folio,
                fixed_asset_name: name,
                description: description,
            };

            //Validar id duplicado
            for (var i = 0; i < ListTransfer.length; i++) {

                if (ListTransfer[i].fixed_asset_id == fixed.fixed_asset_id) {
                    toastr.warning("Activo ya seleccionado.");
                    return false; 
                }

            }

            ListTransfer.push(fixed);

            tableTransfer.clear().draw();
            tableTransfer.rows.add(ListTransfer);
            tableTransfer.columns.adjust().draw();

            $('#div-transfer').removeClass("hide");
            $('#div-transfer').animatePanel();


        });

        function Transfer() {

            if ($("#site").val() == "") {
                $("#site").select2('open');
                toastr.warning("Seleccione destino.");
                return false;
            }

            $.ajax({
                url: '@Url.Action("ActionTransfer", "FixedAsset")',
                type: "POST",
                data:
                {
                    "site": $("#site").val(),
                    "list": ListTransfer
                },
                success:
                    function (returndata)
                    {
                        if (returndata.success == true)
                        {
                            swal({
                                title: "Activo(s) Transferidos",
                                type: "success",
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'Aceptar'
                            }, function () {
                                setTimeout(function () {
                                    StartLoading();
                                    window.location.href = '/FixedAsset/TFX001';
                                }, 500);
                            });
                        }
                        else
                        {
                            EndLoading();
                            if (returndata.responseText === 'Termino tu sesión.')
                            {
                                SessionFalse(returndata.responseText);
                                EndLoading();
                            }
                            else
                            {
                                toastr.warning(returndata.responseText);
                                EndLoading();

                            }
                        }
                    },
                    error:
                    function ()
                    {
                        toastr.error('Error inesperado contactar a sistemas.');
                        EndLoading();

                    }
            });


        }




    </script>
}
