﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FloridoERP.ViewModels.FixedAsset.FixedAssetRegistrationViewModel

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i id="fa" class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li> <span>Activo Fijo</span></li>
                    <li><a href="#">Funciones</a></li>
                    <li class="active">
                        <span>Transferencia de Activos</span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Recepcion.
            </h2>
            <small>Recepcion de Activo Fijo.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">

                    <div class="col-lg-12">
                        <h3 class="font-bold">Activos</h3>
                    </div>

                    <div class="form-group col-lg-2">
                        <label for="Almacenes" title="Almacenes" data-toggle="tooltip" data-placement="right">Tienda a transferir:</label>
                        @Html.DropDownListFor(model => model.site_code, Model.ListSelectProcess, htmlAttributes: new { @class = "form-control", @id = "process", @onchange = "GetHeaders()" })
                    </div>

                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="table-transfer" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Folio</th>
                                        <th>Transfiere</th>
                                        <th>Recibe</th>
                                        <th>Fecha</th>
                                        <th>Estado</th>
                                        <th>Detalle</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@*  Modal - Consulta  *@
<div class="modal fade hmodal-info" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group col-lg-8">
                            <h3 class="font-bold" style="display: inline-block;">Transferencia &nbsp;</h3>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group col-lg-4">
                            <h4 style="display: inline-block;">Folio: &nbsp;</h4>
                            <h4 style="display: inline-block;" id="folio_no" name="po_no"></h4>
                        </div>
                        <div class="form-group col-lg-4">
                            <h4 style="display: inline-block;">Transfiere: &nbsp;</h4>
                            <h4 style="display: inline-block;" id="transfer_name"></h4>
                        </div>
                        <div class="form-group col-lg-4">
                            <h4 style="display: inline-block;">Recibe: &nbsp;</h4>
                            <h4 style="display: inline-block;" id="site_name"></h4>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="table_items" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Identificador</th>
                                        <th>Activo</th>
                                        <th>Descripcion</th>
                                        <th>Modelo</th>
                                        <th>Marca</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div style="padding-top:1em;" class="pull-right">
                    <button class="btn btn-info" id="add-button" onclick="Procesar()"> Recibir </button>
                    <button class="btn btn-primary" data-dismiss="modal" onclick="CloseModal()"> Cerrar </button>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/slimscroll/js")
    @Scripts.Render("~/bundles/touchspin/js")
    <script type="text/javascript">

        $("#process").select2();

        var table = $('#table-transfer').DataTable({
            oLanguage:
            {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ Registros.",
                "sZeroRecords": "No se encontraron resultados.",
                "sEmptyTable": "No hay requisiciones",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros.",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros.",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros.)",
                "sInfoPostFix": "",
                "sSearch": "Buscar : ",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate":
                {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria":
                {
                    "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            },
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-left'B><'col-sm-4'f>t<'col-sm-6'i><'col-sm-6'p>>",
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            buttons:
                [

                ],
            columns:
                [
                    { data: 'document_no' },
                    { data: 'transfer_site_code_name' },
                    { data: 'destination_site_code_name' },
                    { data: 'transfer_date' },
                    { data: 'status_str' },
                    { data: null }
                ],
            columnDefs:
                [
                    {
                        targets: [5],
                        defaultContent: '<button class="btn btn-xs btn-outline btn-info" id="apply-button" type="submit">Detalle</button>',
                    },
                    {
                        targets: [3],
                        render: function (data, type, row) {
                            return moment(data).format('DD/MM/YYYY');
                        },
                    }
                ]
        });

        var tableItems = $('#table_items').DataTable({

            "paging": false,
            "ordering": false,
            "info": false,
            "searching": false,

            columns: [
                { data: 'fixed_asset_id' },
                { data: 'fixed_asset_folio' },
                { data: 'fixed_asset_code' },
                { data: 'description' },
                { data: 'model' },
                { data: 'brand' },
            ]

        });


        function CloseModal() {
            $('#modal').modal('hide');
        }


        function GetHeaders() {

            var process = $("#process").val();

            //Esconder boton
            if (process != "Pendiente") {
                $("#add-button").addClass("hide");
            } else {
                $("#add-button").removeClass("hide")
            }


            StartLoading();

            $.ajax({
                url: '@Url.Action("ActionGetHeaderTransfer", "FixedAsset")',
                type: "GET",
                data: { "process": process },
                success: function (response) {
                    if (response.success) {
                        console.log(response.json)
                        table.clear().draw();
                        table.rows.add(response.json)
                        table.columns.adjust().draw();
                        EndLoading();
                    }
                    else {
                        EndLoading();
                        toastr.warning(response.responseText + '.');
                    }
                },
                error: function () {
                    EndLoading();
                    toastr.error(' Error inesperado contactar a sistemas.');
                }
            });
        }


        $('#table-transfer tbody').on('click', '#apply-button', function () {

            $('#modal').modal('show');
            var folio = "";

            var values = table.row($(this).parents('tr')).data();
            values = $.map(values, function (value, index) {
                switch (index) {
                    case 'document_no':
                        folio = value
                        $("#folio_no").text(value);
                        break;
                    case 'transfer_site_code_name':
                        $("#transfer_name").text(value);
                        break;
                    case 'destination_site_code_name':
                        $("#site_name").text(value);
                        break;

                }
            });

            console.log(folio);

            $.ajax({
                  type: "GET",
                  url: "@(Url.Action("ActionGetDetailTransfer", "FixedAsset"))",
                  data: {
                      "folio": folio,
                  },
                  success: function (returndata) {
                      if (returndata.success) {

                          tableItems.clear().draw();
                          tableItems.rows.add(returndata.json)
                          tableItems.columns.adjust().draw();

                          EndLoading();
                      }
                      else {
                          toastr.warning("Error a consultar tienda.");
                          EndLoading();
                      }
                  },
                  error: function () {
                      toastr.error('Error inesperado contactar a sistemas.');
                      EndLoading();
                  }
              });

        });

        function Procesar() {

            StartLoading();

            $.ajax({
                type: "GET",
                url: "@(Url.Action("ActionCompleteTransfer", "FixedAsset"))",
                data: {
                    "folio": $("#folio_no").text()
                },
                success: function (returndata) {
                    if (returndata.success) {
                        EndLoading();
                        $('#modal').modal('hide');

                        swal({
                            title: "Activo(s) Recibidos",
                            type: "success",
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Aceptar'
                        }, function () {
                            setTimeout(function () {
                                StartLoading();
                                window.location.href = '/FixedAsset/TFX002';
                            }, 500);
                        });


                    }
                    else {
                        toastr.warning("Error a consultar tienda.");
                        EndLoading();
                    }
                },
                error: function () {
                    toastr.error('Error inesperado contactar a sistemas.');
                    EndLoading();
                }
            });
        }

    </script>
}

