﻿<div class="partial-report" data-bind="visible: reportVisible">
    <div class="row">
        <div class="col-lg-3">
            <label>Categoria</label>
            <select class="form-control select2" data-bind="options: Categories, optionsText: 'description', optionsValue: 'id_category', value: CategoryId, optionsCaption: 'Todas las categorias', event: { change: categoryChanged }"></select>
        </div>
        <div class="col-lg-3">
            <label>Etiqueta</label>
            <select class="form-control select2" data-bind="options: Labels, optionsText: 'description', optionsValue: 'description', value: LabelId, optionsCaption: 'Todas las etiquetas'"></select>
        </div>
        <div class="col-lg-3">
            <br />
            <button class="btn btn-primary" data-bind="click: getReport"><i class="fa fa-eye"></i> Mostrar</button>
            <button class="btn btn-success" data-bind="click: printReport, attr: { 'disabled': isDisabled }" disabled><i class="fa fa-print"></i> Imprimir</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group col-lg-4">
            <label title="Fecha Inicial" data-toggle="tooltip" data-placement="right">Período</label>
            <div class="input-daterange input-group">
                <div class="input-group date">
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                    <input class="form-control dates" autocomplete="off" readonly="readonly" data-bind="value: FirstDate" />
                </div>
                <span class="input-group-addon">A</span>
                <div class="input-group date">
                    <input class="form-control dates" autocomplete="off" readonly="readonly" data-bind="value: SecondDate" />
                </div>
            </div>
        </div>
    </div>
    <div id="TableDiv" class="animate-panel" data-effect="zoomIn">
        <div class="row table-responsive">
            <table id="Projects" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Titulo</th>
                        <th>Estatus</th>
                        <th>Categoria</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Compromiso</th>
                        <th>Gasto Estimado MXN</th>
                        <th>Gasto Total MXN</th>
                        <th>Gasto Estimado USD</th>
                        <th>Gasto Total USD</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>