﻿<div class="animate-panel partial-detail" data-effect="zoomIn" data-bind="visible: detailVisible">
    <div class="content">
        <div class="row">
            <div class="col-md-8">

                <div class="font-bold m-b-sm">Detalles del proyecto</div>

                <div class="hpanel">
                    <div class="panel-body">
                        <div class="pull-right">
                            <button class="btn btn-danger btn-xs return"> <i class="fa fa-reply"></i> Regresar</button>
                        </div>
                        <h2 class="m-t-none" data-bind="text: Title"></h2>
                        <p data-bind="text: Description"></p>
                        <div>
                            <strong>Creado por: </strong> <label class="text-label" data-bind="text: CreatedBy"></label><br />
                            <strong>Fecha de inicio: </strong> <label class="text-label" data-bind="text: StartDate"></label><br />
                            <strong>Fecha compromiso: </strong> <label class="text-label" data-bind="text: CompromiseDate"></label><br />
                            <strong>Fecha de termino: </strong> <label class="text-label" data-bind="text: EndDate"></label><br />
                            <span data-bind="text: Status, attr: { 'class': projectStatus }"></span>
                        </div>
                    </div>
                </div>

                <div class="hpanel">
                    <div class="panel-body">

                        <p><strong>Artículos del proyecto</strong></p>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center">Descripción</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Fecha Inicio</th>
                                        <th class="text-center">Fecha Compromiso</th>
                                        <th class="text-center">Fecha Termino</th>
                                        <th class="text-center">Días</th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: Items">
                                    <tr data-bind="attr: { 'class': Warning }">
                                        <td class="issue-info">
                                            <strong data-bind="text: ItemDescription, attr: { 'data-original-title': LabelDescription }" data-toggle="tooltip"></strong>
                                        </td>
                                        <td class="text-center"><span data-bind="text: Status"></span></td>
                                        <td class="text-center" data-bind="text: StartDate"></td>
                                        <td class="text-center" data-bind="text: EndDate"></td>
                                        <td class="text-center" data-bind="text: RealEndDate"></td>
                                        <td class="text-center" data-bind="text: Days"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">

                <div class="font-bold m-b-sm">Estadísticas del Proyecto</div>

                <div class="hpanel stats">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="pe-7s-cash fa-4x"></i>
                                <h1 class="m-xs text-success" data-bind="text: EstimateCost() +' MXN'"></h1>
                                <p><strong>Costo estimado pesos</strong></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <i class="pe-7s-cash fa-4x"></i>
                                <h1 data-bind="text: TotalCost() +' MXN', attr: { 'class': budgetStatus }"></h1>
                                <p><strong>Costo total pesos</strong></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 text-center">
                                <small class="stat-label">Hoy</small>
                                <h4 class="costs" data-bind="text: TodayCost"></h4>
                            </div>
                            <div class="col-xs-6 text-center">
                                <small class="stat-label">Semana pasada</small>
                                <h4 data-bind="text: CostByWeek"></h4>
                            </div>
                        </div>

                    </div>
                </div>
                
                 <div class="hpanel stats">
                                    <div class="panel-body">
                
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="pe-7s-cash fa-4x"></i>
                                                <h1 class="m-xs text-success" data-bind="{text: estimate_usd() +' USD'}"></h1>
                                                <p><strong>Costo estimado dolar</strong></p>
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <i class="pe-7s-cash fa-4x"></i>
                                                <h1 data-bind="text: total_cost_usd() +' USD', attr: { 'class': budgetStatus }"></h1>
                                                <p><strong>Costo total dolar</strong></p>
                                            </div>
                                        </div>
                
                                        <div class="row">
                                            <div class="col-xs-6 text-center">
                                                <small class="stat-label">Hoy</small>
                                                <h4 class="costs" data-bind="text: today_cost_usd"></h4>
                                            </div>
                                            <div class="col-xs-6 text-center">
                                                <small class="stat-label">Semana pasada</small>
                                                <h4 data-bind="text: cost_by_week_usd"></h4>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                <div class="font-bold m-b-sm">Participantes del Proyecto</div>

                <div class="row" data-bind="foreach: coverageLineRows">
                    <div class="row" data-bind="foreach: $data">
                        <div class="col-md-6">
                            <div class="hpanel">
                                <div class="panel-body text-center">
                                    <img alt="logo" class="img-circle img-small" data-bind="attr: { src: Photo }">
                                    <div class="m-t-sm">
                                        <strong data-bind="text: $data.Name"></strong>
                                        <p class="small">Usuario Encargado</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>