﻿<footer class="footer">
    <div class="pull-left">
        2020 &copy; Distribuidora el Florido S.A. de C.V.
    </div>
    <span class="pull-right">
        <div class="form-group" title="@ViewBag.MyPathInServer" data-placement="top" data-toggle="tooltip">
             GLOBAL ERP
        </div>
    </span>
</footer>